[2019-04-15 15:51] kimaldis commented on #386
macOS Mojave, 10.14.4, Xcode Version 10.2 (10E125), by the way

[2019-04-15 16:14] Vkt0r commented on #386
@kimaldis Thanks for the sample project! I'll take a look as soon as I can.

[2019-04-16 12:09] Mazyod opened #391 "HttpRequest Path Includes Query String"
As far as I know, `path` part of a URL is only `/foo` part of `/foo?a=b`. Hence, my surprise when trying to use this library and seeing `path` printing the whole string.

I made a quick fix on my fork to resolve the issue using `URLComponents`, which required me to bump the macOS deployment target `10.9 -> 10.10`.

Please let me know if you're interested in this change, and I'd be happy to contrib

[2019-04-16 12:37] edwinveger opened #392 "Allow Swift dictionary literals in JSON HttpResponseBody"
At the moment, `HttpResponseBody.json` only supports objects/classes. Dictionary/array literals are not support, because the associated type is `AnyObject`.
Is there any reason why we couldn't change the associated type to `Any` instead?

[2019-04-16 13:19] Mazyod opened #394 "Use Foundation Base64Encoding"
Hello again,

Just stumbled across the base64 implementation in this library, and would suggest it to be switched to use the one provided from Foundation. Happy to open a PR with the change if it's something you'd want. I would also suggest removing the extension and its tests in the future.

https://github.com/Mazyod/swifter/commit/d82f50460e00e23b6c081454f0fcf2df13f01858

[2019-04-16 23:25] Guru-Work opened #395 "Support for https"
If swifter adapts to https it will be a great add on. This has the potential to become the goto library for mocking data in XCUITests.

[2019-04-22 10:58] AndrewBennet commented on #381
Any chance you could release a new version with this fix? I can't use the current Swift 5 release (1.4.6) because of this issue - I've pointed my Podfile to the latest commit on master instead. Thanks!

[2019-04-22 14:26] Vkt0r commented on #381
Hey @AndrewBennet yes we would try to release a new version soon, but you can always set your `Podfile` to the branch `stable` in the meantime and not to one specific commit.

[2019-04-24 11:38] theRealGupta commented on #389
@YiYiZheng  Hi did you get any solution of this?

jpg images is working fine problem with png images

[2019-04-25 07:44] YiYiZheng commented on #210
[code]

It does not work in 1.4.6. Why? Thank you @glock45

[2019-04-25 15:03] page-fault-in-nonpaged-area commented on #141
Nope. tvOS still not found

[2019-04-30 09:11] sonic555gr opened #402 "Regression on v1.4.6"
Hello! I am experiencing a regression on v1.4.6.

Consider the following code.

[code]

[code]

Registering only Onboarding success. Calls the response block normally.
But registering all 3 paths makes `onboarding` to return 404 not found.
This is part of a testing suite and it started falling after updating to v1.4.6

It works fine on v1.4.5

[2019-04-30 13:46] Vkt0r commented on #402
Hey, @sonic555gr Thanks for reporting this! Can you please try your issue pointing to `stable`? We worked in a fix for two similar issues two weeks ago.

[2019-04-30 14:08] sonic555gr commented on #402
Hello @Vkt0r.
I installed "stable" branch but it seems to be failing on a different issue now.
I can't test the same problem since the tests fail much earlier.
 Apparently the GET requests return status code of `-1` and no response body.

[2019-04-30 14:14] sonic555gr commented on #402
I'm also sending you the Charles Session of one of the requests with the faulty response.
[code]

[2019-04-30 18:35] Joebayld commented on #386
How goes this? Need any help? Perhaps we make a release without the changes made to 'shareFilesFromDirectory()' as this is a breaking change?

[2019-05-01 03:16] Vkt0r commented on #402
Hey, @sonic555gr Thanks for the Charles response! Nevertheless, I'm seeing something weird in your response just in the following line:

[code]

As you can see above we set the version of the server is being used and your response is telling me you're using the version `1.3.3`. If you're using Cocoapods or Carthage you need to specify the `stable` branch.

Below you can see the Charles session res

[2019-05-01 04:14] Vkt0r commented on #394
Hey, @Mazyod sorry for the delay. Thanks for your suggestion and it makes a lot of sense to me to use the base64 encoding algorithm from Apple in `Foundation`. I would be happy to review your PR !

[2019-05-01 04:22] Vkt0r commented on #372
I don't think you can use it in ObjC as we're not exporting anything to be used in ObjC (`@objc`) so the interoperability it shouldn't work.

[2019-05-01 04:22] #372 closed, assigned to nobody

[2019-05-01 04:30] Vkt0r commented on #391
Hey, @Mazyod This is interesting, thanks from bringing this up! Please create a PR with your changes and I would be happy to review it.

[2019-05-01 04:49] #394 closed, assigned to nobody

[2019-05-01 04:53] #306 closed

[2019-05-01 04:54] #303 closed

[2019-05-01 04:59] Vkt0r commented on #294
The issue with the overlapping paths in the routes was solved in #382. Feel free to open in case it wasn't solved for you.

[2019-05-01 04:59] #294 closed

[2019-05-01 05:07] Vkt0r commented on #126
This would be covered in the documentation I'm working. But the short answer is you can verify it intercepting the request in your server and handling properly but by default, there is no support for optional parameters.

[2019-05-01 05:07] #126 closed

[2019-05-01 05:16] Mazyod commented on #346
If I may add, one tricky aspect of matching against query parameters directly on the router is that they may not be in the order you'd expect. `/foo?lang=en&device=ios` is essentially equivalent to `/foo?device=ios&lang=en`. It also raises the question of, should `/foo?lang=en` match `/foo?bar=baz&lang=en`?

From what I see in other web frameworks, query string may not necessarily be part of the r

[2019-05-01 13:23] sonic555gr commented on #402
It was definitely the right branch I pulled from cocoapods
`pod 'Swifter', :git => 'git@github.com:httpswift/swifter.git', :branch => 'stable'`

[2019-05-01 15:02] Vkt0r commented on #402
@sonic555gr Can you please set the following line  in your `Podfile`:

[code]
Afterward, run `pod update Swifter` in your terminal and try again your issue

If the above steps don't work for you I going to need you to create a sample project reproducing your issue if that's possible.

[2019-05-01 15:10] sonic555gr commented on #402
@Vkt0r I will do it again, but this is what I'm doing. and That is the response I'm getting. I will enclose the entire session from charles and tomorrow do some debugging on my tests and try to get closer to the problem, maybe pull swifter and write some tests that replicated the problem.

[2019-05-01 15:11] Vkt0r commented on #402
Thanks, @sonic555gr That would be great, keep me posted!

[2019-05-02 17:22] sonic555gr commented on #402
Spend a bit of time on it. And found the issue. After adding "stable" as a development pod and trying to breakpoint my way through the problem I realised that the breakpoints weren't working. Derived data was somehow corrupted after updating the Swifter pod and while it kept working it was using some obscure version of the Swifter library (I don't even have 1.3.3 installed). I was flabbergasted to

[2019-05-02 21:31] #391 closed, assigned to nobody

[2019-05-02 21:39] Vkt0r commented on #402
@sonic555gr Thanks for reporting your results. Glad to hear your problem is solved in the `stable` branch. We will be releasing a new version very soon 🚀 !

[2019-05-02 21:40] #402 closed, assigned to nobody

[2019-05-03 12:28] Mazyod opened #405 "Matching Arbitrary Path"
Hello,

It's been great contributing small fixes to this library (Kudos to @Vkt0r), so I have a slightly more challenging problem now which I'd like to collaborate/contribute as well.

Basically, I have a requirement to make the router match against an arbitrary path. Here is the exact code I have in my project:

[code]

Basically, I use `mock-server` as an entry point to the mock server features,

[2019-05-03 21:12] Vkt0r commented on #386
@kimaldis I found the source of your error! Your error was coming from the impossibility of the [`sendfile`](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/sendfile.2.html) function to write into the socket, see below:

https://github.com/httpswift/swifter/blob/3367b63158fdf14d4eb9697552c42f87bf72fc95/XCode/Sources/Socket%2BFile.swift#L39-L53

If

[2019-05-03 21:14] Vkt0r commented on #386
@Joebayld I don't know exactly what are you doing and how but as I explained above I tested the `shareFilesFromDirectory()` in the `DemoServer.swift` and it's working perfectly. So please check it out your problem or try to create sample project with the reproduced bug in order to help you.

[2019-05-03 21:17] Joebayld commented on #386
I'm sharing files that are inside my App Bundle via `shareFilesFromDirectory(Bundle.main.resourcePath! + "/dist/assets")`..

I had sandbox disabled and it still didn't work. I can try to make a test project - unless you just try sharing a file from inside the app bundle on your test project?

[2019-05-03 21:31] Joebayld commented on #386
Update - still not working for me in 1.4.6. Below is how I'm using the server.. the index.html file references static assets. I constantly get a error 404 not found in version 1.4.6.

<img width="699" alt="image" src="https://user-images.githubusercontent.com/9399317/57166749-f9d98f80-6daf-11e9-8565-4abb5782bb12.png">

[2019-05-03 22:01] Vkt0r commented on #386
@Joebayld I can confirm that's working fine as in the `DemoServer.swift` when you run the `SwifterSampleOSX` macOS app the dir is the one in the main bundle. But you can replace it with your line and it should be there a `logo.png` we have in the app.

Change this:

[code]
to this in the `main.swift`:

[code]

And run the sample project. Then you can try to get the file in the address `http://loca

[2019-05-04 03:33] Joebayld commented on #386
I think found the issue.. My assets folder has nested sub-folders. Turns out that doesn't work in this new update.. Would that be considered a bug? If you share the folder you would think it shares all sub-folders..

The shareFilesFromDirectory only goes down one level.

[2019-05-04 04:28] Joebayld commented on #386
@Vkt0r Here is a test project for my scenario.
https://www.dropbox.com/s/z836ap3vl6bvghh/Swifter_146_Issue.zip?dl=0

I intentionally don't have the swifter framework linked. I did that so you can try 1.4.5 and 1.4.6 to see the difference.

[2019-05-05 01:14] Vkt0r commented on #386
Hey, @Joebayld I run your project with the latest changes in `stable` specifying in the `Podfile`:

[code]

Your project and the one of @kimaldis made me realize that we need to change the `shareFilesFromDirectory` function to return the errors happening as by default is returning a 404 in case of any and this is not useful for anyone experimenting any kind of error.

So once I tracked the error t

[2019-05-05 01:22] Vkt0r opened #407 "Returns errors from Files helper functions"
Recently I was helping in #386 with two cases I once I tested the Demo projects they gave me to reproduce the issue I noticed the functions:

* `shareFilesFromDirectory`
* `shareFile`

Both returns a `404` in case of some error happened during the execution of the function and this is not helpful at all for users trying to figure out a way to see what's happening exactly.

In the two cases I found

[2019-05-05 02:36] Joebayld commented on #386
Hey @Vkt0r,

Understood. I see your workaround but unfortunately I don’t know that if that solves my issue here. I’m sharing a few folders and to do it that way would require creating a new route for each folder. In prior versions it would allow sharing a root folder and would also share sub-folders as well. (To navigate to sub-folders you would have slashes in the url)

It’s odd that it’s throwin

[2019-05-08 16:02] killmyrene opened #409 "Routing long and arbitrary paths with wildcard doesn't work in 1.4.3"
On 1.3.3 we make use of the swifter to intercept manifest & segment calls from the AVPlayer using the '*/:lasthPath' route. Something like this

server["*/:lastPath"] = { request in
    return something
}

That allows us to proxy paths like /AEG_CP/soemthing/seomtgin/output_mobile_hls.ism/index.m3u8 and /AEG_CP/aomething/otherSomethging/123123123/0123123.ts

On 1.4.3 however it doesn't let us do t

[2019-05-09 20:25] nehayward commented on #395
Is anyone working on this yet?

[2019-05-11 19:29] Vkt0r commented on #405
Hey, @Mazyod Thanks for bringing this up. You're completely right. the possibility to match arbitrary path was removed in 1.4.6. Let me explain a little more about the issue we were having allowing arbitrary paths or match all routes like `/mock-server/:mockpath`.

The first issue reported was in #355 with examples of routes like:

[code]

In that case, the routers were giving precedence to paths

[2019-05-11 19:30] Vkt0r commented on #386
@Joebayld See this please #405 and my comment in the issue. That's the same issue you're having now!

[2019-05-11 19:31] Vkt0r commented on #409
Hey, @killmyrene Thanks for reporting this. Your issue is a duplicate of #405, please see my comments about it.

[2019-05-11 19:32] Vkt0r commented on #409
Duplicate of #405

[2019-05-12 18:38] umverteiler commented on #395
Seems to be a duplicate - #111

[2019-05-16 05:07] witchlock opened #411 "Support different response based on different request body?"
When work with `graphql` the url is always the same and query is based on request body which is not easy to be matched in `swifter`, any solution or suggestion? thanks.

[2019-05-17 05:23] #411 closed, assigned to nobody

[2019-05-17 05:24] witchlock commented on #411
managed to convert `[UInt]` body to `string` to search. Not ideal but work.

[2019-05-17 17:49] Guru-Work commented on #411
@witchlock  : can you elaborate on how you solved this or copy paste the snippet of code which helped you. I agree that this is not the best way to solve it and will be useful if swifter can differentiate between request parameters or request headers.

[2019-05-25 18:24] umverteiler commented on #389
That's interesting - I have the same issue here. JPG images are working fine, all PNG images won't be shown.

[2019-05-28 07:01] apocolipse opened #413 "Connection: Keep-Alive not properly terminating connections."
#### Description
When requests are sent with `Connection: Keep-Alive`, they can be kept indefinitely if the client exhibits unusual circumstances.

#### To recreate:
###### Server
Simple server running on linux server with arbitrary endpoint (`/` `hello world`)
###### Client
iOS Client with button(s) to hit the endpoint with `URLSession` (Note: `URLSession` has known issues with keep-alive as well

[2019-06-07 22:41] prasann-1433 opened #414 "Version 1.4.6 doesn't support swift 5.0"
**Description:**
While using the swift 1.4.6 looks like having issue with swift 5 and hence not able to run it properly using xCode 10.2 which uses swift 5.0.

When we point to "stable branch" it seems to be working fine with swift 5.0, but since this is not an officially declared branch, we are looking for an officially release branch which can be consumed.

Please treat this is as critical bug a

[2019-06-09 01:40] Vkt0r commented on #414
@prasann-1433  Thanks for your report. I'll be releasing a new version this weekend.

[2019-06-10 14:48] Vkt0r commented on #414
[1.4.7](https://github.com/httpswift/swifter/releases/tag/1.4.7) has been released.

[2019-06-10 14:48] #414 closed, assigned to nobody

[2019-06-10 14:50] #380 closed, assigned to nobody

[2019-06-12 23:32] prasann-1433 opened #417 "change behavior with 1.4.7"
I am having url path say
/test/demon/... ?acb=1.0?def=2.0
 in 1.4.6 we can easily parse this using server[test/:path] and it used to give me request.params[:path] like "/demon/.. "

while in 1.4.7
same url path doesn't get recognize with server[test/:path] infact i need to give like
server[test/demon/:path] or server[test/*/:path].

Is there a new changes which we need to consume in order to use
/

[2019-06-13 02:15] #409 closed, assigned to nobody

[2019-06-13 02:16] Vkt0r commented on #417
Duplicate of #405. Please see the mentioned issue and how the behavior has changed.

[2019-06-13 02:17] #417 closed, assigned to nobody

[2019-06-17 11:30] Usernameisalreadytaken5 commented on #377
@Vkt0r you don't need Ipad Mini  just send large file i.e 30MB or 100MB

[2019-06-21 23:35] lu15gv opened #418 "Same folder and file name"
Swifter is not sending back the response in this scenario:

I have this json account file:
`https://.../user/account`

And also, I have an account folder at the same level, that contains other files, like this config file:
`https://.../user/account/config`

The problem is, if I try to stub both responses at the same time:

The second one works but the first one don't
If I stub each one isolated, b

[2019-06-24 15:25] Vkt0r commented on #418
Hey, @lu15gv Thanks for reporting this. Can you please share your route declaration?

[2019-06-24 15:26] #392 closed, assigned to nobody

[2019-06-24 21:25] lu15gv commented on #418
Sure:
[code]
And
[code]

[2019-06-27 09:41] venigreat opened #419 "Swifter as proxy server"
In my application, there are a lot of calls to the backend and using stubs for everyone is impossible. Therefore, I wanted to send most of the requests for a real backend and only get the necessary data from the swifter. So I wanted to use swifter as a proxy server. I found a recent discussion about this
https://github.com/httpswift/swifter/issues/376#issuecomment-481514351

Please share exapmle o

[2019-06-28 16:32] pakerwreah opened #420 "Cannot access root path anymore with directoryBrowser"
I used to be able to browse the root path of directoryBrowser, but now I can't.
If I access "http://localhost:8080/files/images" it works, but if I try to access "http://localhost:8080/files" it doesn't work anymore.

I don't remember what version of Swifter I was using when it worked, but now it is the 1.4.7.

This is what I had:
[code]

Now I have to declare another route "/files" and create a 2

[2019-07-02 15:25] Vkt0r commented on #420
Hey, @pakerwreah Thanks for reporting this. Unfortunately this behavior has changed as definition of routes like `/files/:path` was returning incorrect results treating `:path` as a wildcard and causing more problems in the resolution of several routes, see the discussion in #405 for more information.

But if what are you looking for is list a directory you can do it easily but in another way. For

[2019-07-02 16:29] pakerwreah commented on #420
It works if I type:
`curl -v --path-as-is http://localhost:8080/files/.`

But unfortunately it's not very useful that way.

[2019-07-02 16:45] Vkt0r commented on #420
@pakerwreah Can you more specific please about how are you using the `directoryBrowser` specifically? Why is not very useful using the `.` sequence?

[2019-07-02 16:55] #322 closed, assigned to nobody

[2019-07-02 17:43] pakerwreah commented on #420
I use directoryBrowser to explore and download files from my iOS app documents folder. My database file for example is at the root folder.
This functionality is also used by my test team. It's not very productive to tell them to open a terminal and use curl.
If you type `.../files/.` on the web browser it automatically normalizes the path to `.../files`, the same way as curl, but using curl we can

[2019-07-02 17:56] pakerwreah commented on #420
Swifter is still very useful for me because I've built a SQL console with it to query my app's database directly. I've also made a network interceptor using websocket. But as for browsing files, maybe I should search for a FTP server.

[2019-07-02 20:57] Vkt0r commented on #420
@pakerwreah I understand your use now, thanks for sharing it. I think the topic of the wildcard to match all the routes in #405  would help you and solve your problem. Unfortunately, I cannot promise a deadline for when it would come. I would do my best to try to integrate it soon, maybe somebody else can come with a solution, let's see...

[2019-07-03 22:43] Vkt0r commented on #418
@lu15gv Thanks for sharing the example 👍. I created a test to reproduce the issue with the same routes you mentioned above but I couldn't reproduce it, the test is passing successfully I'm afraid.

[code]

Can you please give more information about the issue or create a sample project in which I can take a look ? Also can you please tell me wich version of the project are you using ?

[2019-07-08 18:11] Joebayld commented on #405
Hi,

Will there be support to match arbitrary paths in future versions? I'm staying on 1.4.5 until I can find a workaround..

[2019-07-09 14:19] Vkt0r commented on #405
@Joebayld Yes, that's the plan! Please be careful with `1.4.5` as in cases of routes overlapping it can have issues.

[2019-07-16 18:22] avnerbarr opened #424 "Question - How do i parse JSON in the request body?"
I added a handler like this and am not clear how to parse the request body as a JSON object - the body is `[UInt8]`

[code]

[2019-07-18 11:43] thinkluffy commented on #311
The link can not open anymore, thanks

[2019-07-18 13:30] Vkt0r commented on #348
Duplicate of #311

[2019-07-18 13:30] #348 closed, assigned to nobody

[2019-07-26 05:20] poborin opened #426 "add prebuilt frameworks to releases"
Could you please add prebuilt frameworks to releases.

https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file

[2019-07-31 14:52] gitMartynas commented on #320
would be great to have 207(multiStatus) status code response with JSON, too.

[2019-07-31 15:13] sonic555gr commented on #320
I had to create my own response code with a custom body.
This might be of help
[code]

[2019-08-05 09:55] zubryan opened #428 "html loading issue"
I tried to load local html as follow:
[code]
When I visit http://localhost:9080/index.html, it shows some error as follow. The page loading is ok, but no content showing, maybe it's the problem with resource like css and js?
And when I start a simple http server like 'python -m SimpleHTTPServer', it's working perfectly.

![image](https://user-images.githubusercontent.com/129747/62455597-58e0e300-b

[2019-08-07 06:50] dengjing1994 opened #429 "Question：Why [UInt8] for request.body?"
I try to upload files by WLAN, but the speed is not as fast as expected.
It looks like `let rv = [UInt8](buffer[0..<bytesRead])` which located in `Socket.swift` cost much time. And the [UInt8] is for request.body.

I wonder why [Uint8] is used as the type of request.body?
And will there be potential problem if I use another type(like Data) instead of [UInt8]?

I'm new for Swift and not good at Eng

[2019-08-08 00:10] matcartmill-old opened #430 "Support for 204 No Content"
Is there a way to support mocking out a `204 No Content` response? One of the endpoints I'm working with will return a 204 on success and I don't see a way to handle this.

[2019-08-08 00:27] #430 closed, assigned to nobody

[2019-08-08 00:28] matcartmill-old commented on #430
Didn't realize the `HttpResponse` type has a `raw` case that will take the required parameters.

[2019-08-21 02:54] emorydunn commented on #424
You just need make the body into a `Data` object:

[code]

You could also make an extension to `JSONDecoder` to save some boilerplate:

[code]

Then you could decode directly:

[code]

[2019-08-21 12:40] vrwim opened #431 "Question: Why work with generators?"
I'm currently trying to fix an issue where overwriting the handler for `GET/path/to/*` does not give the correct result. While fixing that bug I have encountered issues because I am not familiar with iterators and recursion, and you seem to use `&` where it's not necessary (I think).

I'd like to know the reasoning behind using `inout`, generators and recursion instead of iteration and arrays beca

[2019-08-22 17:11] ldenoue opened #432 "WebSocket and bufferedCount"
In the WebSocket API for html, they have a bufferedCount property that we can use to determine if we should send more messages or if we should wait.
My app sends image frames from the screen, and I would like to drop frames instead of trying to send them all in case the connected client can’t receive them fast enough.

[2019-08-24 12:22] Usernameisalreadytaken5 commented on #377
I got this error too and use Google to read something about "broken pipe" issue.

Even IBM-Swift/Kitura got this issue as is sock

https://github.com/IBM-Swift/Kitura/issues/594

This issue are also replicated on simulator
- just try to delay request and disable keepalive on my client maybe that solve this issue
- similar on swift python https://stackoverflow.com/questions/24327239/python-swiftcli

[2019-09-06 12:48] denis-ionov opened #433 "WebSocket route query parameters"
Can i get query parameters from websocket route?

[code]

[2019-09-11 05:35] ghost opened #434 "SocketError"
Our app uses the default

`try HttpServer.start()`

to start up Swifter. It also makes use of _Crashlytics_ to record errors and, lately we are receiving the following reports in our _Firebase_ console

`nserror-code: 2`
`nserror-domain: Swifter.SocketError`

Any ideas as to what this `nserror-code` refers to?

[2019-09-12 11:50] ghost commented on #434
This seem to occur when

`try HttpServer.start()`

is called while a server already runs on the same port.

[2019-09-12 11:50] #434 closed, assigned to nobody

[2019-09-18 19:42] andrewtheis opened #435 "Removing/resetting routes"
When using Swifter for unit tests, it would be nice to be able to reset all routes in `tearDown()`. Occasionally a request will fail with error `The network connection was lost`, likely due to stopping/starting several servers very quickly that all try to bind to 8080. Being able to keep an instance running but resetting the routes should make this error less likely.

[2019-10-25 10:28] AndrewSad commented on #435
Or you can add support for multiple ports on server start, for example, I use this in my iOS UI-tests for parallel runs:
[code]

[2019-11-05 04:36] Vkt0r commented on #426
Hey @poborin, yes, of course, we will be adding a prebuilt framework in our upcoming releases.

[2019-11-05 04:37] Vkt0r commented on #418
Closing this, please feel free to open if the issue persists.

[2019-11-05 04:37] #418 closed, assigned to nobody

[2019-11-05 04:57] Vkt0r commented on #424
Closing this, feel free to open another issue if you have more questions.

[2019-11-05 04:57] #424 closed, assigned to nobody

[2019-11-12 15:24] flashanand opened #439 "Is shareFilesFromDirectory Broken?"
I have this code:

let server = demoServer("/Users/anand/Desktop/")
server["/assets/:path"] = shareFilesFromDirectory("/Users/anand/Desktop/")
try server.start(8081, forceIPv4: true)

and i try to open this page :
http://localhost:8081/assets/webpage.html
I am getting "This localhost page can’t be found" Error

Also http://localhost:8081/ looks like this with an Empty Bullet
<img width="199" alt="

[2019-11-19 11:22] antrov commented on #439
Indeed, it is. HttpRequest.params dictionary is always empty, as it is set in HttpServerIO.handleConnection() and never filled with parsed URL components.

It will be fixed by project maintainers or it is recommended to create PR on my own?

[2019-11-19 13:36] Vkt0r commented on #439
@flashanand @antrov There is a discussion about this issue in #420 and #405. @antrov You're more than welcome to create a PR of course, but please read the issues in order to understand how it should work.

[2019-11-19 13:36] Vkt0r commented on #439
Duplicate of #420.

[2019-11-19 13:36] #439 closed, assigned to nobody

[2019-11-22 03:46] jyyblue1987 opened #440 "http server is not started on 10.11"
Dear.

Thank you for reading my issue.
I have launched http server on Mac OS using your library.

Your library is working well on Mac OS 10.13.
but when I run http server on Mac OS 10.11, server is not running and
show bindFailed("Permission denied")

I attached screenshot for my issue.
https://prnt.sc/q0dsx0

I thank if you tell me how to resolve this issue.

Thanks&Regards.

[2019-11-25 09:44] muskacirca commented on #405
Hello,
Any update on this ? Would be a really nice feature.
Thank you

[2020-01-06 21:52] danoconnor opened #441 "Routing regression in 1.4.7"
Routing behavior for variable paths has changed in 1.4.7 compared to 1.4.6. The variable path can no longer match multiple sub-paths.

For example, I have this route:
`"/foo/bar/:path"`

I expect it to be able to match anything after `"foo/bar/"`, such as `"foo/bar/a/b/c"`. As of 1.4.6, the HttpRouter behaved as expected, but [this change](https://github.com/httpswift/swifter/commit/a9551c9bb3e3b8

[2020-01-07 15:31] Vkt0r commented on #441
You can read more about it here https://github.com/httpswift/swifter/issues/405.

[2020-01-07 15:33] Vkt0r commented on #405
I've been very busy, if somebody else wants to add the feature I'll be glad to review it.

[2020-01-14 19:03] jfortmann opened #442 "Request with "Content-Length: -1" fatalErrors"
The content length field is parsed without validation in readHttpRequest:
[code]
If content-length is set to -1, this results in the creation of an UnsafeMutableBufferPointer with a negative count downstream, a fatalError.

[2020-02-05 14:44] cjmaroney01 commented on #405
I'm having an issue with this too, we have paths like this:

/content/stream/:isbn/:path
/content/stream/:isbn/:type/:path
/content/stream/:isbn/:type/:subtype/:path

and we can't match them all, I think the last one ends up failing with 404's and not ever matching, and possibly others too.  We originally just had the latter 2 paths and then definitely the last one was failing, but I had to add th

[2020-04-08 01:39] jinthislife opened #444 "Support for latest Xcode version"
Hello Swifter

Could you update the project for latest Xcode, Swift version?

[2020-04-08 04:53] #444 closed, assigned to nobody

[2020-04-11 04:07] Vkt0r opened #447 "Migrate to user Github Actions CI"
With the current disposition of CircleCI, the test on Linux is failing because of the available infrastructure for OSS projects. According to CircleCI they only provide a limited resource on Linux for OSS.

Github offers Actions and CI for macOS and Linux for free for OSS so we can migrate it and take advantage of the Github infrastructure.

[2020-05-13 15:45] Goule opened #451 "[Question] Create HLS Server"
Hello,

Do you think it's possible to create HLS server to receive HLS stram with this framework ?

Thanks

[2020-05-28 13:07] chosa91 commented on #435
What about using port: 0 (gives an auto-assigned port), then get the port `try server.port()`

[2020-05-28 13:13] chosa91 commented on #419
@venigreat I'm using it like this:
[code]

[2020-05-29 07:42] apascual opened #452 "Remove 'Example' target"
Hi,

Swift Package Manager has issues when two dependencies contain the same target name (https://forums.swift.org/t/multiple-target-issue-with-spm/16696).

The targets should be named properly to avoid conflicts with other libraries.

[2020-06-01 18:31] jibeex opened #453 "Is to possible to run multiple Swifter server and start/stop them independently?"
Hello, I am using Swifter as a Mock server for the UI tests of my project. It works perfectly when one server is used. But when I want to parallelize my UI tests, each UI test start a Swifter in a different ports. The servers don't work correctly at the same time. Only one of them can respond to request correctly.

[code]

[2020-06-08 17:35] Vkt0r commented on #453
Hey @jibeex 👋. Yes, it's possible to do it. Please note that it's you the one who starts the server and specifies the port in which you want to run so exception handling around this will allow you to test in parallel. This is one solution around it:

[code]

I hope that helps you.

[2020-06-08 17:36] #447 closed, assigned to Vkt0r

[2020-06-12 11:04] Joebayld commented on #148
Has anyone found a solution for this? To set the CORS I need to create an OPTIONS route, but that doesn't seem to be supported.

[2020-06-23 05:02] hectorddmx opened #454 "Compilation in Xcode 12 beta fails with version 1.4.7 from SPM"
Hi, when I try to compile for iOS Simulator a project where I use Swifter 1.4.7 (via SPM) with Xcode 12, I get the following error:
`/Path/To/Project/SourcePackages/checkouts/swifter/XCode/Sources/Socket+File.swift:26:61: Generic parameter 'Element' could not be inferred  `

![image](https://user-images.githubusercontent.com/303818/85362740-d8bc8c80-b4e4-11ea-82d8-8066b818158f.png)

The version fr

[2020-06-23 07:26] adellibovi commented on #454
As a workaround you can replace:
`                    let writeResult = write(target, &buffer + writeCounter, readResult - writeCounter)
`
to
`                    let writeResult = write(target, (&buffer + writeCounter) as UnsafeRawPointer, readResult - writeCounter)
`

[2020-06-23 07:35] ctreffs commented on #454
Same problem here - but with the cocoa pods  version 👋

[2020-06-25 22:49] hectorddmx commented on #454
@adellibovi Thank you! That works as well.
Right now I ended forking the repo and using that as a local development package pointing to the last commit on the stable branch where this is fixed.

Should I close the issue since it'll be fixed on the next tag/release?

[2020-06-26 16:53] Vkt0r commented on #454
@lecksfrawen Thanks for reporting the issue, please leave it open to help us to track the issue with Xcode 12. It will be closed when the fix is made.

[2020-06-27 09:16] anyfuncyo opened #455 "Error status code is not returned"
I am trying to build a proxy server for UI tests. In the app code, an unauthorised alert will appear if the error code returned is 401. I have tested with the server endpoint and the app code work as expected.  However I get 404 instead of 401 when pointing the app to the proxy server.

Here's how I set the response returned in my proxy server:
[code]

Both ` .internalServerError` and `.unauthoriz

[2020-07-10 09:01] xiaoxiaotestnote opened #456 "Thread 1: signal SIGABRT"
Report an error directly on this line：
`let server = HttpServer()`
The error is as follows
`Thread 1: signal SIGABRT`

[2020-07-10 18:36] Vkt0r commented on #456
Hey, @xiaoxiaotestnote Thanks for taking the time to report this. `SIGABRT` are signal abort but normally you can see the exception attached to the runtime error. Can you please attached the Xcode message or provide a sample project with the reproduction?

[2020-07-10 18:46] Vkt0r commented on #455
Hey, @anyfuncyo Thanks for reporting this! A little weird that the status code for `.internalServerError` and `.unauthorized` is wrong because we return correct status code and you can see it here:

https://github.com/httpswift/swifter/blob/e9b1d5ef5a8683babe4265007779a87c324abf8a/XCode/Sources/HttpResponse.swift#L90-L105

Nevertheless, if you want to return your own response code you can always u

[2020-07-10 18:48] Vkt0r commented on #452
@apascual Thanks for reporting this! Sounds like good PR if you want to go for it.

[2020-07-13 13:56] JunaidUmar opened #458 "How to share files from URL path (local app storage)"
I am trying to share file from URL path. App select images from photos convert them to pdf file, then store them on URL path with method:
`try? pdfDocument.write(to: self.pdfFilePath!)`
Now I want to share this file but function
[code]

always fails to open the file. If I place file in my directory and fetch the file using `Bundle.main.resourcePath` it successfully fetch it and show it, but when t

[2020-07-15 07:19] skymobilebuilds commented on #454
After manually editing like suggested by @adellibovi, using Xcode 12 beta 2 I get:

[code]

That's being discussed here: https://developer.apple.com/forums/thread/649918

Lottie iOS has the same issue, now solved with this workaround: https://github.com/airbnb/lottie-ios/pull/1215/files

[2020-07-16 09:51] chaitanyabaranwal commented on #66
Any update on async support? I think this library is more lightweight than GCDWebServer but would be really great if we could get async support baked in.

[2020-07-16 09:55] nodeful commented on #66
I ended up switching to https://github.com/thecatalinstan/Criollo

[2020-07-16 11:36] avnerbarr opened #459 "is there a way to define routes using codables?"
I'd like to have a route post body associated to a type.
Not clear if I need to explicitly handle the body deserialize (i.e. using codable)  and error handle myself or if I can define a route with that information included and the framework will reject invalid requests.

i.e

[code]

or do I need to handle the serde dance in every route explicitly (leading to a lot of boiler plate):

i.e
[code]

t

[2020-07-16 12:19] chaitanyabaranwal commented on #66
Hey! Thanks for this, I will check this out :D

[2020-07-19 05:19] drekka commented on #374
Not sure if this would help but [Jazzy](https://github.com/realm/jazzy) is a pretty good API documentation generator. I've used it a number of times and it's pretty good at incorporating markdown and other documents into the generated website.

[2020-07-19 08:15] drekka commented on #454
Not sure if this helps but I solved this by forking and raising the deployment target from iOS8 to iOS12.

Which leads me to ask - Does swifter really need to support code that old on the current version?

[2020-07-31 08:34] itsthejb commented on #454
My fixes for this currently: https://github.com/httpswift/swifter/compare/stable...itsthejb:xcode12-fixes

- Seems like `buffer` should have array access syntax
- For the `String` issue, disabled 32bit support. Not sure if upstream would want this as a solution, but are there actually many 32bit devices on the market nowadays?

[2020-08-06 16:03] Vkt0r commented on #454
Hey, thank you all for your reports regarding Xcode 12 🙏. Now with Xcode 12 beta 4 released this week, I'll try to start a branch with all your feedback to be ready before its release.

[2020-08-06 16:04] Vkt0r commented on #453
Closing this for now! Feel free to reopen it in case you need more help.

[2020-08-06 16:04] #453 closed, assigned to nobody

[2020-08-13 14:11] KristinaLauwers commented on #344
Hey @Vkt0r - I'm just having this exact issue right now, and was wondering if there's any chance of making this change? It does seem that sendFile() is not permitted when app sandboxing is enabled. Is there a reason not to use sendfileImpl() for macOS?

[2020-08-24 02:18] donly commented on #454
Xcode 12 beta 5 released, how is going please

[2020-08-25 15:06] Vkt0r commented on #454
Doing preliminary testing with Xcode 12 beta 5 all it's working fine without any necessary update, it seems Apple fixed the error found in previous versions. I'll be creating a branch for testing today and I'll let you know.

[2020-08-25 23:12] Vkt0r commented on #454
Can you please point your `Podfile`, `Cartfile`, or `Package.swift` to the branch `xcode12-swift5` and let me know if any issue appears? Thanks

[2020-08-26 19:52] knellr commented on #454
The above branch worked well for me via CocoaPods

[2020-08-26 21:13] Vkt0r commented on #454
FYI to specify branches in your:

### Podfile
[code]

### Cartfile
[code]

### SPM
[code]

[2020-08-27 02:39] hectorddmx commented on #454
I can confirm that branch `xcode12-swift5` with SPM works great with my iOS/tvOS/macOS project in Xcode 12 Beta 6 and Xcode 11.6
![image](https://user-images.githubusercontent.com/303818/91377191-7766b180-e7e4-11ea-9ca9-128b34f6bd23.png)

[2020-08-31 08:58] dzyubin48 commented on #454
Works good
Xcode 12 Beta 6, CocoaPods

[2020-09-04 13:57] umverteiler commented on #454
Would you mind creating an actual release / tag for this fix? We're using your project as a dependency for a private pod(spec) and in a podspec we couldn't specify a branch as a source, but we'll have to use a tag.

[2020-09-04 14:15] Vkt0r commented on #454
@ChristianSteffens Yes definitely, I'll be creating a beta release in the following days. I was waiting to have confirmation from the community about the build. So stay tuned.

[2020-09-12 00:26] umverteiler commented on #454
Any news on a release date? This would greatly simplify our current setup.

[2020-09-16 06:22] knellr commented on #454
The `xcode12-swift5` branch is working fine for me with the GM & CocoaPods, should we expect a release imminently?

[2020-09-16 12:54] Vkt0r commented on #454
@knellr @ChristianSteffens [1.5.0.rc.1](https://github.com/httpswift/swifter/releases/tag/1.5.0.rc.1) has been released.

[2020-09-16 19:10] umverteiler commented on #454
I'm not sure, but this version isn't listed in the specs repo - https://github.com/CocoaPods/Specs/tree/master/Specs/4/2/2/Swifter
🤨

How do I reference this version / tag then? Using `1.5.0.rc.1` as a reference in the podfile doesn't work.

[2020-09-16 19:47] Vkt0r commented on #454
@ChristianSteffens That would be my fault 😞. I need to update the Podspec, I'll do later today. Sorry for the inconvenience.

[2020-09-17 15:40] Vkt0r commented on #454
@ChristianSteffens @knellr  The Podspecs has been updated. The tag is now [1.5.0-rc.1](https://github.com/httpswift/swifter/releases/tag/1.5.0-rc.1). You should be able to point to `1.5.0-rc.1` now in your Podfile like this:

[code]

And be sure to run `pod install --repo-update`.

[2020-09-17 17:49] umverteiler commented on #454
Works perfectly - thanks a lot.

[2020-09-18 11:48] Monte9 opened #463 "xcrun lipo -create - Xcode 12 Failure (Carthage)"
We use Carthage to install the Swifter package. On Xcode 12 we are currently unable to run the latest version `1.5.0-rc.1` which is suppose to fix it for Xcode 12.

Here's the error:

<img width="950" alt="Screen Shot 2020-09-18 at 5 18 12 PM" src="https://user-images.githubusercontent.com/7840686/93594163-f198e900-f9d2-11ea-9588-a82de176fd5f.png">

[2020-09-18 11:50] Monte9 commented on #454
@Vkt0r unable to install `v1.5.0-rc.1` using Carthage. Created a separate issue for it here: https://github.com/httpswift/swifter/issues/463

Do you think it's related? Or ideas on what might be causing it?

[2020-09-18 12:28] Monte9 commented on #463
I figured it out! Turns out this is unrelated to Swifter. It's a carthage issue.

For anyone else that might run into this in the future - this was the solution: https://github.com/Carthage/Carthage/issues/3019#issuecomment-664099506

[2020-09-18 12:28] #463 closed, assigned to nobody

[2020-09-18 15:10] Vkt0r commented on #463
@Monte9 Glad, you figured out!

[2020-09-19 01:50] jlcvp commented on #454
Any ETA for 1.5.0-rc1 to be published as a stable release?

[2020-09-19 20:56] Vkt0r commented on #454
@jlcvp Sure, we should have 1.5.0 published on Monday!

[2020-09-21 06:44] abdulstrategy opened #465 "implementing with IPv6"
I tried Swifter web socket
[code]
since `server.listenAddressIPv4` or `server.listenAddressIPv4` does give nil always, I manually find ip and made url `wsurl = "ws://\(String(describing: getMyIP()):8081)/websocket"`
So first issue is **server.listenAddressIPv4 and server.listenAddressIPv6 always gives nil**
and also **server.isIPv4() always return false**, even everything worked well with IPv4
I a

[2020-09-21 14:22] jlcvp commented on #454
@Vkt0r Thanks Vkt0r

[2020-09-21 15:45] zdiovo opened #466 "Why not based on SwiftNIO?"
Why not based on SwiftNIO ?

[2020-09-23 13:50] Alex-Xcl opened #467 "Xcode 12 build error"
![image](https://user-images.githubusercontent.com/50492028/94021602-c6553600-fde6-11ea-9ddd-8536986806d8.png)

[2020-09-23 14:32] #433 closed, assigned to nobody

[2020-09-25 11:18] jlcvp commented on #467
this is fixed on the 1.5.0-rc.1, @Vkt0r will release 1.5.0 on the stable channel soon.

[2020-09-25 11:23] jlcvp commented on #467
for further details see #454

[2020-09-26 17:31] #442 closed, assigned to nobody

[2020-09-26 18:02] Vkt0r commented on #467
Please see the latest release 1.5.0 and open a new issue if you've any errors. Closing this.

[2020-09-26 18:02] #467 closed, assigned to nobody

[2020-09-26 18:04] Vkt0r commented on #456
Please see the latest release and feel free to open this again with more details in case you are still experiencing it.

[2020-09-26 18:04] #456 closed, assigned to nobody

[2020-09-26 18:05] Vkt0r commented on #455
Closing this, feel free to open it if you have any more doubts or issues.

[2020-09-26 18:05] #455 closed, assigned to nobody

[2020-09-26 18:09] Vkt0r commented on #454
Thank you for all your support and testing. [1.5.0](https://github.com/httpswift/swifter/releases/tag/1.5.0) has been released officially 🚀.

[2020-09-26 18:18] #454 closed, assigned to nobody

[2020-10-05 12:34] LuboZ opened #469 "Xcode 12.01 problem"
Im getting **"Generic parameter 'Element' could not be inferred"** error during build on line 26 in file Socket+File.swift
It started after update of the xcode to latest version.

![image](https://user-images.githubusercontent.com/33423536/95080054-cbd04b80-0717-11eb-94ca-bbecf044337c.png)

[2020-10-07 09:59] xNarCiik commented on #469
I have the same problem

I updated the sendFileImp with the latest version of this file (see this commit https://github.com/httpswift/swifter/commit/4d89ac464d2d3b931cadc4a13696b32b2fd0dd3e)

I can build now, but not sure if there is side effect or not

[2020-10-07 11:10] DanielStormApps commented on #469
1.5.0 resolves this issue.

[2020-10-09 10:32] xNarCiik opened #470 "Crash due to HttpParser.readHttpRequest ?"
Hi everyone

I'm currently investigating a crash that happens randomly.

My app uses Swifter to receive photos / videos before restoring them via the system API.
I have a crash log, but this is not very useful. Most of the lines are "hidden".

I don't really have experience reading these logs, but if I understood correctly, the crash would come from Swifter?

Would anyone have had this same proble

[2020-10-11 03:43] Vkt0r commented on #470
Hey, @xNarCiik Thanks for reporting this. Unfortunately, the stack trace is not very helpful. Are you able to reproduce this issue in a sample project?

Those `_hidden` lines you're experiencing means the Crash Report Tool you're using couldn't link the `*.dcsymbols` with the dSYM correctly. If you're using fastlane and gym to archive your app, fastlane takes care of this using `dwarfdump` at the

[2020-10-28 18:58] Hbouaz opened #472 "Choosing the host to run the server on"
Hi

I have a question:

I am not able to proxy server traffic through Charles as it is running on `localhost`. Charles workaround for machines where localhost traffic cannot be proxied is to use `http://localhost.charlesproxy.com/`  instead.
Is it possible to start the server on `http://localhost.charlesproxy.com/` instead of localhost?

Ref
https://www.charlesproxy.com/documentation/faqs/localhos

[2020-11-11 19:48] Hbouaz commented on #472
Any one?

[2020-11-11 23:17] Vkt0r commented on #472
I don't have any problem seeing the requests in Charles using the Simulator and Swifter as the server. @Hbouaz Can you elaborate more on your problem?

[2020-11-18 00:59] nickhodaly commented on #428
I am experiencing the same issue using `shareFilesFromDirectory()`

[2020-12-07 16:31] aataraxiaa commented on #363
+1 for this feature request. Right now we are using the above suggestion by @Macarse 👍🏽

[2020-12-09 14:59] swiftlearn55 commented on #472
@Vkt0r thank you fir getting back to me.  some systems it seems don't allow proxying of http://localhost/ so I can't see it on Charles.  I tried the workaround mentioned here https://www.charlesproxy.com/documentation/faqs/localhost-traffic-doesnt-appear-in-charles/   by  running a tiny server on http://localhost.charlesproxy.com/ instead of http://localhost and it showed up on Charles as http://l

[2020-12-10 14:02] fb64 commented on #405
Same issue here, I use the following workaround to expose folder and all its subfolders :

[code]

[2020-12-22 14:25] jonobr1 opened #477 "Network Connection Lost When Serving from SwiftUI View"
I'm interested in serving a single page website as local files within my iOS app. I'm using swifter's `shareFilesFromDirectory` method to serve a number of HTML, JavaScript, CSS, images, and audio files successfully. However, I often (but not always) get a "Failed to load resource: The network connection was lost." in the WKWebView console on various assets.

<img width="1132" alt="Screen Shot 202

[2021-01-12 07:26] SuperXiChenXi opened #478 "ios http server cannot be visited by ip via local area network"
I  use this lib to start a server on iPhone, it works well on iPhone 7 plus
[code]
But on other phones(such as XSMax Pro OS:13.3.1), I met confused problem, I can visit 127.0.0.1:8080/hello, it works well via iPhone Safari,

But when I use ip such as 192.168.0.41:8080/hello, it cannot work.  Could you let me know why? Any help will be appreciated!

[2021-02-13 10:10] michaelenger opened #480 "Danger CI check is broken"
Most of the pull requests are failing because Danger is complaining about a missing `DANGER_GITHUB_API_TOKEN` environment variable.

https://github.com/httpswift/swifter/pull/475/checks?check_run_id=1419471124
https://github.com/httpswift/swifter/pull/476/checks?check_run_id=1506447337
https://github.com/httpswift/swifter/pull/479/checks?check_run_id=1883039363

[2021-02-16 15:18] Jaikarthick12 opened #481 "Html Audio loading problem in WKWebview swift"
Am trying to load a local html file which takes input from images & audio folders, In native audio files are not loading inside the WKWebview . So we started a local server .when I visit the port inside safari it shows blank page, not able to find the solution even though we run a local server.
Is it a path issue or something else?

  let httpServer = demoServer(filepath.path )
  httpServer["/:pat

[2021-02-25 13:43] michaelenger commented on #481
In my experience the `WKWebview` does not like loading from localhost unless you explicitly allow it. Could you try using http://0.0.0.0:8086/testing.html instead?

Also you can attach a `WKNavigationDelegate` to the web view to see any navigation errors:

[code]

[2021-02-25 14:26] Jaikarthick12 commented on #481
@michaelenger thanks a lot , I have tried but delegates doesn't throw any error logs.

[2021-02-25 17:16] michaelenger commented on #481
@Jaikarthick12 That's strange. I'm not sure what context you're trying to run the server in but I threw together this SwiftUI view which runs the server and contains a `WKWebView`: https://gist.github.com/michaelenger/fd394865295320645ed0d1ded9675654

I'm not 100% sure how `shareFilesFromDirectory` would handle being on a iOS device, but the example in my gist works for me when I'm running the sim

[2021-02-26 05:45] Jaikarthick12 commented on #481
<img width="822" alt="Screenshot 2021-02-26 at 11 09 44 AM" src="https://user-images.githubusercontent.com/79154323/109259819-fd5ec600-7822-11eb-908e-8f7920887618.png">
I have shared you the files image . offline_preview.html will loads all these js,audio,template files , those paths are mentioned inside the offline_preview.html file .So the problem is with audio alone . when I tried load a single

[2021-02-26 08:28] michaelenger commented on #481
@Jaikarthick12 I have to admit that I don't know how to help you without more context. Are there any error messages? Are you able to load multiple audio files if you open the offline_preview.html file in Safari? How are you running the server?

[2021-03-03 15:07] robnotyou commented on #440
Try this:

Signing & Cababilities > App Sandbox
* Check "Incoming Connections (Server)"

[2021-03-04 08:56] frandp opened #482 "Parse POST command on server iOS"
Hello. I'm using swifter to implement a server on an iOS app. I'm able to do GET commands without trouble by doing server["/somethinghere"] and doing a curl on the phone ipaddress:port/somethinghere. However, how can I parse a POST command that arrives with swifter? Basically I'll be receiving a POST command followed by a JSON Data to decode. Thank you very much!

[2021-03-04 13:58] #482 closed, assigned to nobody

[2021-03-18 00:07] fessehaye commented on #477
Any luck with this? Having the same issue

[2021-03-18 00:33] jonobr1 commented on #477
No, I ended up moving to https://github.com/swisspol/GCDWebServer

[2021-05-07 20:21] #480 closed, assigned to nobody

[2021-05-07 21:22] #469 closed, assigned to nobody

[2021-05-25 16:23] acecilia commented on #426
Hey 👋 Would it be possible to have xcframeworks attached to releases?
The xcframework can be generated by running:
[code]

[2021-06-16 15:33] fruitcoder commented on #451
Hi @Goule. It's definitely possible. I just implemented a very basic hls mock server to make my UITests more robust and enable offline support. My package might not be exactly what you need but it should be good starting point: https://github.com/fruitcoder/SwifterHlsMock

[2021-07-01 03:35] drekka commented on #419
I'm looking at this same issue, but I can't see how the suggested code actually calls out to another server.  Is there an implementation of `routeHandler` missing from the example?

Currently I'm thinking I'll need to wrap an implementation of `URLSession` and map it's response back into the matching Swifter response.

[2021-07-01 12:04] chosa91 commented on #419
@drekka At the end, we had to: (╯°□°）╯︵ ┻━┻
and switch to something that supports async functionality _(GCDWebServer)_

[2021-07-07 05:13] drekka opened #488 "'**' does not work with single path element"
I've tried to use '**' in a route, but it's not working when there is only a single path element. ie. /a/**/b matches /a/x/y/b but does not match /a/x/b. It appears to be the equivalent of >=2 path elements where I think it should be >= 1 path elements.

So if I modify the relevant unit test like this:

[code]

[2021-07-07 06:58] drekka opened #489 "Strip ':' from param keys"
Would like it if the keys in the params dictionary had the leading ':' stripped from them.

So currently, route `/a/:myVar/c` maps `/a/b/c` to a `params` dictionary of `[":myVar": "b"]`.  What I'd like is to have the ":" stripped from the keys so it looks like `["myVar": "b"]`.

[2021-07-08 08:12] drekka opened #490 "Duplicate routes problem"
Hi, I have a problem where the APIs I'm dealing with contain multiple paths which overlaps. For example, I have

| Method | path | Swifter path expression |
| --- | --- | --- |
| POST | `/registration/token` | `/registration/token` |
| POST | `/registration/abcd1234` | `/registration/:token` |

So as you can see, Swifter is not able to tell the difference between a path element of 'token' and a pa

[2021-08-02 21:38] bgoncal commented on #206
To me it is working perfectly, but if I have folders inside of folders they don't become available, so if my index.html uses like ... "scripts/script.js", this "script.js" is not visible.

Anyone know how to make it visible without moving it to the same level as index.html?

[2021-08-10 09:43] melMass opened #494 "[README typo] Swift Package installation"
Hi,

Thanks for Swifter,
Using Swift 5+ I think the readme should be

### Swift Package Manager.
[code]

[2021-08-12 13:58] Ricardo1980 opened #495 "What is the proper way to return custom headers?"
Hello,

Right now I am using
`return HttpResponse.ok(.data(myData, contentType: "application/vnd.apple.mpegurl;charset=UTF-8"))
`
But I need to add more custom headers apart from the content tyoe.
Should I use something like this?
[code]
Thanks a lot for suggestions.

[2021-08-14 11:40] #494 closed, assigned to nobody

[2021-08-24 20:42] paulz commented on #495
one idea is to use middleware to add a handler to modify handler:

https://github.com/httpswift/swifter/blob/67d7c16ce596e3409ba1443b8626e543c6f7c1b4/Xcode/Sources/DemoServer.swift#L199-L202

[2021-08-25 08:12] Ricardo1980 commented on #495
Thanks a lot @paulz

[2021-08-25 08:12] #495 closed, assigned to nobody

[2021-08-26 17:56] paulz opened #496 "add custom header to .ok(.json) response"
we like to add a header to existing response and have to use .raw and implement everything that .ok .json does.

[2021-08-27 18:42] derek-baxter opened #497 "allow root route to be dynamic"
Hi,

I currently this snippet

[code]

How is it possible to so when the server is running, if I goto anything beneath `mobile`. the server would load the same file?
ex localhost:8080/mobile/test

would be caught in the above snippet

[2021-08-29 21:04] cyc0der opened #498 "http server via hotspot"
is it possible to use swifter via hotspot without wifi router?

[2021-08-30 08:26] Matthieu614 opened #499 "Socket is closed using .raw response even with keep-alive header"
Hi,

I have an issue using .raw response with keep alive header: the socket is closed cause .raw content length cannot be anything but -1 (even if i actually write content using **HttpResponseBodyWriter**)

[HTTPServerIO.swift:l.202](https://github.com/httpswift/swifter/blob/stable/Xcode/Sources/HttpServerIO.swift#L202)
[code]

I really need the socket to respect the keep-alive for IoT devices usa

[2021-09-22 18:18] salvatoreboemia opened #503 "Swift 5 and Xcode13 support"
Hi, it's possibile to add this support?

If I performe "Swift Conversion" in my projet, swifter will it continue to work well?

Thanks

[2021-09-27 03:21] jerry1230 commented on #389
I met the same issure.png not show

[2021-09-28 20:32] michaelenger commented on #452
This was solved in #492

[2021-09-28 20:32] #452 closed, assigned to nobody

[2021-09-28 20:48] michaelenger commented on #503
I'm currently using Xcode 13 to work on the project, so it shouldn't be a problem. I also tried running the Swift converter manually and it didn't find any targets to update, so running the converter on your project should be fine.

[2021-09-28 22:31] michaelenger commented on #171
Tested this with the latest version and it's sending the correct `Content-Type`, so I'm closing this issue.

[2021-09-28 22:31] #171 closed

[2021-09-29 16:22] michaelenger commented on #240
The feature added in #479 would allow you to do this:

[code]

However, this won't match `/` directly, so a separate handler needs to be added for that:

[code]

[2021-09-29 16:22] #240 closed

[2021-10-08 16:09] jesus-mg-ios opened #505 "How can I change the host name?"
Hi everybody:

I'm trying to change the hostname from localhost to something like customLocalHost, but I didn't find a way to achieve this.
Any ideas? I'm run out of.

Thanks for all in advance.

[2021-10-09 13:08] Helloyunho opened #506 "Protocol error "Reserved frame bit has not been negociated." while retrieving a big json binary"
So I was making a small program. I used Starscream for the client and swifter for the server.

But here's the problem:
My program can send some big JSONs(since it sends files and all of the binaries are get encoded to base64).
But if I send about over 100,000 bytes of JSON, swifter says `Reserved frame bit has not been negociated.` and it disconnects the client.

[2021-10-12 14:19] DominikPalo opened #508 "`HttpRequest.address` doesn't contain the requested URL"
I'd like to access the complete URL address inside the route callback. So here is an example code:

[code]

but after visiting the registered address (e.g. `http://127.0.0.1:66577/hello-world?test=1`), the  `request.path`, `request.headers`, `request.queryParams` properties are parsed and set correctly, just the `request.address` contains a strange string - something like `::c080:d00:60:0` instead

[2021-10-21 14:55] franciscoamado opened #509 "Xcode 12.5 Dependency Error"
👋🏻  Hi there, thanks for building Swifter.

I've been using it normally with Xcode 13.0 command line tools and everything worked great.

But after downgrading my tools to Xcode 12.5, swift can't resolve my dependency of Swifter.

Example command:
`swift package run`

Example output:
`error: product dependency 'Swifter' in package 'swifter' not found`

Example Package.swift

[code]

Any ideas here?

[2021-10-21 15:06] franciscoamado commented on #509
NVM, worked around this error with explicitly declaring the package name in the dependency

`.package(name: "Swifter", url: "https://github.com/httpswift/swifter.git", .branch("stable"))`

and declaring the target dependency by name only

[2021-10-21 15:06] #509 closed, assigned to nobody

[2021-10-28 19:12] MattTimmons opened #510 "CSS / style in header"
Would someone be able to provide a sample of using css styling with Swifter? I have not had luck getting it to work...

[code]

Or better yet, an example of using in css file as part of the app resources.

Thanks!

[2021-11-02 14:26] salvatoreboemia commented on #503
yes, but I still have this conversion warning.

<img width="282" alt="Screenshot 2021-11-02 at 15 26 01" src="https://user-images.githubusercontent.com/20614870/139866508-656e8ab2-0d62-41ef-a642-0086e8506d60.png">

Probably inside the pod `SWIFT_VERSION` is still 4.2

[2021-11-04 17:07] michaelenger commented on #503
Aha, this has been changed in the podspec file so it should be sorted when the next version is released: https://github.com/httpswift/swifter/blob/stable/Swifter.podspec#L14

[2021-11-08 11:55] salvatoreboemia commented on #503
Hi,

In which release will it be released? 1.5 or 1.6?

Thanks

[2021-11-09 03:35] anhvu1993 opened #511 "Use local host local server open html with the first server not active, to be public with the time open next"
[Question] I am using Server local host to open an html on safari with the following error: safari cannot open the page because it could not connect to the server.
`let localServer = HttpServer()
let html = htmlFor(title: GlobalManager.shared.typeAppMakeIcon.name,
                           urlToRedirect: deepLinkUrl,
                           iconBase64: iconBase64, iconTutorial: tutorialBase64)

[2021-11-26 09:22] kaaaaai commented on #42
I have the same problem. Have anyone solved it？

[2021-12-03 14:52] kiwifruituk opened #512 "Serving an entire directory"
Would you be able to clarify how to serve up a directory (with subfolders and files of multiple types)? I'm currently using Telegraph and use the following (for brevity some code has been omitted):

`var webServer = Server()`
`webServer.serveDirectory(directoryURLToServe)`
`try webServer.start(port: Constants.port, interface: Constants.host)`

Any help would be appreciated!

[2021-12-24 09:28] Zkim opened #513 "How to asynchronous return response"
I try to use @escaping but don't work

[2021-12-27 02:49] Zkim commented on #513
Using DispatchSemaphore to solve

[2021-12-27 02:49] #513 closed, assigned to nobody

[2022-01-19 13:54] beefon opened #514 "Proper versioning?"
I see last release is 1.5.0, but stable branch has a lot of changes. Can you please make a new version with them so everybody can refer to it?
Thanks.

[2022-01-19 13:55] salvatoreboemia commented on #514
I agree.

Also swift_versione 5.0.

Please release new version with all changes

Thanks

[2022-03-04 04:01] zhouhesheng opened #515 "shareFilesFromDirectory not working"
shareFilesFromDirectory not working  for any directroy, for example:

let docsPath = Bundle.main.resourcePath! + "/dist.bundle"
server["/:path"] = shareFilesFromDirectory(docsPath)
try! server.start(13001)

curl localhost:13001 no response
curl localhost:13001/index.html returns: transfer closed with 1844 bytes remaining to read

this is good: server["/hello"] = { .ok(.htmlBody("You asked for \($0

[2022-03-04 04:12] zhouhesheng commented on #515
shareFilesFromDirectory works if sandbox=false in entitlement file

<key>com.apple.security.app-sandbox</key>
    <false/>

[2022-03-04 04:12] #515 closed, assigned to nobody

[2022-03-04 06:17] zhouhesheng opened #516 "how can shareFilesFromDirectory support files in subdirectory?"
let docsPath = Bundle.main.resourcePath! + "/dist.bundle"
        server["/:path"] = shareFilesFromDirectory(docsPath, defaults: ["index.html"])
        try! server.start(13001)

test:
curl http://127.0.0.1:13001/index.html     working
curl http://127.0.0.1:13001/          not working, but is this suppose to load the index.html in the directory?
curl http://127.0.0.1:13001/_next/static/chunks/fram

[2022-03-23 07:02] DubonYaar opened #517 "How can I call an async function with callback from within the route callback and still be able to return a HttpResponse"
How can I call an async function with callback from within the route callback and still be able to return a HttpResponse

like so:
[code]

[2022-03-25 11:15] #517 closed, assigned to nobody

[2022-04-17 15:45] zhouhesheng opened #518 "websocket sometimes not working in macOS sandbox app"
websocket sometimes not working in macOS sandbox app

[2022-04-17 22:09] chockenberry opened #519 "LICENSE file contains placeholder text."
The "{organization}" should be replaced.

Or updated with something like this: "Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission."

[2022-04-20 21:05] chockenberry commented on #510
I used this:

[code]

You can also move that into a separate `String` variable to use it in different page contexts.

-ch

[2022-04-20 21:06] chockenberry commented on #518
If you try to send a file in macOS, you'll hit `sendfile()` which won't work. I worked around this by creating a `Data` object from the file and sending that instead.

-ch

[2022-05-12 18:07] monkekode opened #521 "usleep degrades when using Swifter"
I have the following server:

[code]

I'm running `while true; do time curl localhost:999/sleep; done` to test it. The first ~100 requests finish in about 120ms as expected. But after that it starts hanging for up to 10 seconds:

[code]

If I just sleep in a loop, the performance stays consistent, so this is definitely the fault of Swifter. How can this be fixed?

[2022-05-28 21:09] xocialize commented on #508
When starting your server you can do so like:  try server.start(9080, forceIPv4: true) For me this made the request.address show the IP address of the request i.e. 127.0.0.1.  If you combine with request.path you should be able to start to rebuild the request.

[2022-06-13 09:02] Zkim opened #522 "Unable to connect to server"
Xcode Version 13.3.1

 DispatchQueue.global().async {
            let semaphore = DispatchSemaphore(value: 0)
            do {
                try self.server.start(18085, forceIPv4: true)
                semaphore.wait()
            } catch {
                semaphore.signal()
            }
        }

chrome: ERR_ADDRESS_UNREACHABLE
client：404 Not Found

file:( Socket+Server) clientSocket break
p

[2022-06-15 09:44] #522 closed, assigned to nobody

[2022-06-15 09:45] Zkim commented on #522
Occasional problems

[2022-06-23 08:52] vnsamy-code commented on #516
Did you find a way to solve this?

[2022-06-27 13:14] vnsamy-code commented on #516
Hi @damian-kolakowski  - I am trying to find a solution for this.

While this works in the simulator on a device running `iOS 15.4` this is not working; only the `index.html` page is loaded but not the rest of the contents in the directory.

Do you have any thoughts on this, please?

[2022-07-07 11:08] rupikasompalli opened #523 "tvOS 16 Beta 2 Unable to override the Stub that has same url"
In my project, I use Swifter version 1.5.0 to stub the json responses.

The following code worked find prior to tvOS 16, but broke in tvOS 16

[code]
In tvOS16 I still get responseFail where I expect responseSuccess.

In tvOS15 and earlier, I get responseSuccess as expected in my last line.

[2022-07-13 15:23] jasonm23 commented on #505
Hi you'd do this separately from the webserver.  This is a DNS naming operation, and can be done many ways.  Servers can know when they have received a request via a name, as opposed to their IP address, however, they do not set these names.

Start here  https://en.wikipedia.org/wiki/Domain_Name_System

[2022-07-22 12:54] bartekpacia opened #525 "Builds fails when trying to use `Swifter` in XCUITest"
I'm trying to create a long-running server in a XCUITest test.

[code]

However I'm getting crashes:

[code]

What can be causing this?

[2022-08-30 20:08] ajitam opened #527 "404 Not Found"
Hello,
I have a task of "reviving" someone else iOS app which uses your (Swifter) library.
I've encountered quite weird problem:

Here is the setup:
* application has files in some location (lets say `/serve` on the phone (there is a folder called `webapp` and inside is `index.html` and folder `res` with some css files)
* application creates server
[code]
* application presents webview pointing re

[2022-09-28 22:40] GameParrot opened #529 "Building release is extremely slow"
It takes like 2 minutes to build the release version of Swifter. Building the debug version takes a normal amount of time. I don't know if this is a Swift bug or a bug in this project.

[2022-11-08 00:29] SugarRayLua opened #531 "Enhancement request: Swifter to label .wasm files as "application/wasm" when it serves them"
Dear Swifter Developers,

I am a novice javascript user who uses the Swifter tiny http server engine in the iOS app "World Wide Web Sever".
It would helpful in the future if Swifter labeled .wasm files as MIME type "application/wasm" when it serves them to help browsers do .wasm instantiate streaming.

Thank you for the considering this enhancement. :-)