[2014-06-11 22:26] apsanz opened #1 "Write to a stream vs String"
Wouldn't it be better for handlers to be writing to a stream instead of to a string? Could be better for large files and if you ever want to handle multiple handlers for one request.

[2014-06-19 10:01] matteocrippa opened #3 "Cocoapods support"
Hi, it would be cool if you can add cocoapods ( http://cocoapods.org ) support to your project!

[2014-07-20 22:22] curveddesign opened #4 "Is there a way to serve static html files from the local file system? ( OS X )"
I am thinking of something maybe like the way GCD server does it?  How would you do this in swifter?

https://github.com/swisspol/GCDWebServer

https://github.com/swisspol/GCDWebServer#serving-a-static-website
# import "GCDWebServer.h"

int main(int argc, const char\* argv[]) {
  @autoreleasepool {

[code]

  }
  return 0;
}

[2014-08-03 02:59] curveddesign opened #5 "Will this work around fix the undefined htonl which causes the different port bug?"
[code]

[2014-08-03 17:36] #4 closed, assigned to nobody

[2014-08-03 17:47] #5 closed, assigned to nobody

[2014-08-19 07:23] pyanfield opened #7 "Can we use POST method in swifter?"
How to use POST method, does swifter support it?

[2014-08-24 10:33] #7 closed, assigned to nobody

[2014-10-22 19:49] AquaGeek opened #10 "Swift Compiler Error: cannot invoke 'subscript'"
After fixing some of the compile issues on Xcode 6 (mostly dealing with NSError initializers), I'm getting the following error:

[code]

[2014-11-14 11:56] patrikhermansson opened #12 "Serve a directory"
Hello,
This is a great project but I can't get directory sharing to work. I'm trying to share static html and images. I saw there was an earlier issue about this but it seems that that solution doesn't work anymore, or am I wrong?

[2014-11-14 18:46] #10 closed, assigned to nobody

[2014-11-20 12:33] ghost opened #14 "Serve images?"
Really nice project! But will it be possible to use this to serve other file types than text? Image support would make this fantastic.

[2014-11-21 08:05] #14 closed, assigned to nobody

[2014-11-21 08:06] #12 closed, assigned to nobody

[2014-12-01 07:20] Hepburni opened #16 "Byte range requests for video?"
Any chance that Swifter will support byte range requests, so that video can be played back in mobile safari for example?

[2015-01-05 14:37] czechboy0 commented on #3
It is supported in beta. http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/

[2015-01-07 18:27] randeepbhatia opened #17 "Socket server support"
I tried running the socket instance, it doesn't work. Can you provide an example ?

[2015-01-08 14:58] glock45 commented on #17
Sure,

[code]
Best,
DK

[2015-02-18 07:31] #17 closed

[2015-03-21 23:47] flashspys commented on #3
Now it's fully supported with current version. You can create a podfile :)

[2015-03-22 00:39] flashspys opened #19 "Support custom response headers"
I want to set custom http response headers. I saw that headers are set in HttpResponse but there is no option to add custom ones, right?

I tried to work with extensions or inherit HttpResponse but it's an enum and limitied with inheration or extension. If HttpResponse would be a swift class it would be more extensionable for developers.

[2015-03-22 00:43] flashspys commented on #16
byte ranges are provided through http request headers. You get access to them through `request.headers`. So you can parse the byte range (e.g. "1123-32433") and send only these bytes back

[2015-03-23 09:08] elepone opened #20 "How can I use it for upload a file to my device"
If I change the login.html, for example: add a 'file' type input and change the form enctype to 'multipart/form-data' . How can I handler the request and write a (or multiple) file to document folder?

[2015-03-26 19:17] jigzat opened #21 "Not actually an issue just a question. How to obtain the request ip address?"
Thank you for making Swifter available for everyone. I apologize I don't mean to use you as a support agent, but I was wondering, is there any way to obtain the request ip address?

I wanted to ask one more thing, in my case I need a small web server to send and receive plain text and not to share files or webpages. Is swifter ideal for this scenario? I'm sorry I'm not very versed in this matter.

[2015-03-27 14:41] jigzat commented on #21
Ok I made it, I added a remoteAddress parameter to HttpRequest struct, I'm not sure if thats something you want in your code.

On a side note, can this be threaded?

[2015-03-27 17:36] glock45 commented on #21
@jigzat hey man,

the updates are always welcome ! please make a pull request or paste the code here :)

Best

[2015-03-27 17:58] jigzat commented on #21
Done, I'm not sure how good it was.

[2015-04-01 19:19] liw2 opened #22 "How to get files that transmitted from the app"
I upload a text file from the app to /files(.+), and the response I got is NOT FOUND(404)

What should I do at the server-side to get the file?

[2015-04-06 11:00] #22 closed

[2015-04-13 17:57] xocialize opened #24 "Sending an image with Swifter"
This is more of a newbie question than an issue.  How would I go about sending an image file or other binary from Swifter?  I haven't been able to find an example of how to do this.  Any help would be appreciated.

[2015-04-14 17:33] xocialize commented on #24
Figured out you could do it using RAW.  Thanks

[2015-04-14 17:33] #24 closed

[2015-06-04 00:02] RGreinacher opened #25 "releaseAcceptSocket() doesn't cut availability of the server"
The stop() / releaseAcceptSocket() methods don't seem to shut the server down. It is still available after I called the method. Is there a way to shut it completely down or did I misinterpreted the meaning of those?
Thank you!

[2015-06-09 07:52] glock45 commented on #21
hi man, any chance to push the change ?

[2015-06-09 07:53] glock45 commented on #25
I've just tested it using demo iOS app and works fine for me. Anyway, could you please paste the code you use for testing ?

[2015-06-09 15:29] jigzat commented on #21
Hi, I thought I had push it already. Let me check, I'm a github noob.

Enviado desde mi iPhone

[2015-06-09 16:35] jchannon opened #27 "Sinatra"
Are you planning to or know of any efforts to create a Swift framework inspired by Ruby's Sinatra?

I see this has some similarities but wondered if you planned to take it further?

[2015-06-15 07:12] glock45 commented on #1
@apsanz so we're having WWDC2015 right now and we still have Streamable protocol in the standard library. I would like to start a discussion about how we can use it to provide bytes "streaming" api. Right now, swifter's handler design requires to load the data to the memory and then write it the socket. For big files it's better to buffer the data in a loop with read/write operations.

Streamable

[2015-06-15 07:28] glock45 commented on #27
hi @jchannon

I've not seen it yet.

I've just had a quick look at it looks like a nice source of:
- templates langauge

best

[2015-06-15 08:50] jchannon commented on #27
I contribute to a C# framework - http://nancyfx.org which is inspired from Sinatra

Would be good to see a Swift inspired fwk too :smile:

[2015-06-15 12:20] glock45 commented on #27
@jchannon wow, I really like this:
[code]

[2015-06-15 12:39] RGreinacher commented on #25
Sorry for the late answer; I can reproduce the mentioned behavior with the following sample code:
I figured out, that the server doesn't shut down only if there was a request before the `server.stop()` method is called. If you just start it and wait until `stop()` is called without performing a request, the server will behave as expected; the request will be refused.

Run the following twice, once

[2015-06-15 12:48] glock45 commented on #25
ok. Thanks. I can reproduce it.

[2015-06-15 12:58] glock45 commented on #25
The problem is a while loop happening in case of "keep-alive" session.

[2015-06-15 13:02] RGreinacher commented on #25
I see. What do you think of a force-kill-switch like `server.sleep(forceShutdown: Bool)`?

[2015-06-15 13:04] glock45 commented on #25
I would like to extend server::stop() by closing all sockets.

[2015-06-15 13:42] glock45 commented on #25
This solves the problem:

https://github.com/glock45/swifter/commit/b37392bf004ffba0dcce4bf2c8a8e6d03b1024ca

[2015-06-15 13:50] RGreinacher commented on #25
Great work! Thank you! :)

[2015-06-15 14:20] #25 closed

[2015-06-15 18:02] glock45 commented on #21
I moved your code to Socket class and merged it to the mater branch. Once again, thanks for the pull request :)

https://github.com/glock45/swifter/commit/a18e5ee33fadd115f574bb32977a34a9411ae52d

Best

[2015-06-15 18:02] #21 closed

[2015-06-15 18:04] jigzat commented on #21
Sorry for the delay I have been very busy this week.

[2015-06-15 19:22] glock45 commented on #21
no problem :)

[2015-06-18 11:51] jchannon commented on #27
Lets do it! :smile:

[2015-06-18 13:00] tombuildsstuff commented on #27
+1

[2015-06-23 20:22] JetForMe opened #28 "Swift 2 version?"
Hi Damian. I've got a project that needs an embedded HTTP server, and I thought I'd write it in Swift 2. I found swifter, but unfortunately Xcode 7b1 is unable to convert it completely automatically. Some additional re-write is necessary, and I'm not familiar enough with your code to be sure I'm doing it right.

Any chance you'll branch and update your code to Swift 2? Thanks!

[2015-06-23 23:21] xocialize commented on #28
+1 I would really like to see this as well.  Thanks for the great server.

[2015-06-24 08:28] glock45 commented on #28
Thanks guys. It's ready: https://github.com/glock45/swifter/commit/a4f037c8ddad4f249433516529fc11ce9a16e108

[2015-06-24 08:29] #28 closed

[2015-06-24 08:35] JetForMe commented on #28
That was fast! Thanks!

[2015-06-25 20:57] jayrhynas commented on #27
You could do it somewhat like this:
[code]

[code]

[2015-06-25 21:01] jayrhynas commented on #27
Of course you could also do it like Nancy:

[code]

[2015-06-26 15:31] jchannon commented on #27
Nice!!

On Thursday, 25 June 2015, Jayson Rhynas <notifications@github.com> wrote:

[2015-06-30 11:34] 18601673727 commented on #27
@glock45 consider Laravel or RoR?

[2015-07-28 06:16] JetForMe opened #30 "Close and reopen sockets on suspend-resume?"
Hi. I'm not 100% sure this is what's happening, but it seems that the server sockets are getting closed after the app is suspended a while, and not re-opened. Is it possible for swifter to handle that?

I guess I could handle it, too, killing the server on suspend and re-creating it on resume. Anyway, FYI.

[2015-07-29 12:47] glock45 commented on #30
Hi. Is this about iOS app ?

[2015-07-29 15:09] JetForMe commented on #30
Yes

Sent from my iPhone

[2015-08-20 09:07] glock45 commented on #3
Added by @ziper1 ( https://github.com/glock45/swifter/pull/31 ).

[2015-08-20 09:07] #3 closed

[2015-08-28 06:27] qpre opened #34 "Unkown on CocoaPods"
Hey,
I noticed a [podspec](https://github.com/glock45/swifter/blob/master/Swifter.podspec) file in the repo.
Is there any plan on publishing swifter as a pod ?

[2015-08-31 21:47] tristaaan commented on #19
I think this can be closed, this line enables custom headers for a response right?
https://github.com/glock45/swifter/blob/a4f037c8ddad4f249433516529fc11ce9a16e108/Common/DemoServer.swift#L17

[2015-09-02 10:48] idoodler commented on #20
Hi elepone,

i faced the same task, and I had no idea how to solve it. I then used [Postman](https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop) to debug and learn about these multipart/form-data stuff.

And here is the code I came up with. I have no idea if it works everywhere, and If I parse everything correctly. Please have a look and tell me if it is working for

[2015-09-07 07:51] ziper1 commented on #34
Hey,
It's not added to the podspecs master repo https://github.com/CocoaPods/Specs

You need to add git repository address to use it:
[code]

[2015-09-09 20:27] qpre commented on #34
Thanks !

[2015-09-11 18:30] billabt opened #35 "Need to replace String.join with "SomeSequence".joinWithSeparator() in HttpHandlers.swift"
Replace line 34 with following:

[code]

This will fix the compilation error.

[2015-09-25 07:35] tangshi opened #38 "Do you plan to dev a template engine for swifter?"

[2015-10-01 23:28] JetForMe opened #40 "Automatic Content-Type?"
It would be cool if using the `.JSON`, et al. response mechanism, it automatically set the response Content-Type header appropriately.

Thanks!

[2015-10-01 23:35] JetForMe opened #41 "Setting response headers?"
How does one set the response headers?

[2015-10-02 15:36] tristaaan commented on #41
Related to #19, looks like it's not supported yet?

[2015-10-02 21:02] JetForMe commented on #41
I've submitted a pull request that fixes it for for the known types (e.g. .JSON).

[2015-10-04 01:46] essingh commented on #34
Pods seems to think swifter doesn't support osx. Executing "pod install" gives this output:

[code]

[2015-10-06 04:50] tristaaan commented on #38
From the readme:

What is Swifter ?
Tiny http server engine written in Swift

So I'd wager no. Ideally a template engine would be a separate package.

[2015-10-06 04:59] tristaaan commented on #41
I've been thinking how this could be expanded, I feel like all the enums are limiting. I'd like to use Swifter to pass some gzipped headers with only png files, if a user could pass custom rules to determine headers that'd be cool.

Something that receives an array of closures `[ (input) -> String ]` which evaluates `input` and if true returns a header to append for each. I'll look into it but I'd

[2015-10-06 08:35] glock45 commented on #38
Yeah, I agree with @tristaaan. It should be a new layer, an add-on.

[2015-10-06 08:35] #38 closed

[2015-10-06 15:11] glock45 commented on #41
hi guys --

I modified the RAW type. It's possible to respond with custom headers.

best

[2015-10-06 15:14] glock45 commented on #40
@JetForMe

hi man,

i've added it: https://github.com/glock45/swifter/commit/2f45bc8fff8793d9eee6bcce63cab7edbf4490b7#diff-408ba59492b185727c1f82cf517a3c28R98

best

[2015-10-06 15:14] #40 closed

[2015-10-06 15:14] #41 closed

[2015-10-06 15:15] glock45 commented on #35
Thanks man. It's fixed.

[2015-10-06 15:15] #35 closed

[2015-10-06 15:16] glock45 commented on #19
Added with https://github.com/glock45/swifter/issues/41.

best

[2015-10-06 15:16] #19 closed

[2015-10-06 15:25] glock45 commented on #30
hi man --

iOS closes the sockets when app is in background. If you use one of the background modes, the sockets will be opened (https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html).

best

best

[2015-10-06 15:26] #30 closed

[2015-10-06 16:40] glock45 commented on #34
hi guys --

I've just pushed Swifter pod to the Spec ( https://github.com/CocoaPods/Specs/commit/133db899974f022984a657c1335187f5408a9f3a ).

best

[2015-10-06 16:53] #34 closed

[2015-10-06 21:40] JetForMe commented on #30
I have to close and reopen the sockets when I enter/exit background. It's fine, but an argument could be made that Swifter should do this, since almost always that's what one wants (for the app to continue working when you bring it back to the foreground.

I don't need it to work while it's suspended, just while it's front most. In any case, it's working fine for me when I do that.

[2015-10-07 20:02] flashspys opened #42 "Swifter does not work on iOS Device in Background"
Swifter does not start its server in a [UIBackgroundTask](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIApplication/beginBackgroundTaskWithName:expirationHandler:)
That is the reason why the Swifter Demo App does **not** work on a real iOS Device but in iOS Simulator. It's very important to start the server in a Background Task.

[2015-10-08 02:40] tristaaan commented on #42
hmm... I've been using Swifter in production and have had no problems running it on a device.
https://github.com/Kitware/arctic-viewer-ios

[2015-10-08 21:34] flashspys commented on #42
Maybe try the following:
Start the Swifter Demo App on a real device.
Then press home button and open Safari and try to access localhost:8080 . On my devices it wont load. Only after I switch back to Demo App and switch back again to Safari I can see the loaded content

[2015-10-08 21:47] tristaaan commented on #42
For what it's worth, I'm using the last version of swifter compatible with Swift 1.2. Perhaps something small has changed that causes the reported issue?

[2015-10-09 01:27] tylerlong opened #43 "Carthage support"
[code]

I am going to submit a PR for this issue.

[2015-10-09 01:45] tylerlong commented on #43
I just found another issue: the project type is application instead of framework. I don't think Carthage is compatible with application type projects.

[2015-10-09 14:59] tylerlong commented on #43
Based on this project, I created a fremwork type project which is compatible with Carthage: https://github.com/tylerlong/SwiftHTTPServer

Please let me know if you think there are license or copyright issues.

[2015-10-09 14:59] #43 closed

[2015-10-09 16:43] sjbodzo commented on #42
I notice the same behavior as tristaaan. The application cannot run in the background, so it must have focus on your iPhone to process your requests. Additionally, I cannot connect to the web server from other devices on the network.

[2015-10-09 17:01] tristaaan commented on #42
If you'd like to try the application I mentioned [App Store link](https://itunes.apple.com/us/app/arctic-viewer/id1038452328?mt=8) but again it's using an older version of swifter. I see the backgrounding problem now, but while the app is active I've had no problems accessing the server from other computers and devices on the same network.

[2015-10-09 17:09] flashspys commented on #42
When the app is active, everything works as far as I know fine. But I think Swifter should handle the situation that the webserver is called when Swifter is in background.

[2015-10-09 21:13] mwelser commented on #27
Hi...are u still following the idea to make a Sinatra inspired swift version ?!

When apple finally releases Swift for linux then "swifter" would be perfect for creating micro services

[2015-10-09 21:29] tristaaan commented on #27
+1

[2015-10-16 15:10] zarghol opened #45 "Why Socket is it all Static ?"
Socket is a Struct never really used, just by its static method.
We see the socket : CInt as parameter nearly each time,
 but why not use a class, with tcpForListen as init, socketIdentifier Cint as property and avoiding socket parameter and use the class paradigm ??

[2015-10-16 15:11] zarghol commented on #45
I can do all modifications, but I want to know why first, if it is for optimization purpose, or not ^^

[2015-10-17 09:58] glock45 commented on #45
Yeah. We should have Socket class. I would like to switch to the new error handling based on try/catch blocks.
For:
[code]
we should have something like:
[code]
or for:
[code]
it should be converted to:
[code]
I will keep the issue open.

[2015-10-17 10:10] glock45 commented on #45
I've checked your pull request ( https://github.com/glock45/swifter/pull/44/commits ) and noticed you actually did what I proposed :)

[2015-10-17 10:15] glock45 commented on #20
I added support for 'application/x-www-form-urlencoded' ( https://github.com/glock45/swifter/commit/f8aec28a882ba52a1b88ee1124fd3ec4fafdd33c ).
'multipart/form-data' is on the way.

[2015-10-19 09:38] zarghol commented on #45
well, the socket si now class-powered, if you want it :)

[2015-10-19 13:38] UBBproject opened #47 "SSL encryption"
Is it supported? Or will be?

[2015-10-19 13:41] glock45 commented on #45
Yeah ( https://github.com/glock45/swifter/commit/59a248dd1d55f134c6dfdb4e2fb16624d32b7c0e ).

[2015-10-19 13:41] #45 closed

[2015-10-19 15:36] zarghol opened #48 "Use Swifty JSON (or any other serializer)"
In many projects, I use SwiftyJSON to read and write JSON, and I thought how to use it conveniently with this framework, and here is how I see the thing :
in HttpResponseBody, instead of serialize inside the switch self, have a generic Serializer protocol to provide a String? with just a method to serialize. in the switch self, we call the appropriate Serializer, and that way, we can extend the se

[2015-10-19 18:41] glock45 commented on #47
It will be :)

[2015-10-20 09:48] zarghol opened #49 "Conflict between two routes"
If I add a route after adding "/" route, it always redirect with "/" because it matches first.
I try to handle this, just to warn you :)

[2015-10-20 09:56] glock45 commented on #49
Yeah. That's why the order matters :)

[2015-10-20 10:02] zarghol commented on #49
well, not anymore ! I commit (I added also the serializers way)

[2015-10-22 23:36] sdgandhi commented on #27
@mwelser and @tristaaan Swifter will not work on Linux even after Swift is open sourced and ported because it depends on Foundation, which Apple will not port to Linux or open source.

[2015-10-29 19:00] glock45 commented on #49
I merged the pull request with the fix for "/" ( https://github.com/glock45/swifter/commit/ddfa12148923fca42133d84bc5783413609dac8e ). I've chosen different approach. It sorts RegExps alphabetically by the .pattern field.

[2015-10-29 19:00] #49 closed

[2015-10-29 19:02] glock45 commented on #48
Merged ( https://github.com/glock45/swifter/commit/ddfa12148923fca42133d84bc5783413609dac8e ).

[2015-10-29 19:02] #48 closed

[2015-11-02 19:05] whisper-bye opened #51 "How to return html with http://192.168.0.1"
this is my code
[code]

Q: I want to visit index.html with http://192.168.0.1 not http://192.168.0.1/index.html,
what should I do? thx!!!

[2015-11-04 14:29] glock45 commented on #51
hi @whisper-bye
[code]
if you deploy your app on iOS, all the resources from "www' directory will  land at the root of "NSBundle.mainBundle().resourcePath" so at the runtime the files are in different directory. "www" directory is not copied. Could you please check what you have in "NSBundle.mainBundle().resourcePath" ? ( it looks like  http://192.168.0.1/index.html works for you and index.html is

[2015-11-04 14:30] #51 closed

[2015-11-10 17:45] UBBproject commented on #47
Hy Damian!
Could you please give me a hint, how i can implement an SSL certificate into this server. I really need to finish my project ASAP. :(
Thank you, in advance!

[2015-11-11 07:40] glock45 commented on #47
Hi man,

The tutorial can be found here:

https://developer.apple.com/library/mac/documentation/Security/Reference/secureTransportRef/

Best,
DK

[2015-11-11 07:42] UBBproject commented on #47
Hi!
Thank you so much! :)

[2015-11-18 13:21] #16 closed

[2015-11-18 13:22] IvanMathy commented on #20
Hey @glock45,

Is there any news on this? I would love to help implement it!

I_

[2015-11-19 09:10] glock45 commented on #20
@IvanMathy hi man :) here is an example of the multipart request.
[code]

[2015-11-19 14:14] IvanMathy commented on #20
Thank you! iDoodler's answer gave me some pretty good pointers as well, I might do a PR soon.

[2015-12-04 15:32] gabebear opened #60 "Linux?"
Now that Linux has Swift and GCD... any chance of porting this? https://swift.org

[2015-12-04 18:13] m3talsmith commented on #60
I'm going to attempt this over the weekend.

[2015-12-04 19:23] glock45 commented on #60
xD

[2015-12-04 19:36] drnic opened #61 "Noob guide"
For the benefit of people who have never used Swift yet, and perhaps haven't touched XCode since 2008, could you perhaps add a simple getting started guide to creating a simple web app and running it locally to serve traffic?

And/or perhaps link to some web apps built with Swifter. Github searches for "swifter" include matches for "swift"; so I didn't find any so far.

[2015-12-04 21:46] gabebear commented on #60
IBM's Swift Linux real thing has a http server/client example(server.swift).  http://swiftlang.ng.bluemix.net/#/repl

[2015-12-05 12:57] monster1025 opened #62 "Dependency "swifter" has no shared framework schemes"
I didn't find following issue in this project:

On "carthage update" i got following error:

I have created clean macos applicattion(cocoa).
Here is my config:

^^^^^^^ empty

[2015-12-05 14:12] aciidb0mb3r commented on #60
Foundation for linux is not yet complete so very difficult to port this project to linux
even NSString has so many unimplemented method
https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/NSString.swift

[2015-12-05 14:27] aciidb0mb3r commented on #61
open `Swifter.xcodeproj`
set scheme to `SwiftSampleOSX`
hit play button or command+r
open `http://localhost:9080` in your broswer
you should be seeing the demo server

[2015-12-06 07:36] mohdabdurraafay opened #63 "Linux support?"
Do we plan to support Linux with latest open sourced tool-chain?

[2015-12-06 15:49] glock45 commented on #63
hi @mohdabdurraafay :) this topic is already discussed here: https://github.com/glock45/swifter/issues/63

best,
dk

[2015-12-06 15:49] #63 closed

[2015-12-06 16:39] mohdabdurraafay commented on #63
#63 is this same thread. I think you intend to point me elsewhere.

[2015-12-06 17:40] glock45 commented on #63
ooops :) sorry, here you have the correct link https://github.com/glock45/swifter/issues/60

[2015-12-06 21:19] glock45 commented on #60
hi all,

I spend some time on the support for Linux. I worked on Socket class and it compiles successfully on Linux machine ( Ubuntu 15.10 Swift 2.2  ). I also removed NSData dependency from HttpServer and Socket classes ( both use [UInt8] array ).

I am going to continue the journey with the following roadmap:
1. Remove NSRegularExpression dependency from HttpServer ( maybe together with routing

[2015-12-06 21:32] julien-c commented on #60
Awesome!

Why do you need to remove the NSURL dependency? What's missing in the
current implementation in Foundation core libs?

How can we help?!

Julien

On Sunday, December 6, 2015, Damian Kołakowski <notifications@github.com>
wrote:

[2015-12-06 21:35] glock45 commented on #61
@drnic please check this tutorial: http://www.raywenderlich.com/115253/swift-2-tutorial-a-quick-start

best
dk

[2015-12-06 21:35] #61 closed

[2015-12-06 21:38] glock45 commented on #27
@sdgandhi we are going to get rid of the dependencies - https://github.com/glock45/swifter/issues/60

[2015-12-06 21:42] drnic commented on #61
Thanks!

On Sun, Dec 6, 2015 at 1:36 PM, Damian Kołakowski
<notifications@github.com> wrote:

[2015-12-07 09:39] glock45 commented on #1
Just a quick update here.
We switched to [UInt8] as a medium for sharing the content of response.

[2015-12-07 19:42] glock45 commented on #60
@julien-c thanks :)

The following classes works on Linux:
Socket.swift, HttpRequest.swift, HttpParser.swift

TODO: HttpServer, HttpResponse.

best,
dk

[2015-12-07 19:50] SamDecrock commented on #62
Same problem here

[code]

[2015-12-07 20:40] SamDecrock opened #64 "Use blue folder containing html files"
Hi,

This is not an issue, but I just wanted to let you know that I'm adding complete folders to my Bundle (by adding them as folder, not as group) and then using this code to access them:

[code]

Where ```HTML/``` is the blue folder added to my iOS project.

So by going to http://url-to-iphone:port/public/index.html i'm accessing ```index.html``` inside the ```HTML/```-folder

[2015-12-07 22:42] harlanhaskins opened #65 "Swift Package Manager tag"
Could you tag a new release with the Package.swift file?

[2015-12-07 22:47] cwagdev commented on #65
+1 not sure if that's the cause for my issue but I am seeing the following

[code]

With a `Package.swift` of:

[code]

[2015-12-07 22:49] harlanhaskins commented on #65
It's definitely the cause.

`majorVersion: 1` means that it's going to look for a tag called `1.0.0`, which this project doesn't have.

You'll need to use the `.Package(url: String, _ version: Version)` initializer.

`.Package(url: "https://github.com/glock45/swifter.git", Version(1, 0, 2))`

But that tag doesn't have Package.swift as it was created in October.

[2015-12-07 22:50] cwagdev commented on #65
I believe `majorVersion: 1` finds the highest `1.x.x` version. I was just able to get `swift build` to pass by forking and creating a `1.0.3` tag on my fork.

[code]

[2015-12-07 22:52] harlanhaskins commented on #65
Ooh, really? I thought it found the lowest version! That's great. Thanks!

[2015-12-08 06:53] glock45 commented on #64
hi @SamDecrock

Thanks for the message. Answering to your question, yes, I know about that. It's because of the bundle structure and how iOS build procedure treats resources files. According to https://developer.apple.com/library/ios/documentation/CoreFoundation/Conceptual/CFBundles/BundleTypes/BundleTypes.html all the files are copied to the root of bundle:

best
dk

[2015-12-08 06:53] #64 closed

[2015-12-08 08:49] ParkinWu commented on #62
Same problem
[code]

[2015-12-08 10:33] glock45 commented on #62
@Palleas hey man :) can you help here ?

[2015-12-08 16:15] vittoriom opened #66 "Asynchronous handlers"
Hi, we're planning to use your server instead of `GCDWebServer`, but we need to asynchronously handle requests. This means that, when specifying a request handler, we don't want to immediately return a `HttpResponse` but be able to pass this to some kind of completion handler.
Do you think this could be a welcome improvement to the `swifter` project? Also, would you be able to do it?

Thanks!

[2015-12-08 17:24] VFUC commented on #66
How about just writing your own handler, which then deals with the HttpResponse any way you like?

[2015-12-08 17:29] VFUC commented on #20
FYI, I'm also working on this over at [my fork](https://github.com/vfuc/swifter), handling of metadata and multiple files is WIP but the basic extraction of data as NSData object works.

[2015-12-08 17:41] glock45 commented on #20
@VFUC thanks man. I will have a look.

[2015-12-08 17:57] vittoriom commented on #66
Because if I understand correctly how it works, even if I write my own handler I have to return a response in the closure and I don't have one yet.
Can you elaborate some more on how I could do that?

[2015-12-08 18:11] VFUC commented on #66
Well if you're saying you don't have the necessary information to return a response yet, could you not perform the steps to obtain that information in the handler?
I'm thinking about something like the following, in this scenario the missing information would be a String:

[code]

[2015-12-08 18:14] vittoriom commented on #66
Maybe I didn't make myself clear enough, but that's what I meant with "asynchronous". When I get a request, I have to perform **some stuff** before I know what I will have to return.

In the scenario you wrote, there is no asynchronous stuff going on, it should be more like:

[code]

while I expect a server library to support something more similar to:

[code]

[2015-12-08 18:28] VFUC commented on #66
Oh, I see what you mean. You're right, my proposal is still synchronous.

[2015-12-10 04:39] johnno1962 commented on #60
Hi @glock45 if you’re looking for dispatch_async you can try https://github.com/johnno1962/NSLinux

[2015-12-10 10:27] smilingxinyi commented on #20
I have the same problem,I don't know how to receive a post request,give me a hand,think you ( and a html file? :D

[2015-12-10 11:00] lucatorella opened #71 "Wrap up a new version"
Latest version is 1.0.2 from October, maybe it's time for a 1.1 including all latest changes if they are stable enough?
I don't want to point directly to master or a specific commit, instead I'd prefer to point to the last stable release

[2015-12-11 09:32] glock45 commented on #71
@lucatorella we ill release when linux is ready.
best
dk

[2015-12-11 09:32] #71 closed

[2015-12-11 11:31] glock45 commented on #60
hi @johnno1962

Correct me If I am wrong ? Every time I call dispatch_async the library creates a new thread and after the run all the resources are released ( which is absolutely fine for me ) ?

best
dk

[2015-12-11 11:39] glock45 commented on #27
Some basic support for Sinatra routing has been added recently: https://github.com/glock45/swifter/commit/df24cedc2b71cf8e0dbebccb0cba905918842595

[2015-12-11 11:45] glock45 commented on #20
@smilingxinyi there is an example in the source code. Please have a look at:

HTML Page: https://github.com/glock45/swifter/blob/master/Resources/login.html

best
dk

[2015-12-11 13:44] gabebear commented on #60
It does look to spin a thread every time... I'm confused why @johnno1962 code would be better than the dispatch_async provided by Apple/Swift? https://github.com/apple/swift/blob/8d9ef80304d7b36e13619ea50e6e76f3ec9221ba/test/ClangModules/Dispatch_test.swift

[2015-12-11 13:59] julien-c commented on #60
I've put in some work on the Linux support of `swifter` (in #72, #73, #74, #75).

One of the last roadblocks on getting basic support (first of all, getting to something that builds 😄) is the locking that happens in `HttpServer`. My question is: is it really needed? If it is, is there something equivalent that we could use in `Glibc`?

[2015-12-11 15:09] C0deH4cker commented on #60
@julien-c How about something like https://gist.github.com/kristopherjohnson/d12877ee9a901867f59?

[2015-12-11 15:14] C0deH4cker commented on #60
Really it boils down to just using a NSLock and doing:

[code]

[2015-12-11 16:29] julien-c commented on #60
@C0deH4cker  Your link seems to 404

[2015-12-11 16:32] glock45 commented on #60
@julien-c Thanks for a great work ! I pushed two changes more and finally we compile on Linux ( with NSLinux from @johnno1962 ). I have not run it yet xD

@C0deH4cker thanks for NSLock ! I've update Swifter.

[2015-12-11 16:39] C0deH4cker commented on #60
@julien-c Whoops, looks like I accidentally removed the last "9"! Try this one: https://gist.github.com/kristopherjohnson/d12877ee9a901867f599

[2015-12-11 16:40] glock45 commented on #66
@vittoriom hi man

For now you could use dispatch_semaphore to wait for the end of informationGetter().onCompletion :
https://developer.apple.com/library/mac/documentation/General/Conceptual/ConcurrencyProgrammingGuide/OperationQueues/OperationQueues.html#//apple_ref/doc/uid/TP40008091-CH102-SW24

Swifter should expose some kind of promises chaining.

best
dk

[2015-12-11 16:40] C0deH4cker commented on #60
I'll clone it and test on Ubuntu 14.04 now and let you know!

[2015-12-11 16:56] glock45 commented on #60
( I build on Linux using "swift build" ).

[2015-12-11 17:14] C0deH4cker commented on #60
Built both NSLinux.a and Swifter.a. How are you building the samples?

[2015-12-11 17:18] #47 closed

[2015-12-11 17:27] vittoriom commented on #66
Hi @glock45
I appreciate your reply, but writing semaphore-based request handlers is not an option at the moment.
Thanks anyway!

[2015-12-11 17:32] julien-c commented on #60
Yay! Swifter server running on Ubuntu here: http://swift.circular.io:8080/ 🎉🎉

[2015-12-11 17:48] julien-c commented on #60
The app's code is here: https://github.com/julien-c/example-package-dealer

Small variation on Apple's playing card dealer example. There's a pretty sweet `/cards` endpoint here: http://swift.circular.io:8080/cards

I had to unplug the JSON serialisation as `NSJSONSerialization` is unimplemented in Foundation so far.

[2015-12-11 17:50] julien-c commented on #60
I've just posted this to Hacker News, if you wish to upvote :)

[2015-12-11 18:37] C0deH4cker commented on #60
Got a demo running on my server as well! Took a little extra time as I didn't realize Azure firewalls new VMs from everything but SSH by default, not using iptables but external to the VM (and it seems that adding a new firewall rule is broken). Great work!

[2015-12-11 18:57] johnno1962 commented on #60
congrats @glock45. @gabebear You’re right NSLinux’s dispatch_async is pretty inefficient spinning a thread each call but libdipatch seems not to be available on Linux. It should clean up after each thread exits (calls pthread_detach)

[2015-12-11 19:09] C0deH4cker commented on #66
This sounds like the perfect use case for promises, since you don't yet have the response body but return a promise that you will create it later

[2015-12-12 14:09] gabebear commented on #60
oops, interesting, I'd setup my ObjC Linux server long enough ago I'd forgotten how I'd done it. Went back and I've been using http://nickhutchinson.me/libdispatch/ (forgot I'd even installed it)

[2015-12-12 18:58] smilingxinyi commented on #20
Thank you
I want to upload a PDF file to iOS device,when i have a post request,can't receive the file data.
I don't know how to receive the data

[2015-12-14 22:50] NSBrianWard commented on #65
Just curious if this is on the plan for resolution in the near future. Currently I'm on the fork, but I'd love to jump back in the main branch ASAP. Thanks!

[2015-12-15 12:09] julien-c commented on #65
Planning on tagging a release later today, once I merge a `main.swift` example file for Linux.

[2015-12-15 12:28] julien-c commented on #66
I think it is pretty reasonable for an HTTP server today to be *asynchronous-first*, given that every non-trivial server is going to hit some kind of persistence engine or make network calls itself.

What would you guys think about something like:
[code]
or
[code]

[2015-12-15 12:41] julien-c opened #77 "Require latest version of Swift snapshot"
This issue builds on issue #60.

A new dev snapshot of Swift has been released on December 10, with support for lots of Foundation constructs, including `NSJSONSerialization`.

For the time being, is it reasonable to require users of `swifter` to have the latest snapshot version of Swift?

[2015-12-15 13:28] Francescu commented on #66
I agree with @julien-c

[2015-12-15 13:45] glock45 commented on #66
:+1:

[2015-12-15 13:57] glock45 commented on #77
:+1:

[2015-12-15 13:57] #77 closed

[2015-12-15 14:09] solidfox commented on #62
The schemes aren't checked as shared in the 1.0.2 commit. Fix by checking shared in Main Menu > Product > Scheme > Manage Schemes... in Xcode

[2015-12-15 14:11] Palleas commented on #62
Oups, maybe I un-shared it somehow before it got merged? My bad!

[2015-12-15 14:57] solidfox commented on #62
No worries! I wonder though, that commit seems to also not have any framework targets so it doesn't work with Carthage anyways. Using `github "glock45/swifter" "master"` works as a temporary fix until there's a new release but I wouldn't recommend it as it uses the current development version of Swifter.

[2015-12-15 18:19] vittoriom commented on #66
Not sure what `DB.ExampleAsyncCall.find` is supposed to be, but I would use an established pattern like Promises and Futures, so the handler closure only takes the request and returns a response future.

[2015-12-16 21:20] julien-c commented on #66
My `DB.ExampleAsyncCall.find()`  is your `informationGetter().onCompletion()` :grin:

It's way simpler to do completion callbacks, *à la* Express.js – but nothing prevents you from dropping a Promise implementation there if you need (I know of `FutureKit`, `PromiseKit`, `BrightFutures`). He who can do more, can do less.

[2015-12-17 00:17] glock45 commented on #20
Ok. We added support for multipart POST requests ( https://github.com/glock45/swifter/commit/8ec765f4326540c2712090a715784b1450ce9bc7 ).  I will put an example here when finish with merges.

[2015-12-17 08:55] #60 closed

[2015-12-20 00:03] glock45 commented on #62
I've fixed schemes for the Swift project and it works fine now:
[code]

[2015-12-20 00:04] #62 closed

[2015-12-21 06:34] roman-yu opened #84 "Unable to pod install version 1.0.3."
[code]
'pod install' with above error.

[2015-12-21 08:22] glock45 commented on #84
thanks for the report :+1:  I've updated the podspec to 1.0.5.

[2015-12-21 10:03] glock45 commented on #65
@harlanhaskins @cwagdev @NSBrianWard @julien-c
We got a new release 1.0.5.

[2015-12-21 10:03] #65 closed

[2015-12-21 10:14] #84 closed

[2015-12-21 10:55] roman-yu commented on #84
Yes, it works now. Thanks!

[2015-12-21 23:56] crayment opened #85 "HttpServer has no public initializer"
- Xcode 7.2
- Swifter 1.0.5

-

![](http://cl.ly/2R0R0T051Y1t/Image%202015-12-21%20at%204.42.53%20PM.png)

-

Image from sample project:

![](http://cl.ly/1x3a3d1o0g0D/Image%202015-12-21%20at%204.58.43%20PM.png)

[2015-12-22 00:01] glock45 commented on #85
oops :+1: I forgot about "public override init() { }" for HttpServer class :)

[2015-12-22 08:30] glock45 commented on #85
one again, thanks for the report. It's fixed by https://github.com/glock45/swifter/commit/3eecb3204170b7583ff2076ff995b556dbdaf4f0

I am going to release the next version.

[2015-12-22 09:23] glock45 commented on #85
@crayment could you please check the latest release (1.0.6) ?

[2015-12-22 16:11] crayment commented on #85
Confirmed working on 1.0.6 :+1: Thanks!!

[2015-12-22 16:37] #85 closed

[2015-12-23 16:35] glock45 commented on #27
hi guys ( @jchannon @sdgandhi @tristaaan @mwelser @18601673727 @jchannon @jayrhynas @julien-c  and others ! )

This thread is the main place for discussing routing mechanism so let me summarise what we already have an what's the bright future :)

With version 1.0.5 we have a support for the following routing mechanism:

Example 1 ( new ):
[code]
Example 2 ( old - still supported ):
[code]
We also

[2015-12-25 11:05] BeQ commented on #27
Is it possible to use wildcard/regexp in routes?

Thanks and Happy Holidays!

[2015-12-27 18:49] aurasw opened #86 "How to get server port and ip address?"

[2015-12-27 19:45] weaksauce commented on #86
ip address is whatever address your machine has and port is configurable but 8080 by default

https://github.com/glock45/swifter/blob/master/Sources/HttpServerIO.swift#L20

[2015-12-28 07:14] glock45 commented on #86
for MacOS: http://127.0.0.1:9080
for iOS Simulator: http://127.0.0.1:8080
for iOS Device: http://[iphone_ip_address]:8080

[2015-12-28 07:14] #86 closed

[2015-12-29 07:59] SamDecrock opened #87 "print(statusTokens)"
There's a ```print(statusTokens)``` on line 23 of HttpParser.swift
It's kinda cluttering my debugging output.

I'm not sure if I should remove it or if you should, as I don't want to edit my pod-frameworks.

[2015-12-29 09:28] glock45 commented on #87
It will be removed wit the next release. Please remove it from pod-frameworks as a temporary fix :)

best,
dk

[2015-12-29 09:28] #87 closed

[2015-12-31 14:33] glock45 commented on #20
hi @elepone @IvanMathy @VFUC @smilingxinyi

please have a look at the example: https://github.com/glock45/swifter/blob/master/Sources/DemoServer.swift#L58

html web page: https://github.com/glock45/swifter/blob/master/Resources/file.html

best
dk

[2015-12-31 14:33] #20 closed

[2015-12-31 14:37] glock45 commented on #27
hi @BeQ

Initially we supported regexps but we removed it :) Wildcard is supported. Please have a look at the example: https://github.com/glock45/swifter/blob/master/Sources/DemoServer.swift#L104

best
dk

[2015-12-31 14:37] #27 closed

[2015-12-31 16:15] glock45 commented on #1
hi @apsanz

first version of streaming is ready ( https://github.com/glock45/swifter/commit/cec9a93c2fab3d1d59538116e8cd9a71cf546b90).

example: https://github.com/glock45/swifter/blob/master/Sources/DemoServer.swift#L106

best
dk

[2015-12-31 16:15] #1 closed

[2016-01-02 06:25] segabor commented on #60
Hi,

Happy to see it runs on Linux at last. Here's my work that makes the example run also, with build script.

https://github.com/segabor/swifter/commit/918a751e1ef02cb0c13c72e20512a1465218fcc1
Cheers,

Gábor

[2016-01-05 03:11] roman-yu opened #88 "What is the correct way to link an external style sheet file"
Hi,
I created a /Resources/Web directory as "Folder references" under my project root directory. The structure is shown below:
[code]
The html can be retrieved with ```html = NSData(contentsOfFile:"\(rootDir)/Web/index.html")``` and shown in the browser, but linking to external css failed in the Chrome console.

Below is the link tag in my ```index.html```. I am wondering why it not works.
[code]

[2016-01-08 03:18] Laban1 opened #89 "HttpRequest.MultiPart missing member 'name' and 'fileName' (when using Carthage)"
I included Swifter 1.0.6 in my project using Carthage and then simply copied the server.POST["/upload"] block from demoServer.swift, but the line:

`response += "Name: \(multipart.name) File name: \(multipart.fileName) Size: \(multipart.body.count)<br>"` does not build.  I get unresolved identifier, *"value of type 'HttpRequests.MultiPart' has no member 'fileName' "* (and the same for .name).

Not

[2016-01-08 16:27] glock45 commented on #89
hi @Laban1

Thanks for the report. Multipart was not in 1.0.6 release. I've added is just now ( 1.0.7 ).

best
dk

[2016-01-08 16:27] #89 closed

[2016-01-08 16:55] Laban1 commented on #89
Thanks, works fine now!!  Minor note: the Readme.md file still has 1.0.6 for Carthage.

[2016-01-08 16:57] glock45 commented on #88
hi @roman-yu

could you please give me a screenshot from Target -> Build Phases -> Copy Files settings section ?

best
dk

[2016-01-08 22:38] glock45 commented on #89
@Laban1 thanks !

[2016-01-13 15:17] MXPicture opened #91 "type of expression is ambiguous without more context"
Hi

I get the error "type of expression is ambiguous without more context" when I use .Html() this way:
server["/hello"] = { .OK(.Html("You asked for ")) }

why does the following work and mine not?
server["/hello"] = { .OK(.Html("You asked for " + $0.path)) }
Thanks

[2016-01-13 21:21] nrmtrifork opened #92 "Release 1.0.7 is not on Cocoapods"
According to cocoapods.org Swifter is still 1.0.6! Can this be updated?

[2016-01-13 22:16] papierschiff commented on #88
there is a problem with paths in swifter.
now
```server["/resources/:file"] = HttpHandlers.directory(publicDir)```
matchs resources/file.css but not resources/css/file.css

this could be fixed with something like
[code]

[2016-01-14 03:51] roman-yu commented on #88
Below is my project structure, please take a look:
![screen shot 2016-01-14 at 11 48 48 am](https://cloud.githubusercontent.com/assets/5867845/12315367/17158844-bab5-11e5-8348-3b1a1a5751e0.png)

[2016-01-15 01:56] macecchi commented on #47
Hi! Any updates on this?

[2016-01-18 22:29] tannernelson opened #93 "string? not unwrapped"
In `String+Misc.swift:44:20` the

[code]

needs to be unwrapped. A nil coalescing operator should work here.

[2016-01-19 07:21] #93 closed

[2016-01-19 07:21] glock45 commented on #93
Thanks ! :+1:

[2016-01-19 08:12] glock45 commented on #91
hi :)

it's because of swift's syntax :( According to (https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/Closures.html) it's not possible and you need to provide argument list before ".OK(...".

It should work if you change it to:
[code]

best,
dk

[2016-01-19 08:13] #91 closed

[2016-01-19 16:46] tannernelson commented on #88
@roman-yu you should take a look at my fork of this project https://github.com/tannernelson/vapor

It has a Public folder where you can easily put all of your style sheets / images that you want publicly available.

[2016-01-19 18:51] nrmtrifork commented on #92
More than that it seems that depending on 1.0.6 does not refer to right commits. Are there anything wrong with the tags or the podspec?

[2016-01-20 10:42] nrmtrifork commented on #92
Please run "pod trunk push Swifter.podspec", who ever is entitled to do so

[2016-01-20 15:19] glock45 commented on #92
hi @nrmtrifork

can you try please with 1.0.9 ?

best
dk

[2016-01-20 15:19] #92 closed

[2016-01-20 16:28] nrmtrifork commented on #92
Perfect! It works. Thanks

[2016-01-21 11:15] glock45 commented on #88
@roman-yu thanks for the feedback. You are right. It does not work. I fixed it here: https://github.com/glock45/swifter/commit/25e9da7acb89f48934e1a7ae8f7d3d476d1ea344

I am going to release a new version - 1.0.9 with other cool stuff.

@tannernelson You did not fork Swifter. You copied source files to your repo and removed license headers.

[2016-01-21 13:04] nrmtrifork commented on #88
This is a great idea! However it is not released in 1.0.9, it probably going to be released in 1.0.10. Because 25e9da7 is not tagged with "1.0.9".

[2016-01-21 13:19] glock45 commented on #88
@nrmtrifork :+1:

[2016-01-21 22:00] tannernelson commented on #88
@glock45 There's attribution in the README. I can put the license headers back in the files from this repo. They just seem a little redundant to me.

[2016-01-22 00:02] glock45 commented on #88
@tannernelson Yes, please do that. I believe in your good intentions but there are more examples of how you break the rules:

I see copy of @johnno1962 's NSLinux ( https://github.com/johnno1962/NSLinux/blob/master/Sources/Dispatch.swift#L48 ) at your repo ( https://github.com/tannernelson/vapor/blob/master/Sources/LinuxFixes.swift#L156 ). No attribution.

I think you are about to start profession

[2016-01-22 00:21] tannernelson commented on #88
@glock45 Very good point–you're right.

https://github.com/tannernelson/vapor/commit/7dc51746ebc0d99cf333164d97ff997e3137d157

As for forking, Vapor's `Response` class is already too different to take advantage of re-basing or merging updates from the forked repo I think.

But I'm going to continue watching this repo and contributing for sure.

[2016-01-22 00:22] glock45 commented on #88
@tannernelson :+1: thanks man

[2016-01-24 18:47] Laban1 commented on #66
Any ETA on this?

[2016-01-25 03:02] roman-yu commented on #88
@glock45, that's great, looking forward to the new version!

@tannernelson, thanks I will take a look.

[2016-01-25 20:37] swierpa opened #95 "How to save data with upload?"
Hi, I'm trying to use the upload function as shown in sample project. Anyway I'm not able to save the file uploaded in a folder in device.. I also can't find anything about this in source code.. Can you please help me? My actual code is:

       let server = HttpServer()

       let publicDir = NSBundle.mainBundle().resourcePath

       server["/resources/:file"] = HttpHandlers.directory(publicDir

[2016-02-02 18:08] lucatorella opened #96 "HttpServer stops working after locking the phone for ~1 minute and then unlocking it"
If I lock the iPhone (the actual device and not the simulator) (and it doesn't matter if the app is in the foreground or in the background), when I unlock it after at least 1 minute, the server stop working.
In particular the `acceptClientSocket()` function called by the while loop running the server throws the following error:
`Failed to send response: WriteFailed("Broken pipe")`
Because of that

[2016-02-02 18:40] SwimByteRun commented on #96
It sounds like your app is being suspended, and I believe this is expected behavior. On an actual iOS device you will be subject to the application execution states, and you'll need to grant permission to allow the application to continue to run in the background.

From Apples "App Programming Guide for iOS"

An always running server on your phone isn't explicitly permitted, as it would have sever

[2016-02-02 18:59] SwimByteRun commented on #96
I think #42 is tracking this

[2016-02-02 19:07] lucatorella commented on #96
I'm not expecting the server to run when the app is in background mode, I'm expecting the server to resume (and not to stop) once the app is back in the foreground.

[2016-02-02 19:15] SwimByteRun commented on #96
Oh sorry, I misunderstood.
Isn't this still developer to manage the server within the UIApplicationDelegate? When the applicationWillResignActive delegate is called, server.stop() should be executed. Likewise the developer should execute server.start() on the  applicationDidBecomeActive delegate.

[2016-02-02 20:11] lucatorella commented on #96
Thanks @swimbyterun I'll try that. Anyway it would be great if the library could suspend and resume the server automatically as GCDWebServer does.

[2016-02-03 08:18] lucatorella commented on #96
And yes it is related to https://github.com/glock45/swifter/issues/42

[2016-02-03 16:31] lucatorella commented on #96
I tried the workaround and it's working, thanks. Unfortunately I'm getting, from time to time, and apparently only on iOS 8 the following crash:

`EXC_GUARD 0x08fd4dbfade2dead`

the crash happens at the line: `try server.start(UInt16(port))` inside the method responsible for `UIApplicationDidEnterBackgroundNotification` notification.

[2016-02-03 22:11] SwimByteRun commented on #96
Did you mean `try server.stop(UInt16(port))` instead? `UIApplicationDidEnterBackgroundNotification` is called when your application is about to be suspended

[2016-02-03 23:20] matthewdias opened #97 "Post"
The README is kind of vague, so I was wondering if it would be possible to receive data over http, and then do something with that data in the app. If this is possible, how would I do it with swifter?

[2016-02-03 23:55] SwimByteRun commented on #97
There is an example of handling POST methods in /Sources/DemoServer.swift
[code]

You'll need to use `parseMultiPartFormData` on the request object to handle the `multipart/form-data` HTTP content-type

[2016-02-04 06:44] glock45 commented on #97
@SwimByteRun thanks ! :+1:

[2016-02-04 06:44] #97 closed

[2016-02-04 08:26] lucatorella commented on #96
Sorry copied that wrong notification. I meant it crashes at the line `try server.start(UInt16(port))`. Here is my code:

[code]

[2016-02-04 10:24] acerosalazar opened #98 "Trailing slash on last parameter value"
Commit 25e9da7 in version 1.1.0, introduces a change in the routine that parses the URL parameters that causes the [last parameter value to have a trailing slash](https://github.com/glock45/swifter/blob/master/Sources/HttpRouter.swift#L87)

[2016-02-04 14:04] nrmtrifork opened #99 "Version 1.1.1 is not on Cocoapods"
Thanks for an awesome library

Could whoever is entitled to do so bump the Cocoapods version to 1.1.1

Thanks in advance

[2016-02-04 17:13] glock45 commented on #99
hi @nrmtrifork

thanks for the report.

the reason why i've not pushed it to the spec is I got the following pod-spec-lint error:

[code]

i am checking what's wrong :)

best
dk

[2016-02-05 13:45] NielsKoole opened #100 "Support for sockets"
Is it possible to add support for sockets? I'm building an app that needs to communicate with another devices in a network without having internet.

Thought of using Swifter as a local http server, which should work. But I prefer a socket connection because of the push capability.

Is this something or are there another ideas for this?

[2016-02-05 17:35] glock45 commented on #98
@acerosalazar nice shot :) thank you for the report. I've fixed it here ( https://github.com/glock45/swifter/commit/1ce84ca3fff1f3bf0b27978af15408c2e6d9f024 ).

I started to build tests suite for Swifter. HttpRoute is the next class I am going to cover by the tests.

[2016-02-05 17:35] #98 closed

[2016-02-06 01:34] bigcoder opened #101 "overflows when stored into 'Int'"
When run on ipad ios 9.2 I got these errors:

swifter-master/Sources/String+SHA1.swift:31:25: Integer literal '3285377520' overflows when stored into 'Int'

/swifter-master/Sources/String+SHA1.swift:29:25: Integer literal '2562383102' overflows when stored into 'Int'

/swifter-master/Sources/String+SHA1.swift:28:25: Integer literal '4023233417' overflows when stored into 'Int'

[2016-02-06 11:52] glock45 commented on #101
@bigcoder thanks for the report :) it looks like you helped me a lot with solving the problem.

The issue is solved by https://github.com/glock45/swifter/commit/b070d440adf0e8d81a927ffa221c047b526350d4

[2016-02-06 11:52] #101 closed

[2016-02-06 11:54] glock45 commented on #99
@nrmtrifork I solved the problem ( https://github.com/glock45/swifter/issues/101 ) with the overflows and pushed version 1.1.2 to cocoa.

[2016-02-06 11:54] #99 closed

[2016-02-07 11:54] glock45 commented on #95
hi @swierpa :) please have a look at the sample code below:
[code]
best,
dk

[2016-02-07 11:54] #95 closed

[2016-02-07 16:19] glock45 commented on #100
hi @NielsKoole do you mean web-sockets ( http://www.html5rocks.com/en/tutorials/websockets/basics/ ) or raw sockets ( https://en.wikipedia.org/wiki/Berkeley_sockets ) ?

[2016-02-07 16:23] NielsKoole commented on #100
I think web-sockets will do the job.

[2016-02-07 17:24] #88 closed

[2016-02-07 18:23] glock45 commented on #100
Swifter has basic support for Web-Sockets. There is a couple of missing features:
+ no Web-Socket client API.
+ no support for "continuation frames" ( https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers#Message_Fragmentation )
This will be added soon :)

[2016-02-09 15:09] #100 closed

[2016-02-10 01:37] SwimByteRun opened #102 "Update Range init in HttpRequest.nextMultiPartBody to conform to Swift 3"
While updating my Carthage packages, I received the following warning:

_./Carthage/Checkouts/swifter/Sources/HttpRequest.swift:143:43: warning: 'init(start: end:)' is deprecated: it will be removed in Swift 3.  Use the '..<' operator._

In order to resolve the warning, we need to change the new Range declaration from:
[code]
to:
[code]

[2016-02-10 07:57] glock45 commented on #102
thanks for the report. I am going to replace this section with fopen/fseek API.

best
DK

[2016-02-13 11:11] #102 closed

[2016-02-14 01:34] LoganWright opened #103 "Test Folder Under Sources"
The test folder is under the Sources and thus invalid on current SPM.

This appears to be corrected in current version, just needs a new version tag.

[2016-02-14 17:58] whisper-bye opened #104 "How to serve a directory?"
Hi!

I want to load js from html,
here is my code:
[code]

html:
[code]

but the js file doesn't load

what should I do? thx!

[2016-02-18 09:32] glock45 commented on #103
:+1: thanks !

[2016-02-18 20:34] glock45 commented on #104
For iOS:
`server["/public/:path"] = HttpHandlers.shareFilesFromDirectory(NSBundle.mainBundle().resourcePath!)`
WebPage:
<body>
    <script type="text/javascript" src="public/index.bundle.js" charset="utf-8"></script>
</body>

[2016-02-18 20:48] glock45 commented on #103
Added new tag: 1.1.3. Should be fine now.

[2016-02-18 20:48] #103 closed

[2016-02-18 20:50] LoganWright commented on #103
Thanks @glock45

[2016-02-19 19:50] czechboy0 opened #106 "JSON serialization"
Quick question - you're using NSJSONSerialization, however that's not yet implemented on Linux. Does that mean there's difference in functionality between OS X and Linux?
Anyway, if you need a Linux compatible JSON parser, I wrote one: https://github.com/czechboy0/Jay

[2016-02-20 09:16] whisper-bye commented on #104
ok thx

[2016-02-20 09:16] #104 closed

[2016-02-21 16:42] ayufan opened #107 "Unquoting content-disposition looks bad"
Please check how the (un-)escaper should work for content-dispositions: https://golang.org/src/mime/multipart/writer.go#L128

[2016-02-21 16:49] ayufan opened #108 "Transfer-encoding clients"
The server doesn't support clients that use Transfer-Encoding: chunked with Content-Length set to 0 (or not send at all).

After looking at code it appears that socket is left in bad state.

[2016-02-21 19:11] glock45 commented on #108
You are right :+1:  It will be added soon :)

[2016-02-21 19:44] glock45 commented on #107
:+1:

[2016-02-22 08:02] glock45 commented on #106
:+1: I will have a look and try to integrate :)

[2016-02-23 09:22] omerlh opened #109 "Failed to run demo"
Hey there,
Swifter look really good :)
I've cloned the repo and tried to run the ios sample, using xcode 7.2.1 on ipad mini.
When I've first run it, it failed to found swifter framework. I've added it to the linked libraries (it wasn't there) and that issue fixed. Now the app crashed on this line (already tried to mark the framework module as optional or required, the same error occurred):
[code]

[2016-02-23 10:56] omerlh commented on #86
Hey,
I've run into the same problem. I've planned to use the server for testing http related code (e.g. run the server, mock the response, and send the code to request data from the mock server).
That's what I've tried so far:
[code]
But the request failed with nsdomain error. I've also put breakpoint in httpserverio after ```self.listenSocket.acceptClientSocket()``` but not incoming request recei

[2016-02-23 14:37] brunophilipe opened #110 "tvOS support?"
Is it possible to compile Swifter for tvOS? In my short experience, apart from the UI libraries, it is very similar to the iOS library.

[2016-02-24 11:23] czechboy0 commented on #106
:+1: Feel free to ask any questions, but I'm pretty happy with Jay 0.2, I haven't been able to find input it can't handle properly.

[2016-02-24 16:31] lucatorella commented on #96
I'm seeing quite often these `EXC_GUARD 0x08fd4dbfade2dead` crashes.

Here is the trace:

[code]

[2016-02-24 22:37] lucatorella commented on #96
also, restarting the server when receiving the `UIApplicationDidBecomeActiveNotification` sometimes wasn't restarting the server. Temporarily I fix it by using a `dispatch_after` of half a second before trying to restart the server.

[2016-02-25 08:09] glock45 commented on #96
@lucatorella this answer explains what's happening - http://stackoverflow.com/questions/32429431/exc-guard-exception. I am going to check this in the evening.

[2016-02-29 04:44] satishmaha opened #111 "SSL Support"
https://github.com/PerfectlySoft/Perfect allows the ability to start the server with a cert+key. Since HTTPS is now recommended everywhere, along with initiatives like https://letsencrypt.org, what do you think?

[2016-02-29 09:42] glock45 commented on #111
:+1: thanks for this report !

I am going to add OpenSSL soon.

Best

[2016-02-29 09:43] satishmaha commented on #111
Super! Please let me know if you need QA/Testing

Thank you for all your hard work into this lib :)

[2016-03-03 02:53] satishmaha commented on #109
As of the latest commit 00e8a4b, the bridging header location is wrong. I've created a pull request for this: https://github.com/httpswift/swifter/pull/112

[2016-03-03 07:23] satishmaha commented on #109
PR has been merged. Please GLV and see if it works

[2016-03-03 07:24] omerlh commented on #109
OK, I will update.

From: Satish Mahalingam [mailto:notifications@github.com]
Sent: Thursday, March 3, 2016 9:24 AM
To: httpswift/swifter <swifter@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@soluto.com>
Subject: Re: [swifter] Failed to run demo (#109)

PR has been merged. Please GLV and see if it works

—
Reply to this email directly or view it on GitHub<https://github.com/httpswift/swifter/i

[2016-03-04 19:19] elliottminns opened #113 "Reaching out"
Is there an email address I can reach someone here at?

[2016-03-09 11:50] glock45 commented on #110
I've added new target for tvOS. Please have a look :)

[2016-03-09 11:50] #110 closed

[2016-03-09 11:50] #109 closed

[2016-03-09 20:46] glock45 commented on #113
my skype: kolakowski.damian

[2016-03-10 09:45] dcvz opened #114 "Way to add custom handlers to requests?"
Hello,

Is there any way I can set a handler for a path that contains a certain string?

So I can set a wildcard such as this: `server.GET["*/api/:path"]` which will catch anything that has `/api/` one level in like `localhost:8080/layer/api/test.json` in it's path BUT it won't catch `localhost:8080/layer/deep/api/test.json` nor will it catch `localhost:8080/api/test.json`.

[2016-03-10 11:03] dcvz commented on #114
looking more into the library seems like it would be possible by using the `server.GET[""]` however now I can't seem to find a way to set wildcards. For example: to intercept any request that has `/api/` in it's path.

[2016-03-11 07:43] glock45 commented on #114
Hi @dcvz

You are right - it will work :) Example:

[code]
Results:
http://127.0.0.1:9080/layer/api/test.json -> Value for :path Optional("test.json")
http://127.0.0.1:9080/api/test.json -> 404
http://127.0.0.1:9080/layer/deep/api/test.json -> 404

Best,
dk

[2016-03-11 09:42] dcvz commented on #114
Hey @glock45 my issue is that i'd like to be able to handle any `/api/` not just one layer in.. so for those example where it shows 404 not found, i'd like the handler to be able to catch them.

So what I'm proposing is to change the function of `*` to actually mean a wildcard and not just one layer of wildcard.

[2016-03-11 11:20] glock45 commented on #114
So I will need to introduce "**" operator to cover this case.

[2016-03-11 22:00] #113 closed

[2016-03-14 09:12] dcvz commented on #114
Yes, I came to that conclusion as well. It would be best to introduce `**` as that follows typical directory structure wildcards.

[2016-03-16 14:55] marcoconti83 opened #116 "How to return NSData from a response"
When generating a response that is supposed to contain an image, e.g. with

[code]

how can I return the raw bytes?

It seems that I can choose between `.Text`, `.Json`, `.Html` and `.Custom`, but `.Custom` requires a closure that converts the object to a String. The image should not be serialised to a String but returned as-is.

Is there a way to achieve this in Swifter?

[2016-03-19 13:16] strongwillow opened #117 "Default page using directoryBrowser"
I'm serving a small website using `HttpHandlers.shareFilesFromDirectory` and `directoryBrowser`. But it seems swifter doesn't check `index.html` or `index.htm`. Is there such setting and what should I do?

[2016-03-24 17:32] s-aska commented on #116
What about this? :dizzy:

[code]

Thanks

[2016-03-24 23:56] marcoconti83 commented on #116
Thanks for the suggestion @s-aska
I ended up with something very similar, but also passing the content type:
[code]

It would be nice to have a more convenient method to do this, maybe a `.Data` on top of `.Text`, `.Json`, that can automatically set content-length and potentially content-type.

[2016-03-25 22:33] LanchaBasualdo opened #118 "Can not run on ios, please help"
I have a fresh copy of the repositry but each time I try to install i to my iphone with ios9.2 this erros appear:
<img width="254" alt="screen shot 2016-03-25 at 7 30 11 pm" src="https://cloud.githubusercontent.com/assets/12802164/14055371/274b1092-f2c0-11e5-86a0-92452dc398a4.png">

[2016-03-26 10:48] glock45 commented on #118
hi

it's because of this commit: https://github.com/httpswift/swifter/commit/45c427434210bd461835825f1ab0c7573ef0c0c5

we try to keep the master branch up to date with the latest builds from https://swift.org/download/#snapshots

to fix the issue you can choose between:
1. a switch to the older version of Swifter - https://github.com/httpswift/swifter/releases/tag/1.1.3
2. upgrade your toolchain t

[2016-03-26 10:48] #118 closed

[2016-03-26 12:06] glock45 commented on #116
@marcoconti83 I've added _.Data_ enum case so now it's possible to return raw bytes array.

[code]

best

[2016-03-26 12:06] #116 closed

[2016-03-26 13:40] glock45 commented on #114
@dcvz hi man. I've added a support for "**" ( https://github.com/httpswift/swifter/commit/77961679369c3489c32e224837711ef66518af15#diff-89fefdaa6dc1e7be0b467ca441ab25ebR107 ).

[2016-03-26 13:40] #114 closed

[2016-03-26 13:46] #107 closed

[2016-03-26 15:10] AlexCatch opened #119 "'inout' must appear before the parameter name"
I'm getting a lot of errors when building for OSX.

The majority are in 'Socket.swift' and are "Thrown expression type 'Socket Error' does not conform to 'Error Type'"

Any idea why these might be occurring?

I simply dropped the sources folder into my app and attempted to use the example provided.

[2016-03-26 15:15] glock45 commented on #119
hi @AlexCatch please see my comment here https://github.com/httpswift/swifter/issues/118#issuecomment-201756041

[2016-03-26 15:15] #119 closed

[2016-03-27 07:40] marcoconti83 commented on #116
That's great, thank you @glock45!

[2016-03-30 01:15] rofreg opened #120 "Slack channel is currently private"
Hey there! I'm having an issue getting started with Swifter + Xcode 7.3, so I tried going to your Slack channel for help (as referenced in your README and in #118), but it appears to be invite-only. Can someone turn on email signup in the Slack channel settings?

[2016-03-30 13:26] ayufan commented on #107
Is it resolved? :)

[2016-03-30 14:11] glock45 commented on #107
@ayufan don't know :) I navigated to https://golang.org/src/mime/multipart/writer.go#L128 and it presents encoding. Could you please paste a link for decoding ?

[2016-03-30 14:13] glock45 commented on #120
@rofreg I've invited you to the channel.

[2016-03-30 14:13] #120 closed

[2016-03-30 14:22] dcvz commented on #114
Hey man this is great, thanks :)

[2016-03-30 14:25] rofreg commented on #120
Thanks! I eventually figured out the issue on my own (Cocoapods got stuck in an odd state) – just wanted you to know that the Slack was private, in case that wasn't intentional.

[2016-04-09 20:58] bizz84 commented on #111
Any update on this? This library is very easy to use, but I need to run my local server in https in production.

[2016-04-14 17:24] Laban1 commented on #111
I love the library, but I need to use https in production (and we are moving to production very soon).

Please give an ETA on this.

Thanks!

[2016-04-15 19:12] mtt2p opened #121 "cant build with ubuntu 15.10"
i tested it with following swift versions
**a)** => swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a-ubuntu15.10
`matt@matt-ubu:~/swifter$ which swift `
`/home/matt/swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a-ubuntu15.10/usr/bin/swift`
`matt@matt-ubu:~/swifter$ swift build`
`error: MixedSources("/home/matt/swifter/Sources")`
`matt@matt-ubu:~/swifter$ cd Packages/`
`matt@matt-ubu:~/swifter/Packages$ cd NSLinux-

[2016-04-16 21:48] glock45 commented on #121
hi @mtt2p

thank you for the report. I manage to solve all the problems for the latest toolchain (04-12-a) so please go for it :)

Linux
[code]
Mac:
[code]

[2016-04-17 18:11] #121 closed

[2016-04-18 14:09] JBlitter commented on #111
We really want to use this in production but can't yet because https isn't there.  Any update on when it might be ready?
Thanks!

[2016-04-18 14:25] julien-c commented on #111
Hi all, any reason why you could not stick `nginx` in front of your swifter servers?

[2016-04-18 23:03] Laban1 commented on #111
@julien-c: I have never used nginx, but adding proxies to the mix adds additional points of failure & maintenance, especially when you are dealing with ~100 tablets spread out over several locations with no IT staff on-site.  Further, would not the traffic between the nginx server and the tablets still be over HTTP?

[2016-04-19 06:45] julien-c commented on #111
If you use nginx as a reverse proxy just for SSL termination, the maintenance overhead will be minimal. This is literally 4 lines of nginx configuration.

[2016-04-19 12:40] mtt2p commented on #121
thanks it works (swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a-ubuntu15.10)
[code]
[code]
[code]
[code]
[code]
please tag the swifter version new to deal with swift built , latest version is 1.1.3 or is it possible to build from the master  branche ?
great project

[2016-04-19 14:33] Laban1 commented on #111
@julien-c: we would still need to install an nginx server at each location and then keep it updated and secure (sensitive data) and if it breaks it affects all tablets at the location.  Further, the connection between the proxy and each tablet would still not be secure.  In our scenario we are required to use SSL all the way to each tablet.

[2016-04-26 19:08] zmeyc opened #123 "'swift build -X': unable to import CSQLite"
I'm trying to generate a Xcode project using
swift build -X

When compiling this project I get an error:

No such module 'CSQLite'

'swift build' builds the library successfully from commandline.
I've checked that CSQLite is in Target dependencies in Build phases of Swifter.
Link Binary with Libraries contains libCSQLite.dylib.
Any ideas what could be missing?

[2016-04-26 19:16] zmeyc commented on #123
Solved: manually added ".build/debug" to "Import Paths" in Build Settings. Might be worth adding to build instructions.

[2016-04-26 23:52] zmeyc commented on #123
I realized that this links to the library built from console (by 'swift build'). Haven't yet found a way to import  CSQLite built by Xcode. :(

[2016-04-27 11:08] glock45 commented on #123
hi @zmeyc

Adding "Sources/CSQLite/" to Swift Compiler - Search Paths - Import Paths should help.

best

[2016-04-27 12:46] zmeyc commented on #123
Thank you very much, it works.

[2016-04-27 12:52] #123 closed

[2016-05-01 02:09] trozware commented on #117
I have just submitted a pull request that fixes this.

[2016-05-04 08:27] EvilClay opened #125 "Optional not found handler"
Hi,
good job with the Swifter. I have a feature request

instead of returning ([:], { _ in HttpResponse.NotFound }) if no route is found, it would be use full to define a not found handler on HttpServer .. i.e.:

let server = HttpServer()
server.notFoundHandler = xxxx

also please make in HttpServer.swift the private let router = HttpRouter() -> internal let router ... so we can usefully override

[2016-05-06 12:21] fdstevex commented on #66
I ran into this as well, looking to implement a simple proxy server. I want to have Swifter listen and handle the connection, and then my handler will make a connection to somewhere else (different protocol) and stream the data back to the Swifter connection.

I've done this now by creating my own HttpHandlers extension. The reading I'm doing from the other side is asynchronous, so I have to run i

[2016-05-09 16:17] #125 closed

[2016-05-09 16:18] glock45 commented on #125
@EvilClay I've added the notFoundHandler property. Let me know if it's ok for you.

[2016-05-10 02:30] Laban1 commented on #111
Hi all,

I was not able to find another Swift iOS web server and need only part of the traffic encrypted, so I used this this library: https://github.com/TakeScoop/SwiftyRSA to accomplish this.  In brief, here is what I did:
1) Created a key pair (RSA 2048 bit) on the Linux server that is interacting with the iPads
2) Created a web service method to send the public key to the iPads and store it in

[2016-05-11 01:33] trozware commented on #21
I have some trouble with this. The "address" reported looks like an IPv6 address e.g. ::101a:400:8060:0
And it changes every few minutes despite no change to my connection.

But when I use `ifconfig` to check my network settings, that address does not appear.
I am running the server and calling it from my dev computer - does this change anything?

Is there a way to tweak this so as to get the IPv4

[2016-05-11 23:32] trozware opened #126 "Routing with optional params"
Not really an issue, just a question about routing.

I have a route like this:
`server["/doSomething/:outputName/:newSetting/:source"] = { req in`

but I also want to check for when the :source param is omitted and when both the :source and :newSetting params are omitted. (I supply default values for the processing that occurs).

Do I have to config three separate routes:
`server["/doSomething/:ou

[2016-05-31 16:25] Laban1 opened #129 "Request IP address (source IP) is broken"
I am using the address property of HttpRequest to implement an ip whitelist for extra security.  It has been working great.  However, I just noticed that I had pinned my version to 1.0.7 in my Cartfile, so I changed this so that I can get later versions.  Unfortunately after doing this, my whitelist is now rejecting every host!

_It turns out that the address property now contains some IPv6 addres

[2016-06-02 15:06] jb431 commented on #129
Same problem here!

[2016-06-04 00:14] Laban1 commented on #129
I just did some more testing and this property worked fine up till version 1.1.3 and broke with 1.1.4.

[2016-06-07 06:20] wildfiremedia opened #130 "What is the performance?"
Do you have a benchmark for Nginx with PHP 7 vs Swifter?

[2016-06-07 16:07] wildfiremedia opened #132 "Error compiling in stable branch"
Which swift version do Swifter supported? swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a produce countless errors.

[code]

[2016-06-07 18:21] wildfiremedia opened #133 "Error in the code example"
Downloaded the master branch and almost manage to compile except, what does this error mean?

[code]

[2016-06-14 16:03] glock45 commented on #133
@wildfiremedia

It's because of Swift's limitation mentioned here: https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/Closures.htm

It will compile if you change it to:

or

Does it work for you?

[2016-06-14 16:05] #133 closed

[2016-06-14 16:15] glock45 commented on #132
@wildfiremedia hey man :) It looks like Swift's version is the problem.

**swift-DEVELOPMENT-SNAPSHOT-2016-04-12-a** uses Swift 3 and "stable" source tree is written in Swift 2.

We have two branches in the project:

Stable branch is for Swift 2.x. (osx: Swift 2.2.1 is available as part of Xcode 7.3.1, linux: swift-2.2.1-RELEASE-ubuntu15.10)
Master branch is for Swift 3.x. (osx: Swift 3.0 Preview

[2016-06-14 16:18] #132 closed

[2016-06-14 16:22] glock45 commented on #130
@wildfiremedia we don't have any benchmarks.

[2016-06-14 16:22] #130 closed

[2016-06-14 16:24] glock45 commented on #129
@Laban1 @jb431 you are right. I've released a new version with a fix - 1.2.0.
IPv4 can be forced by the following flag:

[2016-06-14 16:24] #129 closed

[2016-06-14 16:32] #117 closed

[2016-06-14 21:43] Laban1 opened #134 "Global pre-processing handler"
We use your web service for an app where we have quite a few calls defined and for each an everyone of them, we have this logic to ensure the call is from an authorized source IP:

    if !WebServerUtil.AuthorizeCall(request) {
                return .Unauthorized
    }

Instead of duplicating this for every call, is there a way to define a "pre-processor" / handler that all web requests go throug

[2016-06-15 12:34] hemanth2k14 opened #135 "Content-Type of Response is application/x-apple-aspen-config"
Hi I'm trying to send response as NSData and set header as application/x-apple-aspen-config, but i don't see anything happening in Safari. I'm trying to install a .mobileconfig file after downloading.

func setUpHTTPServer(data: NSData){
        let server = HttpServer()
        server.GET["/install"] = { r in
                var array = [UInt8](count: data.length, repeatedValue: 0)

[2016-06-15 12:52] #135 closed

[2016-06-16 14:02] wildfiremedia commented on #133
Can't compile on master branch, you'll need to update them. I have gave up.

[code]

[2016-06-16 15:56] glock45 commented on #133
@wildfiremedia hi :) yeah - I've just checked it and I got the same error. Up to now I believed the version of Swift from XCode 8.0 Beta ( Swift 3.0 Preview 1 ) has minor changes comparing to 'swift-DEVELOPMENT-SNAPSHOT-2016-06-06-a'. Unfortunately, there are some API naming changes which are causing the compilation errors.

If you use the swift version from XCode 8 Beta bundle, it will work:

[co

[2016-06-20 00:15] yarneo opened #137 "Support for Swift 3.0"

[2016-06-21 04:05] Laban1 opened #138 "Way to check if server is running?"
A minor thing: is there a way to check if the server is already started?

The reason that I am asking is that I am using applicationDidBecomeActiveNotification / applicationDidEnterBackgroundNotification to start / stop the web server, but applicationDidBecomeActiveNotification sometimes get called more than once in a row (this seems to always happen when setting the iPad into Single-App Mode usin

[2016-06-25 11:46] glock45 commented on #134
@Laban1 I've just added it to the stable branch ( https://github.com/httpswift/swifter/commit/ef0f703323ffbe6aa71643ce9a7abd0e95faba9c ). It will be public in the next release.

[2016-06-25 11:46] #134 closed

[2016-06-25 11:53] glock45 commented on #137
@yarneo I've added the support for the latest official build of Swift 3.0 here: https://github.com/httpswift/swifter/commit/17259cc90b2bf82bbbc6f6cd23a689c55470bec6 It's in the master branch. It works for "Swift 3.0 Preview 1".

[2016-06-25 11:53] #137 closed

[2016-06-25 14:03] Laban1 commented on #134
Awesome!!  Thanks!

[2016-06-27 14:12] geigerzaehler242 opened #139 "swift 3 version"
will a swift 3 version be made available at some point?

[2016-06-27 14:16] #139 closed

[2016-06-29 23:23] lightbow opened #141 "Pod install fails on tvos"
When running pod install, I get:
[!] The platform of the target `Lightbow TV` (tvOS 9.0) is not compatible with `Swifter (1.2.0)`, which does not support `tvos`.

I'm fairly new to cocoapods, but see that you do indeed see s.tvos.deployment_target = '9.0' in your podspec, so I'm not sure whether it's on my end or not. Any ideas?

[2016-07-01 20:52] mbarnach opened #142 "Short names file and path are not properly served."
Using OSX 10.11.5, short names files are not accessible.
To test it, use the demo server and replace the directory by a short one (like tmp), then try to download an existing file (with a name shorter than 7 characters + . 3 for extension).
The file cannot be found. Rename your file with more than 7 characters and it is found.
Looking at the code, it seems that withCString function usage from open

[2016-07-02 07:58] glock45 commented on #142
@mbarnach 👍 it looks like you found potential vulnerability ! Swifter uses "withCString" in a wrong way. The pointer to C string array (needed for fopen) is valid only in the scope of closure function.

[2016-07-02 07:58] #142 closed

[2016-07-04 17:42] geigerzaehler242 opened #144 ""Carthage update" not building for iOS on master branch (Swift 3 / XCode 8)"
when i run carthage on the master branch it doesn't build for iOS.

i see it building the scheme "swifterios" but there is no iOS folder under carthage/build.

[2016-07-04 17:44] geigerzaehler242 opened #145 "."

[2016-07-05 05:59] #145 closed

[2016-07-05 19:21] glock45 commented on #141
I think it's the problem on Swifter's side. "s.tvos.deployment_target = '9.0'" was added here (https://github.com/httpswift/swifter/pull/136/files) but there was no release since that. The next version (1.3.0) will cover this.

[2016-07-05 22:11] #141 closed

[2016-07-06 15:12] Laban1 opened #148 "Support for CORS"
Hello,

Any plans for adding CORS support (so that it is possible to make web calls to the iOS app from javascript in a modern browser [without disabling the same-origin policy of the browser])?

Thanks!

[2016-07-06 15:21] nrmtrifork commented on #148
You can just add the CORS headers e.g.:
[code]
See more here: https://www.w3.org/wiki/CORS_Enabled

[2016-07-06 15:52] Laban1 commented on #148
@nrmtrifork: It is not quite that simple.  The browser does  a pre-flight check by sending an HTTP OPTIONS request to the site (in this case Swifter), before sending the actual HTTP request (and it will not send the actual request if "approval" was not received from the site).

How do you respond to the OPTIONS request and how do you add the CORS headers with Swifter?

More data:
[Wikipedia on COR

[2016-07-07 07:16] nrmtrifork commented on #148
I know about the pre-flight check. However, this works for me:
`    private static func corsDecorate(var response : HttpResponse) -> HttpResponse {
        response = setHeadersOnResponse(response, headersToAdd:[
            "Access-Control-Allow-Origin":"*",
            "Access-Control-Allow-Methods":"GET, POST, OPTIONS",
            "Access-Control-Allow-Headers":HEADER_KEY_CONTENT_TYPE

[2016-07-07 16:26] Laban1 commented on #148
@nrmtrifork Thanks, I'll check it out.

[2016-07-12 15:15] Laban1 opened #150 "Request address empty in middleware"
Hello,

I am trying to use your new middleware method as a central place to verify that the caller is authorized to call the web server:

    server.middleware.append { request in
         if !WebServerUtil.AuthorizeCall(request) {
             return .Unauthorized
         }
         return nil
     }

However, the request.address property is empty in this call, so that does not work.

Please fix

[2016-07-12 15:48] glock45 commented on #150
Hello !

It's becuase of this:https://github.com/httpswift/swifter/blob/stable/Sources/HttpServerIO.swift#L59

I will fix, add a test case for this and make a new release.

Best

[2016-07-12 16:19] Laban1 commented on #150
Great! As always, thanks for your quick response!!

[2016-07-13 08:25] mbarnach opened #151 "Websocket cause server crash on text message with payload of length 65536."
Using a payload of size 65536 or higher, with websocket, cause a server crash here: https://github.com/httpswift/swifter/blob/stable/Sources/WebSockets.swift#L121

This can easily be tested with the following code in the swift interpreter:
`let len: UInt64 = 65536`
`print(UInt8(len >> 08))`

which raise: "Execution interrupted. Enter code to recover and continue.
Enter LLDB commands to investigate

[2016-07-13 08:28] glock45 commented on #151
@mbarnach thanks for this. I will have a look and provide the fix.

[2016-07-13 08:38] mbarnach opened #152 "Autobahn test suite doesn't work with websocket."
It seems that Autobahn test suite is sending an upgrade header with the text "Websocket" and Swifter is expecting "websocket".
This returns a bad request response to all Autobahn tests.
It seems that the standard specify it lower case, but most of the implementation uses a case insensitive comparison.

[2016-07-13 11:30] #152 closed

[2016-07-13 17:45] #151 closed

[2016-07-13 17:46] glock45 commented on #151
@mbarnach should be ok now (https://github.com/httpswift/swifter/commit/e6f2270040926b32f4e0f7b6b9eacfb310122ce4#diff-e151c339e14747169c44970649a2862fR102).

[2016-07-13 17:49] glock45 commented on #150
Fixed here (https://github.com/httpswift/swifter/commit/f9a7fe1f105bb7ae9a1195114b24b6dac264aa52). I will close the ticket after release.

[2016-07-13 20:22] mbarnach commented on #151
It works indeed! Thanks for the fast fix!

[2016-07-14 13:03] mbarnach opened #158 "UTF8 characters are not handled properly"
The UTF8 characters are not read/echo properly by the server.
The autobahn tests fail on most of the UTF8 testing.

[2016-07-14 22:05] glock45 commented on #158
It looks like it's beacuse a invalid converstion of [UInt8] to String object. Should be ok now.

[2016-07-14 22:05] #158 closed

[2016-07-14 22:05] #150 closed

[2016-07-15 10:40] mbarnach opened #160 "Fragmented binary message are not working"
The Autobahn test suite fails on the binary fragmented message.

[2016-07-15 20:28] glock45 commented on #160
👍

[2016-07-15 20:28] #160 closed

[2016-07-18 09:41] jjv360 opened #163 "Question: How to use a dynamic port and find out the port number afterwards?"
Hi, I would be using multiple dynamically generated instances of the HttpServer. How would I find the local port that it's using?

[code]

[2016-07-18 09:51] nrmtrifork commented on #163
Also ports can be occupied by other applications, so it is actually a quite often task to assign port numbers to the webserver dynamically. A property like server.port and/ a callback whenever that port is set/correct would come in handy.

[2016-07-18 12:43] glock45 commented on #163
@jjv360 I need to add this. There is no method for that in Swifter.

[2016-07-18 13:02] nrmtrifork commented on #163
That is awesome - thanks

[2016-07-20 07:46] glock45 commented on #163
The last pull requests partialy solves the problem for the dynamic allocated ports however the intention of OP was to delegate this to OS by passing "zero" as the port number (http://unix.stackexchange.com/a/180500). In that case we need to use _getsockname_ call to obtain allocated port.

I will push a fix soon.

[2016-07-20 07:48] #138 closed

[2016-07-21 07:22] mbarnach commented on #163
Fixed in commit a8e2a52.

[2016-07-21 07:22] #163 closed

[2016-07-21 07:40] nrmtrifork commented on #163
This is great - thanks guys

[2016-07-21 11:15] ShashiBadhuk opened #165 "Invalid value of 'Upgrade' header: nil"
While running this code on device i am getting "Invalid value of 'Upgrade' header: nil" error message and it fails for handshaking,

[2016-07-26 20:16] glock45 commented on #165
@ShashiBadhuk It looks like an error which is returned by Swifter when somebody tries to open an websocekt endpoint in a browser. In that case the browser is not able to perform WebSockets handshake so Swifter rejects the request.

For testing WebSockets I use echo client from here (http://www.websocket.org/echo.html).

[2016-07-28 06:04] glock45 commented on #165
@ShashiBadhuk let me know if it's ok for you ?

[2016-07-28 22:45] chrisyoyo opened #166 "shareFileFromDirectory Problem?"
Hello,
I think I have a problem, Bug or can't understand I don't know,

I have an test.html with a simple text formating -> <h1>TEST!</h1> on my desktop.
When I do : server["/desktop/:path"] = shareFilesFromDirectory("/Users/yovano_c/Desktop")
and i access to /desktop/test.html, it shows correctly. but if i remove the :path and i change my test.html to index.html, it show a really blank page, and

[2016-07-31 12:57] chrisyoyo opened #167 "Stable / Master Branch"
I cannot understand your branch system:
Why the earlier version of the two is for xcode 8 and swift 3 and the other who has the recently push is on the most advanced version of Swifter but not for the swift 3.. I want to build a game server with a command line OSX app with swift 3, with a database on sqlite... I think swifter is cool for that but i need help with this 2 branch, thanks

[2016-07-31 20:37] chrisyoyo opened #168 "Package Dependencies"
When I create my package with: swift package init --type executable
and i add to my Package.swift ->

dependencies: [
        .Package(url: "https://github.com/httpswift/swifter.git", majorVersion: 1, minor: 2)
  ])

And then I try to "swift build" it appears a lot of errors...

One of them:

/Users/yovano_c/Desktop/GameServer/Packages/Swifter-1.2.6/Sources/File.swift:109:34: error: 'inout' before

[2016-08-01 03:52] xlc opened #169 "Failed to send response: WriteFailed("sendfile: Function not implemented")"
Happens on iPad Pro 9.3.3

However the `sendfile` shim for linux works

[2016-08-01 04:11] xlc opened #171 "shareFilesFromDirectory does not send correct Content-Type"
`<img src="logo.svg">` does not work because it need `Content-Type: image/svg+xml` in header

[2016-08-01 07:07] #169 closed

[2016-08-01 07:08] glock45 commented on #169
Really good one 👍

[2016-08-01 15:55] glock45 commented on #166
Hello :)

We don't support that yet in the master branch ( which is for swift 3.0 Preview X ~ XCode 8 Beta 3 ). We do have it in the last release of stable branch ( for Swift 2.x, thanks to https://github.com/httpswift/swifter/pull/124 ). What we have right now is a workaround and I have an other soultion for that case.

The fix needs to by applied to HttpRouter class so **shareFilesFromDirectory*

[2016-08-01 15:58] chrisyoyo commented on #166
Oh thanks but I open 2 others tickets https://github.com/httpswift/swifter/issues/167 and https://github.com/httpswift/swifter/issues/168 if you can look at it please

[2016-08-01 19:00] glock45 commented on #166
Should be ok now for the master branch.

[2016-08-01 19:00] #166 closed

[2016-08-01 19:01] #165 closed

[2016-08-01 19:44] glock45 commented on #167
Stable branch is more important than master. It's for the official releases of Swift from Apple. Tha last changes were mainly about the stability of WebSocket . Don't worry - all will be merged to master.

[2016-08-01 19:44] #167 closed

[2016-08-01 21:19] chrisyoyo commented on #167
Oh okay but like I said on https://github.com/httpswift/swifter/issues/168 I can't use it with package.. i use swift 3...

[2016-08-01 21:55] glock45 commented on #168
SPM was supported only by the stable branch and now it should work for the master (Swift 3). I've just added git tag. Please have a look at the sample app below.

kolakowski$ export PATH=/Applications/Xcode-beta.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin:"${PATH}**"
damiankolakowski$ which swift
/Applications/Xcode-beta.app/Contents/Developer/Toolchains/XcodeDefault.xctoolc

[2016-08-01 22:14] xlc opened #172 "Thread safety guideline?"
Is anything thread safe? Which thread does handler get called? How can I send web socket message from other thread safely?

[2016-08-02 18:55] Laban1 opened #173 "Issue # 150 (Request address empty in middleware) still not resolved"
Hello,

I just installed the latest version (1.2.6) and tried using the middleware functionality, but the request.address property is just an empty string here.

Please look into & fix when you get a chance.

Note: perhaps I should have re-opened issue # 150 instead of creating a new one, but I do not know how....

Thanks.

[2016-08-03 15:25] glock45 commented on #173
Hell @Laban1 . The fix is on the place but there was no new release since 1.2.6. I will go for 1.2.7.

[2016-08-03 16:05] glock45 commented on #172
`Is anything thread safe? Which thread does handler get called?`

On macOS we use GDC which I guess uses a thread pool and for Linux we spawn a new thread for every request (pthread_create) so It's not thread safe.

`How can I send web socket message from other thread safely?`

Every onText/onBinary callbacks offers a session object (https://github.com/httpswift/swifter/blob/master/Sources/Swifter

[2016-08-03 17:06] glock45 commented on #168
After emails exchange I can close this.

[2016-08-03 17:06] #168 closed

[2016-08-03 17:06] #172 closed

[2016-08-03 17:28] Laban1 commented on #173
Ok, sounds good!

Thanks.

[2016-08-03 17:28] #173 closed

[2016-08-04 20:49] lacyrhoades opened #174 "Stable branch should be master"
CocoaPods uses `master` as the default. Master crashes on serving an image file on iOS 9.3.3. If you change your project Podfile to say `:branch => "stable"` it works well. You can't change the default from the .podspec side of things. Perhaps `master` can be the stable branch, and then a second branch could exist for unstable development, i.e. branch `development` or similar.

[2016-08-07 10:03] kimaldis opened #175 "Noob question; urls."
I've been assuming that the code below would allow me to use 'http://localhost/test' in a browser but the browser is unable to connect. I'm sure I'm making an obvious mistake but I can't find anything that tells me otherwise.

thanks

`server["/test"] = scopes {
            html {
                body {
                    h1 { inner = "test page" }
                }
            }
        }
`

[2016-08-08 06:13] #175 closed

[2016-08-08 06:49] glock45 commented on #175
Was it port number ?

[2016-08-08 09:38] kimaldis commented on #175
Kind of. I was assuming port 80 but when I actually set the port number I was usgin http://localhost/test:8080. doh!

[2016-08-08 09:55] chrisyoyo commented on #175
then use http://localhost:8080/test actually.

[2016-08-08 16:17] kimaldis commented on #175
Yeah, I kind of worked that out.

[2016-08-10 07:19] kimaldis opened #177 "ajax, encoded JSON"
I'm sending encoded JSON to a swifter server using jQuery ajax from a web page. This was all working fine until I had to send a string with an "=" in it and it all fell apart with the string being split at the = with the = being removed. I'm pretty sure I'm fundamentally misunderstanding how this should work but I can't see how else I might receive encoded JSON. Any help appreciated, my knowledge

[2016-08-10 07:48] kimaldis commented on #177
Answering my own question, decoding r.path seems to be doing the job. Unless there's a better way?

[2016-08-10 18:47] glock45 commented on #177
I would switch to POST and pass the JSON as requests's body:

[code]

[2016-08-10 20:04] kimaldis commented on #177
Of course. Thanks.

[2016-08-10 20:35] #177 closed

[2016-08-17 02:58] shindonghyeok opened #179 "how to stream a video file in videoplayer as avplayer from webserver(http://123.134.134.....)"
i'd like to stream video file in player. video file exist in my own webserver. so what i want to do is i send a file url and get a file data and play file in video player... for example avplayer or anything is ok.. how can i do this??

[2016-08-17 08:38] redwhitelabel commented on #179
As for now it's hard to accomplish, custom headers and new file serving is already ongoing, so it should be available easily in a couple of days.

[2016-08-17 08:40] shindonghyeok commented on #179
so .. you mean that it is impossible?? right...?? or not?

[2016-08-17 09:01] glock45 commented on #179
@shindonghyeok it used to be supported by the older versions of Swifter but it was removed (00321c9). The reason of that is the implementation was loading a file into memory with every request. If you need that right now, please take what we have before.

[2016-08-18 11:48] glock45 commented on #174
Correct 👍 I took naming convention from https://github.com/apple/swift ( they have master for development ). Stable was my idea to maintain Swift 2.x. I wait for an offical release of Swift 3 and do the cleanup.

[2016-08-18 11:48] #174 closed

[2016-08-19 07:08] nonew opened #180 "dyld: Library not loaded"
Hello,
I have issue when run on real device iPhone, no issue on simulator.
--------------------------------------------------------------------
dyld: Library not loaded: @rpath/Swifter.framework/Swifter
  Referenced from: /var/containers/Bundle/Application/5079DB58-6326-4838-A41A-E0C0A3B46B33/SwifterSampleiOS.app/SwifterSampleiOS
  Reason: image not found
(lldb)
-----------------------------------

[2016-08-22 17:27] glock45 commented on #180
hello :)

Please add Swifter framework (iOS) to the embeded libraries:

![screen shot 2016-08-22 at 19 26 47](https://cloud.githubusercontent.com/assets/492449/17864470/85912890-689e-11e6-954c-81a5b56fb74d.png)

best
dk

[2016-08-22 17:28] #179 closed

[2016-08-22 17:28] #180 closed

[2016-08-23 02:27] nonew commented on #180
Hello, glock
Yes, it is now working like charming.
BTW, I have another question, if I run the app from simulator, I can open server by type 127.0.0.1:9080 in browser, but if I run it from my iPhone, I cannot open the url from either iPhone or Mac browser. Do you know the possible reason?
Thank you!

[2016-09-13 00:27] keepingitneil opened #191 "Restrict to localhost"
I'm using a server to broker communication between a WKWebView and the file system. I would like to restrict the server to only take requests from localhost for security purposes. Is there an easy way to accomplish this today?

[2016-09-20 02:49] pc9527 opened #192 "Is there a schedule to support xcode 8/swift 3?"
swifter 1.2.6 won't compile in new iOS SDK. If support for new SDK is coming soon(kindly) I'll immediately start migrating my project to swift 3.0 syntax, for time being I'm sticking to legacy swift.

[2016-09-20 16:25] git-no commented on #192
Swift 3 is the future and the present.
It would be great swifter with Swift 3 support.

[2016-09-21 22:04] TristanWright commented on #192
Same question, or if this is going to stay on Swift 2.3 that would be good to know.

[2016-09-22 22:38] TristanWright opened #193 "Difference between master and stable branches?"

[2016-09-23 05:34] gery opened #194 "Many compile errors on Ubuntu 16.04 with swift 3.0 release"
gery@gery-desktop:~/projects/swifter/swifter$ swift build
Compile Swift Module 'Swifter' (19 sources)
/home/gery/projects/swifter/swifter/Sources/HttpResponse.swift:23:24: error: use of undeclared type 'NSData'
    func write(_ data: NSData) throws
                       ^~~~~~
/home/gery/projects/swifter/swifter/Sources/HttpResponse.swift:24:24: error: use of undeclared type 'Data'
    func write

[2016-09-23 06:47] glock45 commented on #194
yep 👍 only mac is ready. It's still in progress.

[2016-09-23 07:27] gery commented on #194
Ok thanks.
I like this  project because no dependency hell like in other web frameworks.

[2016-09-23 20:18] Laban1 commented on #192
Same question & need here.

[2016-09-23 21:01] Laban1 opened #196 "Carthage update fails with XCode 8 / Swift 2.3"
After updating to XCode 8 and converting the project to Swift 2.3 I get this when attempting
`carthage update --platform iOS`:

[code]

Advice on how to fix this would be great!

[2016-09-23 21:20] git-no commented on #192
FYI: Swifter migrated to Swift 3, XCode 8 is within the stable branch since yesterday available.

[2016-09-23 21:22] git-no commented on #196
Maybe you want to consider migrating your project to Swift 3.

[2016-09-23 21:47] Laban1 commented on #196
That was the first thing I tried, but got the same issue.  I noticed that there were other issues reported with Swift 3 (Swifter does not appear to support Swift 3 yet), so I next tried with Swift 2.3 (expecting that at least this "legacy version" would work)...

[2016-09-23 22:17] git-no opened #197 "Sharing static files not working (blank page)"
Why is it not possible to share static files like index.html?
I got everytime a blank page, empty response for response.
Used XCode 8, Swift 3, stable branch, download from today.

[code]

Starting server like:
[code]

[2016-09-24 05:41] git-no commented on #196
Maybe you want to try it again. I had an simular situtation, but since yesterday, swifter supports XCode, Swift 3 (look into the commits). I was able to compile with Swift 3.

[2016-09-24 05:57] #197 closed

[2016-09-24 05:58] glock45 commented on #197
Should be fine now.

[2016-09-24 05:58] glock45 commented on #192
Yep. It's happening :)

[2016-09-24 05:58] #192 closed

[2016-09-24 06:18] glock45 commented on #193
Hello,

**Stable** is for Swift 2.x.
**Master** is for Swift 3.x and expermients like: app layer (https://github.com/httpswift/swifter/blob/master/Sources/Swifter/App.swift), and pure TLS implementation (https://github.com/httpswift/swifter/tree/master/Sources/TLS).

Both did have their own life so I will need to merge a couple of bugfixes from master to stable.

Right now there is no sense to kee

[2016-09-24 06:18] #193 closed

[2016-09-24 07:18] git-no commented on #197
Thank you very much for the quick response, support and enhancement. Which you a nice weekend :-)

[2016-09-24 16:46] git-no opened #198 "Sharing static files with default index.html in subpath"
Often websites url calling directories, the webserver does use the standard index.html automatically.

This is implemented for the root directory with commit [c92f8d1b8d6728f3fa8f4007cc9989d6cdc7fb8c](https://github.com/httpswift/swifter/commit/c92f8d1b8d6728f3fa8f4007cc9989d6cdc7fb8c) but it does not work for subdirectories.

I suggest this code change to achieve index.html is used for subdirecto

[2016-09-25 20:13] gery commented on #194
Now it compiles fine on linux, but do nothing when I start the server (with try also).
Do you have example server with error handling?

It Shows:
/home/gery/projects/swifter/swifter/Sources/main.swift:3:1: error: call can throw but is not marked with 'try'
server.start()
^~~~~~~~~~~~~~

[2016-09-26 08:32] glock45 commented on #194
Let's try this:
[code]

[2016-09-27 16:25] serluca opened #200 "Swifter 3.0.0 and carthage"
## Error
Swifter 3.0.0 does not work with carthage

## Configuration

My carthage file:
[code]

Carthage command:
[code]

Carthage output
[code]

[2016-09-27 16:42] serluca commented on #200
Sorry @glock45
I think this is a duplicate of #144, I'll close

[2016-09-27 16:42] #200 closed

[2016-09-30 07:11] Zyphrax commented on #111
SSL support would be great. Apple is making it harder and harder to do regular HTTP requests.

In my case I would like a few iPads to securely communicate with each other. Unfortunately iOS, nor any third party projecf that I could find, offers a server with HTTPS support.

[2016-10-04 13:21] allen-zeng opened #201 "`Darwin.shutdown` doesn't actually close the socket"
I'm writing a few iOS unit tests that rely on Swifter. The structure looks like the following:
[code]

The first test will always successfully start the Swifter server, however subsequent tests always fail with the error `SocketError.listenFailed("Address already in use")`.

I'm running Xcode 8 in macOS Sierra, running the Swift 3 compatible version at commit [d18f01](https://github.com/httpswift/

[2016-10-04 17:55] gery commented on #194
Cool, its working now.
Thanks a lot, Good job!

[2016-10-04 18:29] #194 closed

[2016-10-04 18:40] benicelabs opened #202 "Can't install (just me?)"
Getting a "[!] Unable to find a specification for `Swifter (~> 1.2.6)`" error when trying a pod install. I'm new to CocoaPods, but it seems pretty straight forward. Should I be able to just install by dragging Sources?

[2016-10-04 19:12] glock45 commented on #202
Yep. Dragging the content of Source directory will work.

[2016-10-04 19:15] glock45 commented on #201
All shutdown calls should be removed and I am going to do this now.

[2016-10-04 20:06] glock45 commented on #202
I did a release (1.3.1) to find out if cocoa-pods is ready for swift 3.0 but it's not.

[2016-10-04 22:01] allen-zeng commented on #201
So I can see there is a 1.3.1 release. It doesn't seem to be on CocoaPods, will it be published soon?

[2016-10-05 07:03] glock45 commented on #201
I got a problem with pod spec lint. It's Swifter's podspec file or cocoapods does not support Swift 3.0.

[2016-10-05 08:22] #202 closed

[2016-10-05 08:23] glock45 commented on #201
I mange to solve the problem and 1.3.2 has landed on CocoaPods - https://github.com/CocoaPods/Specs/commit/9e7bc345340d51745829e6a679b3d1228433bc5d

[2016-10-05 10:13] allen-zeng commented on #201
Works perfectly, thanks so much for getting onto it so quickly!

[2016-10-05 10:13] #201 closed

[2016-10-05 14:54] benicelabs commented on #202
Thanks. It was a silly issue on my machine.

[2016-10-06 15:41] benicelabs opened #203 "Error with example in the README"
The example to start a server in the README states:
`server["/hello"] = { .OK(.Html("You asked for " + $0.url)) }`
However, this causes the error:
`Cannot assign value of type '(_) -> _' to type '((HttpRequest) -> HttpResponse)?`

[2016-10-07 10:16] glock45 commented on #203
@benicelabs thanks 👍  Let me know if this works for you (I've updated README):

[2016-10-07 17:33] benicelabs commented on #203
This fixes the error in Xcode. However, when putting that code into viewDidLoad (for example) it give me an error because server.start() is marked as throw. So I try to wrap it in a do, try, catch. Like so...
`do {
         try server.start()
        } catch {
            print("nope")
        }`

[2016-10-07 19:49] glock45 commented on #203
Swift allows to omit arguments list and *in* keyword if you use Shorthand Argument Names (https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Closures.html#//apple_ref/doc/uid/TP40014097-CH11-ID94).

This should work:
`server["/turtles"] = { _ in .ok(.html("I like turtles.")) }`

[2016-10-08 14:13] benicelabs commented on #203
Well duh on my part. I should have known that one. Thanks for the help.

[2016-10-08 14:13] #203 closed

[2016-10-20 17:10] tim-9red7 commented on #148
Is it possible @nrmtrifork could explain where I need to put that function to call and set those headers?

Right now I am trying to set the headers on scopes as that is what I'm using. Similar to the demo server.
`public func scopes(_ scope: @escaping Closure) -> ((HttpRequest) -> HttpResponse) {
    return { r in
        ScopesBuffer[Process.tid] = ""
        scope()
        return .raw(200, "OK"

[2016-10-23 03:24] tim-9red7 opened #204 "DemoServer and routing "/""
I'm using the DemoServer as a template. Looking at this code below...
`server["/"] = scopes {
        html {
            body {
                ul(server.routes) { service in
                }
            }
        }
    }`

My problem:
If I remove the unordered list, the server is no longer reachable on any route. Any ideas?

[2016-10-25 23:04] MicheleMola opened #206 "Local web server for html in webView"
I have a file .html that needs to run in a local web server, Inside a webView. How can I do? Thank you all.

[2016-10-26 00:30] tim-9red7 commented on #206
You should first start by reading [the wkwebview documentation](https://developer.apple.com/reference/webkit/wkwebview). You could share a directory of files like the documentation says on the front page.
`let server = HttpServer()
server["/desktop/:path"] = shareFilesFromDirectory("/Users/me/Desktop")
server.start()`

You could probably use NSBundle on macOS to share a folder from the app bundle

[2016-10-26 09:04] MicheleMola commented on #206
I have already read the wkwebview documentation. I want create a web server on iPhone that executes the html file. I have the html file in local(on iPhone). The html file must be launched on the web server, but I don't want to use connection to internet.

[2016-10-26 09:30] maun opened #207 "No accepted connection with 1.3.2 and Swift 3"
I upgraded my application to Swift 3 and swifter 1.3.2, afterwards my request handlers were not called anymore when the location was accessed. I tried it on macOS and iOS using Carthage to install swifter.

Also the example from the Readme opens no ports for me.
In a blank Cocoa App created in Xcode 8:
[code]

I checked the open ports using `lsof -Pn -i4`, but no application listens on 8001.
I am

[2016-10-26 09:45] maun commented on #144
Building worked for me with version 1.3.2

[2016-10-26 12:24] glock45 commented on #207
It looks like the `server` variable is released after viewDidLoad's invocation.
Can you try to keep `server` variable as ViewController's property ? Here is an example: https://github.com/httpswift/swifter/blob/stable/XCode/SwifterSampleiOS/ViewController.swift

[2016-10-26 13:31] maun commented on #207
Thank you, that was the problem. Should have found that myself but it worked for whatever reason with Swift 2.

[2016-10-26 13:31] #207 closed

[2016-11-02 23:27] LucasArgate opened #208 "Can i create https:// result to load from js?"
Hello guys, how can i create a https:// url to load from js ?
i need transport big data from swift to js with http-server but when i do the request to local server it response this error: *[Error] Failed to load resource: The URL can’t be shown*.

I found the problem. Javascript can't do request to other location if it is not https.

thanks
Argate

[2016-11-04 15:55] tim-9red7 commented on #148
Bump?

[2016-11-06 07:37] charmander37 opened #209 "Render HTML from httpserver in uiwebview?"
Hi!

I'm trying to take the html running on the swifter server and render it in a uiwebview - any idea how I can achieve this? I currently have the server starting and the webview setup, but I don't know how to connect the two :-( :

    var htmlFile = Bundle.main.path(forResource: "link", ofType: "html")
    var htmlString = try? String(contentsOfFile: htmlFile!, encoding: String.Encoding.utf8)

[2016-11-06 09:01] #208 closed

[2016-11-06 09:02] glock45 commented on #209
This should work for you: http://stackoverflow.com/a/26202983/351747

[2016-11-06 09:02] #209 closed

[2016-11-06 13:10] tim-9red7 opened #210 "CORS Help?"
There is another CORS topic on here but it kind of died out. Is anyone able to give a newbie answer on how and where to add the correct header. Can I set this once for all headers?

[2016-11-06 13:58] glock45 commented on #210
hello,

CORS is not supported out of the box. This article should help: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

[2016-11-06 18:34] charmander37 commented on #209
Hi glock45!

Thanks for getting back to me so quickly! That's what I'm doing down here:

  let webV:UIWebView = UIWebView(frame: CGRect(x: 0, y: 0, width: self.view.frame.width, height: self.view.frame.height))
  let url = Bundle.main.url(forResource: "link", withExtension: "html")
  webV.loadRequest(NSURLRequest(url: url!) as URLRequest)
  self.view.addSubview(webV)

In my example code.

I'm aski

[2016-11-06 18:35] charmander37 commented on #209
If it helps - what I'm trying to do is the answer at the bottom of this question: http://stackoverflow.com/questions/11893153/uiwebview-html-file-with-swf-load-external-link-but-internal

[2016-11-06 20:33] tim-9red7 commented on #210
I'm familiar with CORS. My issue is that I'm not sure how to set the headers in Swifter. Is there an easy way to add "Access-Control-Allow-Origin: *" to my servers header using Swifter? Apologies if I'm being dense. I'm sure the answer is easier than it appears.

[2016-11-08 17:15] glock45 commented on #210
hello,

this should work for you.
[code]

[2016-11-08 17:15] #210 closed

[2016-11-08 17:23] glock45 commented on #204
Hello,

Did you mange to solve this maybe ?

Best

[2016-11-08 17:27] glock45 commented on #206
@MicheleMola Maybe this will work for you: http://stackoverflow.com/a/26202983/351747 ?

[2016-11-08 17:35] glock45 commented on #191
HttpRequest object has `adddress` property so it can be achived by adding a middle-layer:

[code]

Best

[2016-11-08 17:35] #191 closed

[2016-11-08 18:40] git-no commented on #206
@MicheleMola swifter does this. As @tim-9red7 wrote you have to point the http server (swifter) to a folder of your html files (often your bundle dir or application dir on the device).
For me it works fine. No internet connection required.

[2016-11-08 19:49] MicheleMola commented on #206
@glock45 @git-no Thank you, I solved in this way:

                    let server = demoServer(Bundle.main.resourcePath!)
                    server["/:path"] = shareFilesFromDirectory(self.path)
                    try server.start(9080)
                    let myRequest = NSURLRequest(url: NSURL(string: "http://localhost:9080") as! URL)
                    self.webView.loadRequest(myRequest as U

[2016-11-08 19:49] #206 closed

[2016-11-09 08:57] git-no opened #211 "Error bindFailed("Address already in use")"
**Problem:**
Use the methods in this sequence:
server.start()
server.stop()
server.start()

leads to an error and the http server is not working anymore (does not response anymore).

**Szenario:**
http server is started ```server.start()``` at applicationDidBecomeActive (AppDelegate) and is stopped ```server.stop()``` at applicationWillResignActive (AppDelegate) to reduce memory and cpu consumptio

[2016-11-18 03:22] shalyf opened #212 "Chinese will be garbled in queryParams"
This method 'String.removePercentEncoding' will lead to garbled Chinese, it's normal by use 'String.removingPercentEncoding'

[2016-11-18 07:53] glock45 commented on #212
hello,

Do you think [this method ](https://developer.apple.com/reference/foundation/nsstring/1409569-stringbyremovingpercentencoding) will work for us ?

best

[2016-11-18 19:32] pgaston opened #213 "MIME types?"
Crazy thought - maybe I'm missing something obvious here, but wouldn't it be useful to put mime types into the http response?
Files.swift - line 18 - the content type is always going to be text/html
Files.swift - line 26 - do a lookup for the content type based on the file extension?

One existing source is gitbub - MimeType.swift

Thanks!

[2016-11-19 01:26] shalyf commented on #212
I don't know. This is a temporary solution for me. I hope you can help me fix the issue, please!

[2016-11-22 09:21] glock45 commented on #213
You are right 👍

[2016-11-22 13:19] pgaston commented on #213
Let's see if I can figure out how to suggest my change be merged - I've been a user, not a contributor in the past.    Seeing as it's in your 'demo server' function is should be safe.    Basically I simply integrated a lookup into a reasonable mime type list to get the content type.

[2016-11-22 13:19] #213 closed

[2016-11-23 17:23] git-no opened #214 "http server does not reacht on flight mode"

[2016-11-24 07:51] #214 closed

[2016-12-05 11:27] sergeydi commented on #60
Whan to use on Linux  instead of  objc_sync_enter/objc_sync_exit?

[2016-12-05 16:45] krzyzanowskim commented on #111
No SSL support? what is this @glock45 1999 #justkidding

[2016-12-05 18:24] glock45 commented on #111
@krzyzanowskim There is some work here https://github.com/httpswift/swifter/tree/master/Sources/TLS 👍

[2016-12-07 21:48] markie2902 commented on #123
i tried that but still have the error

[2016-12-07 21:59] zmeyc commented on #123
@markie2902
I've tried:
[code]
and the project built succesfully without additional steps.

[2016-12-22 18:39] voynovia commented on #111
really need

[2016-12-26 08:42] voynovia commented on #212
so it will work
https://github.com/httpswift/swifter/pull/215

[2016-12-29 13:34] #212 closed

[2017-01-05 06:06] yipsang commented on #66
@julien-c Is your suggestion implemented in Swifter so far? I am doing similar proxy server as @fdstevex 's in my project. If asynchronous handler is not modified yet, I may switch to @fdstevex 's approach. Anyway, thanks for you guys' contribution for making this easy to use httpserver for swift

[2017-01-19 13:49] benicelabs commented on #204
Apologies. Just tried this again. Doesn't seem to be doing it any more.

[2017-01-19 13:59] glock45 commented on #204
No worries only dreams now :)

[2017-01-19 13:59] #204 closed

[2017-01-25 07:24] fattomhk opened #219 "Uploading file with chinese name"
File name: 傳說對決.png

expect: 傳說對決.png

What I get: [Garbled string].png

I edited the HttpRequest.swift file to fix the problem:
[code]

I am not sure would this bring side effects to Swifter, so I am not going to submit a pull request

Thanks for reviewing it

[2017-01-25 08:20] glock45 commented on #219
Make a PR pls.

[2017-01-25 08:28] fattomhk commented on #219
Ok. https://github.com/httpswift/swifter/pull/220

[2017-01-25 08:28] brennantaylor opened #221 "Any way to bind to localhost such that the firewall isn't triggered?"
Serving on `0.0.0.0` binds on all interfaces which trips the built in firewall since the computer is now accepting incoming connections. Binding to `127.0.0.1` or `localhost` should avoid this based on some searches.

Is there a way to expose the as an option? Even just exposing the address the server binds to?

[2017-01-25 17:12] brennanMKE commented on #211
Is the project abandoned? It appears the last release was October and serious bugs are preventing the server from working now.

[2017-01-26 12:04] glock45 commented on #211
@brennanMKE not abandoned.

[2017-01-26 12:04] glock45 commented on #221
Noted 👍

[2017-02-01 10:41] glock45 commented on #219
Merged.

[2017-02-01 10:41] #219 closed

[2017-02-06 16:45] stefanrenne opened #223 "Support for http Notify"
Hi,

Any plans to add support for http notify? This so that I can http subscribe into external services and process notifications when they occur.

Best regards

[2017-02-09 20:57] alanzeino opened #224 "String+SHA1.swift does not compile in Xcode 8.3b2, Swift 3.1"
[code]

[2017-02-11 07:11] nor-bu commented on #221
I'm not sure is this right, but when you set the public var `listenAddressIPv4` or the 'listenAddressIPv6' to `127.0.0.1` respective '::1' then i think is only listen to localhost.
@glock45 Is this right?

[2017-02-14 05:26] hangox commented on #198
It work!!! thanks！

[2017-02-14 09:32] glock45 commented on #224
hello,

tried but I can't reproduce it on my side. Let me know, if changing the expresssion to the one below helps:

`let temp = (((rotateLeft(a, 5) &+ f) &+ (e &+ k)) &+ words[i]) & 0xFFFFFFFF`

[2017-02-15 00:36] alanzeino commented on #224
Splitting the first part up worked for me:

[code]

Odd that you don't see it on your side.

[2017-02-16 00:12] mgfeldman commented on #111
Any plans to resume work on SSL support?

[2017-02-17 01:55] BarakRL opened #225 "Query items are not parsed correctly"
For example, this is a valid url:
`http://myserver/open?link=https://www.youtube.com/watch?v=D2cUBG4PnOA`

But with the current implementation of extractQueryParams, it will mess up the parameters due to the extra '?' and '=' marks.

However if you run it through:
[code]
You'll get the link parameter just fine.

[2017-02-24 16:18] brennantaylor commented on #221
From looking at the code that property appears to be internal and would not be available unless importing with `@testable`.

[2017-03-06 19:03] rudro commented on #224
Alan, this is most likely because they are not using the "-solver-memory-threshold" command line parameter.

[2017-03-06 19:42] glock45 commented on #224
@rudro what's the value you use?

[2017-03-06 20:55] alanzeino commented on #224
Oh right I forgot about that. We do `-solver-memory-threshold 300000`.

[2017-03-06 22:14] glock45 commented on #224
ok, thanks for sharing 👍

[2017-03-07 23:40] rudro commented on #224
I use whatever Alan tells me to use ;) (we work on the same codebase)

[2017-03-11 22:03] MhdHejazi opened #228 ""sendfileImpl" doesn't work as expected"
Sometimes `read()` function returns zero when we're close to EOF (but didn't reach it yet). In contrast, `fread()` works as expected in this case.

[2017-03-15 15:03] MikeWeller opened #230 "Support for automatic port assignment"
A common use case (which I have) is to bind to any available port in order to avoid conflicts with other services/processes that may be on the machine. This would also solve an issue I've had with starting/stopping a Swifty http server on the same port in quick succession failing because the port is still being used.

This can usually be achieved by passing a value of 0 for the port to `bind`, whi

[2017-03-15 15:13] MikeWeller commented on #230
Err, seems this works, I was doing something wrong apparently :)

[2017-03-15 15:13] #230 closed

[2017-03-19 19:29] #228 closed

[2017-03-19 20:27] #225 closed

[2017-03-19 20:34] glock45 commented on #225
Fixed at: 1.3.3.

[2017-03-21 10:43] joemat04 opened #232 "Error while creating new server."
let server = HttpServer()
        server["/hello"] = { .ok(.html("You asked for \($0)"))  }
        server.start()

unresolved identifier 'HttpServer'. i already imported swifter into mine project then also getting same error.
Did i missing anything?

[2017-03-21 15:32] cdqpst commented on #232
Just add:

`import Swifter`

[2017-04-21 14:03] Daij-Djan commented on #111
I'd also love this - the library looks and feels great but not having SSL is an issue :/

[2017-04-21 16:27] gravicle opened #233 "Compilation hangs in Release config using Cocoapods"
When using Cocoapods, building projects with Swifter in `Release` mode hangs. The compilation never finishes and there are 2 `swift` processes in Activity Monitor using 100% of the CPU indefinitely.  Tested in Xcode 8.3.2 and 8.3.1.

I was able to reproduce the issue in a fresh project ([TestSwifter.zip](https://github.com/httpswift/swifter/files/947657/TestSwifter.zip)):

1. Create new Xcode proj

[2017-04-22 23:59] cezarbabin commented on #191
@glock45 for some reason the request address is never localhost. I'm not using proxy. No matter what device on the network I use, they're all the same IPv6 address, even the local machine.

Using iOS 10.3 to launch the server.

[2017-04-23 07:44] glock45 commented on #233
I can also reproduce this on my side. Quickly checked ` -Xfrontend -debug-time-function-bodies` flag but no output from there. It looks like the next step is to manully iterate over files and check which one is causing the problem.

[2017-04-23 17:59] Zyphrax commented on #111
Yesterday I've open-sourced our web server Telegraph:
https://github.com/Building42/Telegraph

It has SSL support if you guys are still looking for it.

[2017-04-23 20:24] Daij-Djan commented on #111
very nice. thanks

[2017-04-24 02:58] cezarbabin opened #234 "Serving mp4 video not working"
I can't seem to get video serving to work on iOS 10.3. I thought it may be a CORS issue so I added headers to the response, but then, when I looked at the safari requests, i noticed that the request is not well-formed.

Is there no support for video currently? Or am I missing something?

![screen shot 2017-04-23 at 10 56 57 pm](https://cloud.githubusercontent.com/assets/7832880/25320878/33942dd6-2

[2017-04-24 17:13] mgfeldman commented on #111
@Zyphrax Thanks, I'll give it a shot!

[2017-04-24 19:46] nidx commented on #234
I am currently trying to diagnose this issue. the problem appears to be with range

the requirements for video servers supporting range is here:
https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/CreatingVideoforSafarioniPhone/CreatingVideoforSafarioniPhone.html#//apple_ref/doc/uid/TP40006514-SW6

[2017-04-25 01:38] Zyphrax commented on #111
No problem, if you have any feedback, let me know.

[2017-04-27 14:51] marciok opened #236 "Blockquote names should only be used for overlapping keywords, not for self, init..."
While discussing with some peers what is the best way to declare a strong self to use in a closure, I stumbled with this issue:
[code]
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20160118/007425.html

Than I remembered that swifter was using this style to guard self.

[2017-05-04 09:07] #236 closed

[2017-05-09 21:25] gravicle commented on #233
@glock45 how can I help?

[2017-05-11 21:21] azizuysal opened #239 "Carthage build fails with error "Dependency "swifter" has no shared framework schemes for any of the platforms: iOS""
Steps to repro, using Xcode 8.3.2, Carthage 0.22.0
1. Create a new Xcode project.
2. Create a Cartfile with contents "github "glock45/swifter""
3. In terminal run "carthage bootstrap --platform iOS"

Here's the output:
*** No Cartfile.resolved found, updating dependencies
*** Cloning swifter
*** Checking out swifter at "3.0.0"
*** xcodebuild output can be found in /var/folders/98/_0jlsbf94k36m_dht

[2017-05-16 05:13] bkawk opened #240 "Rewrite for single page applications"
The website I want to load into a webview is designed as a single page application, is there any way I can rewrite all url requests to index.html?

With nginx I'd do somthing like

server {
     listen 8080;
     listen [::] 8080;
     root /root/bundled;
 location / {
      try_files $uri $uri/ /index.html;
 }
}

How can this be done with swifter?

[2017-05-18 10:23] matsoftware opened #241 "Xcode warnings"
The current stable version of the library produces 7 warnings in Xcode 8.3.2:

<img width="423" alt="screen shot 2017-05-18 at 11 20 31" src="https://cloud.githubusercontent.com/assets/1196694/26198039/6bf998e4-3bbc-11e7-8a25-ef2633d40676.png">

Is there any plan to fix them?
Cheers

[2017-05-22 15:08] gh123man commented on #233
Hey guys, I ran into the same issue. Here is a temp workaround you can put in your podfile.

[code]

[2017-05-26 11:54] ashishrai00 opened #243 "Sending Dynamic Data on Web-Socket"
I need to send the different text on the web-socket on click on buttons.

[2017-06-02 08:01] oleander commented on #240
You could use `notFoundHandler`.

[code]

[2017-06-04 05:03] WillBishop opened #244 "Sporadic ERR_CONNECTION_REFUSED"
Hello!

Just started using this module today and I'm having a few troubles.

When I try to connect to the device from Chrome on Macbook, I get "ERR_CONNECTION_REFUSED". But sometimes I don't

My code is simply as follows

[code]

Sometimes it will connect just fine, but sometimes it won't

[2017-06-09 09:53] qwind365 opened #245 "net::ERR_CONNECTION_REFUSED"
I write code follow what in README.md ，when I try to connect it with Chrome ,I get error:net::ERR_CONNECTION_REFUSED

let server = HttpServer()
server["/my_html"] = scopes {
html {
body {
h1 { inner = "hello" }
}
}
}
do {
try server.start(12345)
} catch {
print("error")
}

[2017-06-14 11:50] hipposan opened #246 "Files cannot be accessed by shareFilesFromDirectory method"
The code is
 `server["/"] = shareFilesFromDirectory(MyPath)
   server.start(8080)
`
Then open browser and type "http://127.0.0.1", nothing happened?

[2017-06-14 13:14] ivanmisuno opened #247 "Build error with XCode9 beta"
Hi!
Just wanted to post a heads-up, building with XCode 9 beta produces following error:
<img width="900" alt="screen shot 2017-06-14 at 15 05 28" src="https://user-images.githubusercontent.com/6030289/27133889-1474353a-5114-11e7-9148-71221130a713.png">
Thanks! )

[2017-06-15 16:36] SmileAppDev commented on #246
Did you try http:127.0.0.1:8080 ? or localhost:8080.

[2017-06-15 18:45] SmileAppDev opened #248 "Can't load file that have spaces in the name"
I'm using the following code to load a directory at it works great for files that don't have any spaces in the names.
`server["/shared/:path"] = shareFilesFromDirectory("/Users/me/Desktop")`
If I want to load `test file.txt` the browser says that page can't be found.
I tested it to make sure that file works otherwise and took out the space and it loaded just fine.

Is there any way to get the serv

[2017-06-16 00:44] hipposan commented on #246
@SmileAppDev Yes, I tried.

[2017-06-19 04:18] mgerb commented on #245
Same issue here. Got one request to work and then the rest ERR_CONNECTION_REFUSED...

[2017-06-20 18:52] ccfriden commented on #206
@MicheleMola  Did you have to modify the demoServer func at all to accommodate this?

[2017-06-25 11:18] voynovia commented on #241
I created a PR https://github.com/httpswift/swifter/pull/250

[2017-07-04 13:08] florianheller commented on #233
I can confirm that building release-builds with optimization on Xcode 8 doesn't work (although I included Swifter manually into the Xcode project). Xcode 9-beta however, doesn't seem to have that problem.

[2017-07-06 18:30] #224 closed

[2017-07-12 05:15] dntbrsnbl opened #252 "signal SIGABRT when sending multiple requests"
# Overview
When sending multiple requests to a route `findHandler` sometimes results in a SIGABRT. This is most visible when spamming requests, as from a script.

## Steps to Reproduce
1. Create a iOS swift project
2. Imports swifter
3. Create a router with params (e.g. `/a/:b/:c`) which returns .ok(.text("Hello World"))
4. Run a script which makes simultaneous requests to the above route

After s

[2017-07-12 05:18] dntbrsnbl commented on #252
I've attached the project/script I used.

[client.zip](https://github.com/httpswift/swifter/files/1140933/client.zip)
[server.zip](https://github.com/httpswift/swifter/files/1140935/server.zip)

[2017-07-14 01:51] dntbrsnbl commented on #246
Did you include the port number in the address?
Were you connecting from the same machine that you were running the code on?
If it was on iOS, was the app in the foreground when you attempted to connect?

[2017-07-24 16:33] SmileAppDev opened #254 "CORS for files"
I have looked at the other issues that involve adding CORS to the server but they didn't help.

One of the other issue's answer was the following, Is there any way to use the `.ShareDirectory` features with it?
[code]

[2017-07-25 21:38] Bersaelor commented on #100
Hey @glock45 ,

thank you for creating `swifter`. Are you still working on this issue?

I had some measure of success modifying the codebase to allow me to connect to websockets ( https://github.com/Bersaelor/swifter/commit/04d664e431fc2aa4175b9ab8d311422c836b9b59 ).
But there are some issues left, among other things it seems that any message received by the device is immediately sent back as a co

[2017-07-28 06:43] mrdekk opened #255 "HTTP 304 Support"

[2017-08-02 01:53] starqueen106 opened #257 "Help me.."
Now i create the 2 method for M3u8 and TS
but dont load the TS file.

public func shareFileForM3u8(_ path: String) -> ((HttpRequest) -> HttpResponse) {
    return { r in
        // application/octet-stream
        if let file = try? path.openForReading() {
            return .raw(200, "OK", ["Content-Type":"application/vnd.apple.mpegurl"], { writer in
                try? writer.write(file)

[2017-08-02 02:32] starqueen106 opened #258 "Failed to send response: writeFailed("Broken pipe")"
current i am using the decrypted and write on local http server
but i getting error "Failed to send response: writeFailed("Broken pipe")"

public func sharedEncryptedFile(_ path: String) -> ((HttpRequest) -> HttpResponse) {
    return { r in

    return HttpResponse.raw(200, "OK", nil, {

        if let stream:InputStream = InputStream(fileAtPath: path)
        {
            var buf:[UInt8] = [UIn

[2017-08-07 09:00] pvegh commented on #257
You might get more help if you actually describe your problem and use an appropriate title.

[2017-08-08 08:34] delebedev opened #259 "Fails to compile with Xcode9 beta5 due to breaking (maybe non-intentional) swift changes"
https://bugs.swift.org/browse/SR-5659

<img width="1085" alt="screen shot 2017-08-08 at 09 34 31" src="https://user-images.githubusercontent.com/829783/29063213-cfc2470e-7c1c-11e7-9824-851e33a2da4d.png">

[2017-08-08 09:19] starqueen106 opened #260 "How to Get the Params ?"
now i dont get the params on the URL.
example: URL: http://127.0.0.1:8080/download/109/20000

first param is offset Value
second Param is Length Value.

but i dont know the get Param method on Files.swift

maybe dont get the the param data?

[2017-08-08 15:26] benicelabs opened #261 "Process doesn't matching with Process"
So having Process.swift doesn't jive well since Apple renamed NSTask to Process. Anyway around this short of a name change?

[2017-08-14 14:14] kwridan commented on #259
Latest stable branch works fine on Xcode 9 beta 5. The referenced method in the screenshot has been removed in favour of the built method.

https://github.com/httpswift/swifter/commit/82894dcfd5dfe457c62acc37d3bad54335986181#diff-aee1a2c4ba050f381dd3663379855341

I originally encountered the same issue then realised I hadn't updated my local copy in a while :)

[2017-08-16 15:03] BennX opened #262 "How to fail with an NSError?"
An URLSession data task can fail with an error according to:
[code]

Is there any way to fail with an NSError at the moment? I know that Nocilla for example is capable of failing like this.

If not i'd like to rise the proposal:

[code]
This is an example where the OS is throwing a notConnected in case the customer does not have an internet connection. (Used in testing)

I'd like to see this in Sw

[2017-08-16 15:29] BennX commented on #262
My fault got that Nocilla is doing something completely different.

[2017-08-16 15:29] #262 closed

[2017-08-19 07:32] BennX commented on #255
Use the `HttpResponse.raw(httpcode, description, headers, (writer)->Void)` to return whatever code and data you want.

[2017-09-06 10:39] gauravstomar opened #264 "Connection: Keep-Alive Not working"

[2017-09-25 16:45] DDBRemedyUK opened #267 "'No such module as Swifter' error"
Hi,

Whenever I install using Cocoa Pods and open the project from the workspace, I get error
`No such module 'Swifter'`

I get this error even after I clean and build the project.

Any ideas? Im running in Xcode 9 (stable) with Swift 4.

[2017-10-02 12:21] valdirunars commented on #198
Probably best to add mime type support as well, currently I think swifter only supports serving html and text so all <scripts /> and <link /> tags won't do what you think

[2017-10-05 13:58] valdirunars commented on #234
are the response headers set to include [ HTTPHeaderKeys.accessControlAllowOrigin: "*" ]

... or http://127.0.0.1:9080/*

[2017-10-17 12:23] tuzzo77 opened #270 "Closure() compilation error:"
Contextual closure type '(_, _) -> _' expects 2 arguments, but 1 was used in closure body

[2017-11-14 18:43] tomdaniel0x01 opened #274 "WebSockets.swift - Command failed due to signal: Segmentation fault: 11"
Xcode 9.1 / Swift 4

---

CompileSwift normal arm64 /Users/tomchi/informu/informu-ios-app/Pods/Swifter/Sources/WebSockets.swift
    cd /Users/tomchi/informu/informu-ios-app/Pods
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift -frontend -c /Users/tomchi/informu/informu-ios-app/Pods/Swifter/Sources/DemoServer.swift /Users/tomchi/informu/informu-ios-ap

[2017-11-14 19:42] tomdaniel0x01 commented on #274
I fixed this in Pull request #275

[2017-11-16 23:51] jalakoo commented on #270
Can manually replace with pakerwreah's code from pull request #266:

[code]

[2017-11-22 18:08] welljsjs opened #276 "Update to Swift 4"
Hey,

the current Swifter version is not optimized for Swift 4; when building my Xcode project, I get 19 warnings and 3 errors related to the Swifter framework, f.ex.

`'characters' is deprecated: Please use String or Substring directly.`

The three errors:
(All within "Scopes.swift"):
[code]

Is there any fix or something I could do in order to make Swifter work?

Thanks a lot for help in advance

[2017-11-28 15:03] #248 closed

[2017-12-07 12:12] wessamgabdrabo opened #278 "Hosting a M3u8 file using Swfiter"
Hi!
I am trying to use Swifter as an embedded http server in my tvOS application to host an m3u8 playlist. I am not sure how to achieve that.
What I am trying to achieve is to pass my AVPlayer a url of this hosted playlist as such:

 let asset = AVURLAsset(url: mediaURL)

Where mediaURL is the url of m3u8 hosted using Swifter.

Thanks!

[2017-12-19 11:47] AlkiviadisPapadakis-je commented on #276
Any update on this?

[2017-12-19 14:23] welljsjs commented on #276
Seems to be fixed : #266

[2017-12-19 14:23] #276 closed

[2017-12-19 19:47] davidfmiller opened #282 "`shareFilesFromDirectory` HTTP response does not include relevant HTTP headers"
The HTTP response from a route that is served via the `shareFilesFromDirectory` function looks like so:

[code]

At a minimum there should be a `Content-Type`, `Content-Length`, `Last-Modified`, `Date`, and probably a `Connection: close` header included.

[2017-12-29 20:43] johnnyvj commented on #267
Hello!

I have this problema too, and I don't know what is the problem.

I'm using too xCode 9 and Swift 4.

Please, help us, if possible!

[2017-12-30 10:33] johnnyvj commented on #267
So, I with many friends here in the net solved the problem finally: in xCode set the SWIFTER_VERSION to 3.2 and it working! Thanks!

[2018-01-04 10:13] MartijnSchoemaker opened #283 "Adding method PATCH support"
Is it possible to add support for HTTP method PATCH?
I really need it.

[2018-01-05 23:27] Joebayld opened #284 "Issue with WebSocket"
Anyone having issues connecting to the web socket? When I try to connect from a browser, the browser gives me an error 404 that it cannot connect.

Anything I could possibly be missing?

Thanks

[2018-01-10 13:43] AndrewSad opened #285 "How do I add different responses based on request GET parameters?"
So is there a way to make different responses for different parameters?
Im using Swifter to mock server responses and it would be great to response differently based on request’ GET parameters, but I can’t really figure how to add such responses

[2018-01-20 01:51] EmperiorEric opened #286 "H12 Request Timeout on Heroic"
We setup HTTP Swifter to run on Heroku using the build pack https://github.com/kylef/heroku-buildpack-swift but something isn't working. All requests time out even for simple return text statements. Not sure if its Swifter or the setup but any help is appreciated. We logged an issue with the build pack as well unsure which might be improperly configured.

Things are working great locally.

https:/

[2018-01-21 08:25] Joebayld commented on #284
Found part of the problem. If I have a wildcard url, it overrides the websocket. Perhaps there should be a check for existing paths before using the /: wildcard?

Example below:

[code]

[2018-01-21 08:39] Joebayld opened #287 "websocket onConnect"
Hi,

How would I be notified when a socket connects and disconnects? I want to retain the sockets in my app so I can broadcast a message to all connected sockets. Is this possible?

thanks.

[2018-01-28 13:33] idoodler opened #289 "Overriding type function"
I just noticed that Swifter overrides Swift Standard Library function `type(of:)` in **Scopes.swift in line 29** with a string.

[code]
In particular it conflicts with SwiftTheme. I temporarily fixed it by renaming the variable to `_type`.

[2018-02-06 21:01] alanzeino opened #291 "Exclusive access warnings in Swift 4.1"
[code]

Xcode 9.3b2

[2018-02-11 03:54] nicholascross opened #292 "bind operation not permitted"
I just ran in to a problem trying to embed the http server into a macos application.

It would fail to bind on any ip address the solution was not straight forward to locate for someone not experienced with such things, so I thought I would share it here in case others face it in the future.

To resolve you must update your apps entitlements file with the following

[code]

These will be true by d

[2018-02-11 03:55] #292 closed

[2018-02-14 12:23] dev-journey commented on #198
Please, could you post some example code to access index.html file on a root subfolder, because I can access the index.html file that's directly located at root level:

    let server = HttpServer()
    let documentsUrl = FileManager.default.urls(for: .documentDirectory, in: .userDomainMask)[0]
    let indexFile = "index.html"
    let htmlTmp = documentsUrl.appendingPathComponent("root")
    serve

[2018-02-14 12:27] valdirunars commented on #198
yes but can you `<link>` to a stylesheet or add `<script>` from local js file from that index.html?

[2018-02-14 12:29] dev-journey commented on #198
Yes, I think I could do that.

[2018-02-14 13:11] valdirunars commented on #198
Oh yeah, my bad, I see this is now fixed. When, I wonder.

[2018-02-14 21:45] lprhodes commented on #282
+1 for this. What did you end up doing @davidfmiller ?

[2018-02-14 23:54] davidfmiller commented on #282
I hacked together a solution. I can put it into a PR if there's a chance it would go anywhere.

[2018-02-19 08:16] jeff-h commented on #292
Thanks for this!

Also in a macOS app, the error I was getting was: `bindFailed("Operation not permitted")` and the fix was simply to tick "Incoming Connections" in the App Sandbox config.

<img width="552" alt="screen shot 2018-02-19 at 9 14 00 pm" src="https://user-images.githubusercontent.com/841871/36367957-e5f540f8-15b9-11e8-8b15-3f61c6df9496.png">

Absolutely obvious after you think of it!

[2018-02-20 02:33] jeff-h opened #294 "Overlapping routes"
Similar to the example code:

[code]

I would like to do something like this (but it doesn't work, even reversing the order of the two statements):

[code]

This would enable the HTML inside the `test` directory to assume it's in the web root, and would also allow it to reference vendor libs (eg jQuery) from `/vendor/jquery.js`.

Unfortunately Swifter doesn't allow this, as it seems the first hand

[2018-02-20 12:32] nicholascross commented on #292
This does seem like the correct way to get things working, as it leaves the other sandbox entitlements untouched!

The entitlements below work correctly, thanks for sharing this info!

[code]

[2018-03-07 17:19] eric-22 opened #297 "Server doesn't answer event when state is "HttpServerIOState.running""
It happens quite frequently that I do not receive an answer from the Swifter server until the timeout of the client. And if there is no timeout on the client, the request runs indefinitely. The connection is open but the server never returns an answer or closes it.

This happens more frequently if I start the Swifter server right after a change of connection/passover to plane mode. The combination

[2018-03-09 10:58] payalbaldota opened #298 "Playing encrypted .mp4 video file"
Hi,

Can anyone tell me if I can use this library to play encrypted .mp4 video file in iOS?

Idea is to decrypt the file using local http server and play using AVPlayer.

Any sample code will be much appreciated.

Thanks,
Payal

[2018-03-12 05:02] payalbaldota commented on #278
Hello,
Are you able to play the media file using swifter?
If yes please guide me how you had achieved this. I want to play video file hosted on local http server. And the file is in encrypted form.

[2018-03-19 09:00] jeff-h commented on #111
I should also mention https://github.com/BiAtoms/Http.swift which has SSL/TLS support.

[2018-03-20 10:35] srijanraj commented on #267
How can I change SWIFTER_VERSION in xCode? @johnnyvj

[2018-03-20 11:38] johnnyvj commented on #267
So, open your project in xCode. On left side in navigator click to your project's name. In the middle panel find Build Setting. Here you use the top-right section you see the search bar. Write to SWIFT_VERSION and you will se the Swift Language Version line above. Here change to Swift 3.2 and done.

[2018-03-20 23:49] srijanraj commented on #267
Thanks @johnnyvj , It worked. Hey I am new to swift and trying to mock the server for ui test using Swifter. Do you have any relevant resource which can help me.

[2018-03-30 11:04] srijanraj opened #301 "SocketError"
SocketError
  - bindFailed : "Operation not permitted"

Can anyone have solution for this?

[2018-04-01 19:51] nodeful commented on #66
First of all, hats off to the creator of this library. This is the only Swift "client-side server" (I want to run a small API server on my user's machine) I was able to find.
But it desperately needs some async support, especially as a majority of workflows when writing servers are async and most users using a library will have limited knowledge of how to extend it to fit their needs :)

[2018-04-02 19:58] evertoncunha commented on #211
Does anyone have a solution for this?

[2018-04-03 07:41] brennanMKE commented on #211
@evertoncunha I learned my issue was caused by Apple changing how unit tests were executed. I was setting up an HTTP server with swifter to test network requests locally. Previously I could start the server and use it for multiple tests, but it seems an instance of the test class was created for each unit test and the first one would use the port for the HTTP server and block the rest. I had to ca

[2018-04-03 10:37] benchd opened #302 "compile errors with swift 4.1 and xcode 9.3"
I am trying to update my app from swift 3 to swift for 4 and getting compile errors on Scopes.swift
on scope() "Missing argument for parameter #1 in call,
public typealias Closure = (Void) -> Void "When calling this function in Swift 4 or later, you must pass a '()' tuple; did you mean for the input type to be '()'?"

I created a small test app with just the swifter pod and getting the same thing.

[2018-04-04 04:36] srijanraj opened #303 "BindFailed error"
The bindResult value is not changing and it is showing -1. The problem which I think is mostly because of app settings. Can anyone suggest me what to do?

`bindResult = withUnsafePointer(to: &addr) {
                bind(socketFileDescriptor, UnsafePointer<sockaddr>(OpaquePointer($0)), socklen_t(MemoryLayout<sockaddr_in6>.size))
            }`

[2018-04-04 04:37] #301 closed

[2018-04-04 08:58] neosinha commented on #302
I am experiencing the same problem.

[2018-04-04 14:00] fabianthdev commented on #294
+1 For this question. I have exactly the same problem. Did you find a way to solve this?

[2018-04-04 21:44] CristianDRM commented on #302
I noticed that the library was updated to swift in 1.4.0 release, but not published in cocoapods.

[2018-04-04 21:46] jeff-h commented on #294
I actually decided to use https://github.com/BiAtoms/Http.swift which supports overlapping paths.

[2018-04-05 03:58] ehuynh opened #304 "Remove String extension from being public"
https://github.com/httpswift/swifter/blob/stable/Sources/HttpRouter.swift#L137

If this extension is used internally, it would be great if it could remove if from being `public` as it would clash with other `split` funcs defined in the project.

[2018-04-05 13:46] shiva28U opened #306 "Bind Error : Address already in use"
Im using swifter with uitest iOS for mocking web response. It works fine when normal test but in continues integration with parallel execution using multiple simulator creates this "**Address already in use**" error in crash log with localhost server.

Can anyone help me out reg this!!!

[2018-04-06 05:44] srijanraj commented on #284
The bindResult value is not changing and it is showing -1. The problem which I think is mostly because of app settings. Can anyone suggest me what to do?

bindResult = withUnsafePointer(to: &addr) { bind(socketFileDescriptor, UnsafePointer<sockaddr>(OpaquePointer($0)), socklen_t(MemoryLayout<sockaddr_in6>.size)) }

This is the error which it shows to me.
SocketError

bindFailed : "Operation not pe

[2018-04-09 10:20] jacknewcombe-je opened #307 "Publish 1.4.0 podspec"
Podspec hasn't been published so you have to point at it directly for install at the moment (either via :git or :podspec)

Can you push the spec to trunk please?

[2018-04-12 11:40] kimaldis commented on #302
+1. Same compile errors.

[2018-04-13 07:47] kimaldis opened #308 "1.4.0 compile error"
I'm getting a compile error, Line 47 of Webserver.swift,

      "Type 'String' has no member 'fromUInt8'"

Xcode 9.3, Swift 4.1

[2018-04-13 11:33] benchd commented on #308
At the moment I don't think this is going to work. See issue #302 as the pod hasn't been updated to support swift 4.1.

[2018-04-13 14:39] kimaldis commented on #308
This was with the source folder dragged into the Xcode project. Only because last time I looked at this code I couldn't get it to build with it in the podfile.

[2018-04-16 08:55] kimaldis commented on #294
Oddly enough, I'm trying to do exactly the same thing. No thoughts yet?

[2018-04-18 08:02] kimaldis opened #309 "Length of data sent to websocket"
I'm using javascript websockets (Firefox) to send and receive text data to and from a swifter websocket:

        this.Websocket = new WebSocket("ws://" + window.location.host + "/ws")
        this.Websocket.send( "xxx" )

this all works just fine until the character count of data sent using Send() reaches 256. Anything over that and the socket disconnects. Above 256 only twenty or so characters r

[2018-04-18 08:50] neosinha commented on #302
I got around by pulling in the source files directly and creating a "group" called "SwifterFiles". Of course we cannot use "import Swifter" anymore but the "HttpServer" object is available directly.

[2018-04-30 10:06] kimaldis commented on #309
OK, I can reproduce this as below. Sending data over websocket to a server where length is >= 256 causes the connection to close, client error "_The connection to ws://127.0.0.1:8084/ws was interrupted while the page was loading_.".

The server recieves an empty string and gives the error  "_Protocol error: protocolError("Reserved frame bit has not been negocitated.")"_

I've also tested the clien

[2018-05-01 21:50] Laban1 commented on #111
@glock45 Any plans to resume the SSL work?

[2018-05-07 01:24] ehuynhseek commented on #304
@thingdeux this can closed as #305 fixes this

[2018-05-12 21:46] brennantaylor commented on #221
Looks like this is addressed by https://github.com/httpswift/swifter/pull/222.

Closing.

[2018-05-12 21:46] #221 closed

[2018-05-15 17:52] killmyrene opened #311 "How to continually feed data back instead of returning the entire response"
Is there a way that the framework can feed data, bit by bit, back instead of returning the entire response at once?

I'm using this framework to speed up the AVPlayer's playback performance by splitting up each individual segment for multi-transfer byte range requests. This does speeds up performance but it messes up the ABR algorithm inside the AVPlayer and in turn start requesting for a higher v

[2018-05-15 19:26] widmore opened #312 "Serving a web content"
IMO examples are not enough to start serving a web content. I would like to serve a simple static index.html file. As far as i can see we should call as follows to serve index.html or default.html.

server["/desktop/:path"] = shareFilesFromDirectory("/path/to/index/html")

Now i wonder how do you locate an index.html file in project. If you can, how do you locate index.html in your xcode project a

[2018-05-16 23:58] Phylliida opened #313 "Websocket client example"
Can this support sending a file via a websocket to a server elsewhere? (i.e., client tests also written in swift)

I was looking at the ping example and it looks like swifter should be able to do this but I haven't figured out how to yet

[2018-05-19 10:11] VasylKhmil opened #314 "Photos uploading takes forever, when it goes from client to server"
After spending some time figuring out what is an issue, I found out that methods
    `private func readBody(_ socket: Socket, size: Int) throws -> [UInt8] `
were using this line to get data passed         `for _ in 0..<size { body.append(try socket.read()) }`

Here is a method `read()` from `Socket` class:
[code]
I can see that you're trying to load size of one byte. As a result combination of thi

[2018-05-21 17:59] osis commented on #307
Looks like this is solved?

[2018-05-22 18:49] Niko-r commented on #234
Was someone able to make a progress on this?

[2018-05-22 19:51] nidx commented on #234
I wrote myself a workaround to add range, I think i am giving up some features to get this working (can't remember what they are) but this is working in a production app right now.

[gist](https://gist.github.com/nidx/2c2b03daaafe2aeba09f115c148cd0f1)

[2018-05-22 20:01] Niko-r commented on #234
Wow thanks for this ultra fast answer @nidx and for sharing this gist! 👍
I'll try this asap

[2018-05-24 10:46] ghost commented on #307
1.4.0 was not pushed, but 1.4.1 has been and appears usable.

[2018-05-24 10:46] #307 closed

[2018-05-30 13:17] muskacirca commented on #302
same error

[2018-06-06 06:27] ignatovSA commented on #291
These warnings are compilations error in Xcode 10.
As an alternative to #300 I've created #318, which fixes the issue too.

[2018-06-11 09:28] Rups1990 commented on #206
@MicheleMola I have .exe of the server inside my app bundle, which needs to be started to load my.html (which is also bundled). Can I achieve the same using the above code? and also demoServer function call is not clear to me

[2018-06-11 09:40] MicheleMola commented on #206
Hi @Rups1990, where must you launch .exe file?

[2018-06-11 09:47] Rups1990 commented on #206
thanks @MicheleMola  .that was not clear to me..I have to load 360 image using KRPano viewer. They say that, their local testing server is required to load .html page without any browser restriction issues. Hence that, .exe of testing server is autogenerated and will be available for each Panorama image to be loaded.

I have added that .html and other resources including my .exe file to applicatio

[2018-06-11 09:59] MicheleMola commented on #206
@Rups1990 Okay, I get it. Can you give me the package that you added to application bundle? To understand more.

[2018-06-11 10:09] Rups1990 commented on #206
[equi05.zip](https://github.com/httpswift/swifter/files/2089515/equi05.zip)

[2018-06-24 13:11] ryantstone opened #320 "Response Body for 201 and 500"
Is there currently not a way to respond with JSON for 201 & 500 responses? I'm mocking a Rails server that does respond to those statuses with content.

[2018-06-27 04:40] squeaky-nose commented on #239
Hi... did you manage to find a fix?

[2018-07-12 20:14] agisilaos opened #322 "What's the tag that indicates that Swifter supports Swift 3.0?"
Hello, 👋 I have multiple dependencies most of them in Swift 3.0, so until the creators of the dependencies decide to support Swift 4.0 I can't use any dependency written in Swift 4.0. What's the tag that indicates that Swifter supports Swift 3.0? Couldn't figure that out myself so I need some help here. Thanks in advance.

[2018-07-13 23:10] jotaemepereira commented on #302
I've just fixed using the 1.4.2 release. I've added this to my Podfile and it's working:

[code]

[2018-07-17 08:53] marcc-orange commented on #287
I have a PR with this waiting for review: #319

[2018-07-17 21:53] asoneji opened #323 "Should support/allow headers key to be case-insensitive"
https://tools.ietf.org/html/rfc2616#section-4.2

Currently all the headers key are lowered case.

[2018-07-24 06:34] isaac-weisberg opened #324 "Why is JSON encoding so primitive?"
This issue refers to

https://github.com/httpswift/swifter/blob/b366f5ed088d9d0d216a9ce18ec726f7912c30f3/Sources/HttpResponse.swift#L35-L48

Did anyone ever attempt to rewrite it with the Swift.Encodable? Evidently, there was no JSON decoding tool back then on Linux/SPM, but this is not the case since 2017.

[2018-07-24 06:47] isaac-weisberg commented on #324
Well, I see now

[2018-07-25 07:30] marcc-orange opened #326 "Random truncation of WebSocket payloads with extended length (125+ bytes)"
When sending WebSocket payloads longer than 125 bytes, some random truncation of the payloads occur due to a bug in the length computation.

[2018-07-25 07:31] marcc-orange commented on #326
I submitted a fix #327

[2018-07-27 14:02] Macarse commented on #320
404 as well.

[2018-08-04 10:52] yoyoFan opened #328 "some phones are not responding?"
Why do I test Demo, some cell phone requests are correspondingly, some phones are not responding?

HTTP requests no response to the cell phone, and there is no rule of discovery, which has nothing to do with the IOS phone system. Demo test, what else do I need to do?

[2018-08-04 10:55] yoyoFan commented on #328
HTTP requests no response to the cell phone, and there is no rule of discovery, which has nothing to do with the IOS phone system. Demo test, what else do I need to do?

[2018-08-04 10:56] #328 closed, assigned to nobody

[2018-08-04 10:59] yoyoFan opened #329 "Send a request some cell phones do not respond"
Download demo and run on the phone. Send HTTP requests, some phones can respond to interface requests, some can not respond. No response phone, no rules found, with IOS mobile phone system. Several mobile phones have been tested, some of which are not available. Demo test, what else do I need to do? I hope to know

[2018-08-05 07:46] yoyoFan opened #330 "Do you have any situations where some phones can't be accessed?"
Do you have any situations where some phones can't be accessed? After Demo is downloaded, it can not run on iphone8 ios11.4.2, but it can be accessed on another machine iphone6 ios9.3.2. What is this?

[2018-08-06 00:17] yoyoFan commented on #297
Is it related to the mobile phone? What I have encountered is that some mobile phones can respond immediately. Some phones just don't respond. Don't know what the problem is? Run the Demo directly.

[2018-08-06 05:19] jurex opened #331 "Is this repository still maintained?"
Hey guys, want to use this library in my iOS app. There are some useful PRs sitting there for a while, so I’m just wondering if this project is still maintained. Thnx

[2018-08-20 11:10] basmaessen commented on #285
@AndrewSad Did you find any solution for this problem?

[2018-08-20 14:03] AndrewSad commented on #285
@basmaessen yes, turned out it was quite easy

[2018-08-20 14:05] basmaessen commented on #285
@AndrewSad How did you do it?

[2018-08-21 06:11] AndrewSad commented on #285
I've added this method to HTTPDynamicStubs class:
[code]

Usage:
[code]

[2018-09-13 07:12] WDDong opened #336 "Overlapping accesses to 'addr' (Xcode 10 beta, Swift 4.2)"
In Xcode 10 beta with Swift 4.2 there are two build errors, in Socket.swift (line 51 and 66):
       Overlapping accesses to 'addr', but modification requires exclusive access; consider copying to a local variable

<img width="2096" alt="64c63654-8f23-44b1-8fdc-83361187767f" src="https://user-images.githubusercontent.com/8448083/45480179-f8088080-b77a-11e8-966d-5929ff9fd995.png">

[2018-09-13 09:31] WDDong commented on #336
<img width="2096" alt="64c63654-8f23-44b1-8fdc-83361187767f" src="https://user-images.githubusercontent.com/8448083/45480115-cc859600-b77a-11e8-97b7-d2d23cc8419c.png">

[2018-09-13 09:32] floriangbh commented on #336
Same issue with Xcode 10 GM version

[2018-09-13 15:11] traktor74 commented on #336
Same issue =(

[2018-09-14 07:27] abrindam commented on #336
Looks like this is already fixed by #318. #332 covers releasing a new version 1.4.3 with this change. Head over to that issue and give it a thumbs up!

[2018-09-14 11:34] floriangbh commented on #336
If you are using cartage : `github "glock45/swifter" "b366f5ed088d9d0d216a9ce18ec726f7912c30f3"`

[2018-09-22 11:40] marcoconti83 commented on #239
I created a fork and restructure the folders so that carthage would not complain: https://github.com/marcoconti83/swifter

[2018-09-22 11:40] marcoconti83 commented on #196
I created a fork and restructure the folders so that carthage would not complain: https://github.com/marcoconti83/swifter . It fixed it for me.

[2018-09-24 16:03] JUSTINMKAUFMAN commented on #331
Bump

[2018-09-26 09:40] kimaldis opened #339 "Build Errors, Xcode 10"
Trying to build an oldish app after upgrading to Mojave & Xcode 10 and I'm getting build errors:

<img width="376" alt="screenshot 2018-09-26 at 10 37 25" src="https://user-images.githubusercontent.com/4265299/46071731-94b61f80-c178-11e8-956d-07e24867502a.png">

[2018-09-27 10:04] ignatovSA commented on #336
You can close the issue, as 1.4.3 is released.

[2018-09-27 10:13] ignatovSA commented on #291
The fix is released in `1.4.3` version.

[2018-09-28 02:35] #336 closed, assigned to nobody

[2018-10-04 16:08] jjorgemoura commented on #331
Cocoapods is still referencing the version 1.4.1 (May) as the last one, not the 1.4.3.

Is it possible to release to Cocoapods?

[2018-10-08 06:01] isee15 opened #341 "update cocoapods version to 1.4.3"
now pod install from cocoapods  version is 1.4.1.
use
pod 'Swifter', :git => 'https://github.com/httpswift/swifter.git'
to get 1.4.3.

[2018-10-11 22:51] yj commented on #341
what about updating the specs repo to make this easer?

This would especially be good for libs that have a dependency on Swifter ...

[2018-10-17 14:06] traktor74 commented on #341
the same question guys, will version in cocoapods be updated to 1.4.3 ?

[2018-10-19 09:21] JamesSawley commented on #331
I'm guessing due to the lack of response the answer is no...

[2018-10-20 12:11] DominikBucher12 commented on #341
I would mark this super high priority, because right now it fucks up every Project using this  as dependency from dependency. (SlackKit is perfect example)

[2018-10-22 07:59] kimaldis opened #342 "directoryBrowser showing empty pages"
Does anyone have any thoughts on why `server["/files/:path"] = directoryBrowser("/")` shows a full listing of files & directories but 'server["/files/:path"] = directoryBrowser("/Users")' or any of its subdirectories, or even browsing to /Users from '/' shows a completely empty page? Permissions seem fine

[2018-10-22 08:41] kimaldis opened #343 "Empty pages using directoryBrowser or shareFilesFromDirectory"
Does anyone have any thoughts on why `server["/files/:path"] = directoryBrowser("/")` shows a full listing of files & directories but 'server["/files/:path"] = directoryBrowser("/Users")' or any of its subdirectories, or even browsing to /Users from '/' shows a completely empty page? Permissions seem fine

[2018-10-23 06:58] kimaldis commented on #343
Never mind.Sandbox.

[2018-10-23 06:59] kimaldis commented on #342
Never mind.Sorry for the noise.

[2018-10-23 08:04] kimaldis opened #344 "Static pages broken?"
static files appear not to be getting served:

[code]
Browse to `http://localhost:8082/files` and see a correct list of files and directories. Click on an html file and I get an empty page.

Browse to `http://localhost:8082/files/test.html`, where test.html exists. Again, I get an empty page.

Thoughts appreciated.

[2018-10-23 20:31] #326 closed, assigned to nobody

[2018-10-23 21:32] damian-kolakowski commented on #341
the spec repo update (1.4.5).

[2018-10-23 21:32] #341 closed, assigned to nobody

[2018-10-23 21:32] damian-kolakowski commented on #339
1.4.5 should work fine.

[2018-10-23 21:32] #339 closed, assigned to nobody

[2018-10-23 21:56] jerbeers opened #345 "Content type not set correctly for `.badRequest` case"
If I have a test that needs to send a body with a `.badRequest` response, the content-type header is not set correctly. The `headers()` method on `HttpResponse` should evaluate the body of `.badRequest` the same way it does for `.ok`. It's a bit complicated by the fact that the associated data for `.ok` is not optional and `.badRequest` is optional, but if `badRequest` does have a body, it should

[2018-10-24 03:15] Vkt0r commented on #331
@JamesSawley @jjorgemoura @jurex The answer is yes 😀. Please refer to the recent merge of #340, #337 and #334. Also, the pod version was updated to 1.4.5.

[2018-10-24 03:58] Vkt0r commented on #345
You can always use the `HttpResponse.raw` and provide your own `Headers`. See the following example:

[code]

[2018-10-24 03:59] #342 closed, assigned to nobody

[2018-10-24 03:59] #343 closed, assigned to nobody

[2018-10-24 03:59] #331 closed, assigned to nobody

[2018-10-24 04:04] #308 closed

[2018-10-24 04:06] Vkt0r commented on #302
A new version was released `1.4.5` please feel free to open it again in the issue persist 😅.

[2018-10-24 04:06] #302 closed

[2018-10-24 04:07] #304 closed

[2018-10-24 04:09] #291 closed

[2018-10-24 04:10] Vkt0r commented on #283
@MartijnSchoemaker Please refer to #334.

[2018-10-24 04:10] #283 closed

[2018-10-24 04:10] #259 closed

[2018-10-24 04:11] #257 closed

[2018-10-24 04:11] #255 closed

[2018-10-24 04:11] #241 closed

[2018-10-24 04:12] #196 closed

[2018-10-24 04:12] #233 closed

[2018-10-24 04:16] #267 closed

[2018-10-24 04:19] #260 closed

[2018-10-24 04:19] #247 closed

[2018-10-24 04:46] damian-kolakowski commented on #311
Maybe this will help: https://github.com/httpswift/swifter/blob/73ac81070632bcf028680bad5db7b754dfd9ff9c/XCode/Sources/DemoServer.swift#L175-L181

[2018-10-24 21:18] jerbeers commented on #345
Yeah, I used that as a workaround, but it still seems like the code should automatically handle the header correctly, so I filed the issue. Thanks!

[2018-10-26 16:03] cryptoman256 opened #346 "Support url query param matching"
The library is parsing the query params but then not using them to match.

Problem is:
`http://example.com/search/location?city=chi`
is the same as
`http://example.com/search/location?city=nyc`
to swifter

[2018-10-27 15:07] kimaldis commented on #312
```server["/desktop/:path] = NSHomeDirectory() + "/html"```

will serve files from ```~/Library/Containers/BundleIdentifier/Data/html``` where BundleIdentifier is your project's bundle identifier. NSHomeDIrectory because app sandboxing.

then ```http://localhost/desktop/index.html``` will get you to index.html in your browser, assuming it's in ~/Library/Containers/BundleIdentifier/Data/html

Sandb

[2018-10-27 15:09] kimaldis commented on #344
Anyone have thoughts on this? Am I missing something obvious?

[2018-10-29 08:18] marcc-orange commented on #344
What HTTP response code do you get on the `http://localhost:8082/files/test.html`: 200, 400 or 500 ?  Did you check file permissions ?

I can see in https://github.com/httpswift/swifter/blob/b33295680aea4fae0d88f07024da35b4d9f33ca2/Sources/Files.swift#L41
that if a read error occurs, it is currently ignored.  It should return something appropriate, like a 403 on permission error.

[2018-10-29 10:43] kimaldis commented on #344
File permissions checked right through the tree, set to 0777 while testing.
I'm struggling to find a response code anywhere.

I did find that. the closure, ```return { r in ... ``` in ```shareFilesFromDirectory()``` isn't getting called at all. Currently trying to figure out why that may be.

[2018-10-29 11:12] kimaldis commented on #344
My bad, I was misunderstanding the way this was working.

[2018-10-29 16:30] kimaldis commented on #344
writer.write( file ) on line 41 throws an error; ```"sendfile: Operation not permitted"```.  test.html is in '/Users/kimaldis/Library/Containers/com.kim-aldis.EarwigServer/Data/htdocs'. The file has 0777 permissions as does the tree leading up to it. I'm serving from this folder, returned by ```NSHomeDirectory() + "/htdocs"``` because App Sandboxing, which seems to be new in Mojave/Xcode 10, wasn'

[2018-10-29 17:12] kimaldis commented on #344
sendfile() is returning -1 in Socket, line 45 of Socket+File.swift. As I said, I have Incoming & Outgoing connections enabled in the App Sandbox and all file permissions are good. I'm not sure where else I might look.

This is Mojave, Xcode 10, btw.

[2018-10-31 09:07] kimaldis commented on #344
I think I've found it. sendfile() at line 45 of Socket+File.swift fails but using sendfileImpl() instead seems to work. I changed two lines in Socket+File.swift:

Line 10 ```#if os(iOS) || os(tvOS) || os (Linux)  || os (macOS)```

and

Line 42 ```#if os(iOS) || os(tvOS) || os (Linux) || os (macOS)```

My understanding of sockets isn't good enough that I can be sure what's going on or, indeed, that

[2018-11-04 20:46] MrSkwiggs opened #348 "Continuous data stream ?"
How exactly would I go about streaming some continuous data (i.e from a device capture) ?
Can I do so with a simple GET or should I use websockets ?

Sorry for the totally noobish question but I'm super lost.

[2018-11-04 23:28] #144 closed

[2018-11-04 23:30] #239 closed

[2018-11-04 23:31] #274 closed

[2018-11-04 23:40] Vkt0r commented on #322
I think #347 is what you're looking for, we should add the Swift 3 support tag to the `README` though. Would you like to create a PR for it?

[2018-11-04 23:48] Vkt0r commented on #306
You can specify the `port` you want to use to run the server. So you need a way to identify each instance if you're running your tests in the same simulator instance or in different simulators and specify different ports for each one.

[2018-11-04 23:56] #285 closed

[2018-11-05 00:20] Vkt0r commented on #282
`shareFilesFromDirectory` returns the `"Content-Type": mimeType` when the `fileRelativePath` exist. otherwise, the `Headers` are empty for a `200`. I think it's worth it to have more information about the file, could you create a PR with your proposal ?

[2018-11-05 00:54] Vkt0r commented on #346
That's correct, the query parameters are stripped when the router is registered in the `HTTPRouter`. But you could always create a mechanism to handle it and return responses regarding the query parameter if it's what you need. #285 show a simple example of how you can do it.

[2018-11-05 01:00] #246 closed

[2018-11-05 01:01] #244 closed

[2018-11-05 01:02] #245 closed

[2018-11-05 01:44] Vkt0r opened #349 "CI for the repository"
We have a small test suite in the library but even with that, we can enable some CI to run with each PR and avoid regressions or any test failure. For OSS we have free support for several providers like CircleCI, Travis, etc.

I'm been working with CircleCI for some time and I can create the environment to add it to the project and talk with the CircleCI support to add the project in the free plan

[2018-11-05 14:22] MrSkwiggs opened #350 "Where to find reference documentation ?"

[2018-11-09 14:54] BeetLab opened #351 "WKWebView stays blank"
Hi! I'm launching www folder from Cordova. I'm using server in this way:

`server["/:path"] = shareFilesFromDirectory(wwwPath)
  let request = URLRequest(url: URL(string: "http://localhost:8080")!
  webView.load(request)
`
Server loads every file in www folder, everything is fine, no error logs or smth. App trasport security is set to true. But WKWebView stays blank. Otherwise - if i'm running the

[2018-11-22 16:24] Vkt0r commented on #351
@BeetLab I think you're having issues with the cache. Let's do the following:

1. Reset the simulator's content by erasing its data.
2. Run your code to load the file in the `WKWebView`.

If the `WKWebView` loads your content well, run it again. If you see a blank content then you need to avoid the `localCache` adding to your `URLRequest` the following code before load it in the `WKWebview`:

[cod

[2018-11-26 04:51] Vkt0r commented on #348
@TheSkwiggs Maybe #311 can help you!

[2018-11-26 04:53] Vkt0r commented on #350
@TheSkwiggs I think the best we have for now is the `README` and the source code, unfortunately 😅. But please if you think you can add more docs to the repo that would be helpful.

[2018-11-28 08:31] SolaWing commented on #108
Any update on this issue?

[2018-12-03 07:35] SolaWing opened #353 "How to respond with multiple Set-Cookie header?"
according to https://tools.ietf.org/html/rfc6265#section-3

I can use raw to set headers, but header dictionary override old Set-Cookie key

[2018-12-06 15:40] IvanovDeveloper opened #354 "Create good documentation please."
I spent a lot of type to understand how load html string with help dive to the source code.
Your examples isn't clear to understand how it works.

[2018-12-06 22:36] adamkaplan commented on #354
Better docs always good, but the request here isn't really specific and actionable.

Would you mind putting your learnings into the docs via PR?

[2018-12-11 13:34] pcoltau opened #355 "HttpRouter takes incorrect route"
When having overlapping paths, the HttpRouter will pick the incorrect path.

I have the following test, which fails:

[code]

The problem is in the implementation of `HttpRouter.findHandler()`, which has two issues:

1. Path parameters are chosen before a path segment, which means, in the first assertion in the above test, the route `"a/:id/c"` will be chosen over `"a/b"`. This can be fixed, in `H

[2018-12-13 15:39] IvanovDeveloper commented on #354
I have created pull request.

[2018-12-13 15:40] #354 closed, assigned to nobody

[2018-12-18 15:50] CoderXpert commented on #346
@Vkt0r is there any plan to support this? So mock server always honour the parameters if they are in? If not what is the rationale of not having?

[2018-12-18 21:59] Vkt0r commented on #346
@CoderXpert I think this is something we can bring to the library and would be very useful for a lot of people. Sorry, I cannot provide with an ETA at this point but I hope we can update it at some point very soon.

Honestly, I don't know exactly what was the reason for not having it initially.

I'll try to make an investigation about how much effort would take to add to the library. Let's hope no

[2018-12-18 23:03] Vkt0r commented on #355
Hey, @pcoltau thanks for bringing this up and for creating the unit test for it! Yes, it's a bug in the traversal of the tree for the path. I'll try to fix it as soon as I can.

[2018-12-19 08:56] CoderXpert commented on #346
@Vkt0r Yeah that will be very helpful and thanks for picking this up for investigation. Please keep us updated as well :)

[2018-12-23 09:46] SolaWing opened #358 "ambiguous use of `sha1`"
the String extension `sha1` is conflict with [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift/blob/9284485ecd681b04d17e71383d903b5de33516db/Sources/CryptoSwift/String%2BExtension.swift#L26).

there are also many other names in extension may have a potencial collide with other's extension, like `toBase64`. so if these extensions only use internally, it can be marked as internal. or if nee

[2018-12-23 21:31] adamkaplan commented on #358
Agreed, extensions should be marked internal unless they are needed for clients to use Swifter, and prefix makes sense for the properties and functions.

Though, the lack of prefix is as much a bug with CryptoSwift as it is with Swifter

[2019-01-21 07:29] LironGiniApps opened #360 "ProcessAssertion() Unable to acquire assertion for process with PID 0"
Hi, I'm trying to run a local HTTP server which its files are placed in a Bundle object stored in the project(website.bundle).
The project is an iOS project.

My code looks like this:

[code]

When running the server on Simulator it's fine and has no issues.
But, when running on a real device I get an error:
`[ProcessSuspension]  0x280a85e40 - ProcessAssertion() Unable to acquire assertion for pro

[2019-01-21 22:09] adamkaplan commented on #360
Based on a quick search, that exception is most definitely from deep within `WKWebView` and seems correlated with JavaScript issues. One forum post found it happens with memory leaks (i.e. out of memory condition) in JS.

Definitely seems like Swifter should not be the first stop on the blame train. Try hosting your files on the internet or your laptop... very likely it happens when Swifter is not

[2019-01-21 22:20] adamkaplan commented on #353
Can you provide more information on the use case and some code that shows how Swifter is failing to accommodate? Any reason why you cannot combine the cookies into a single `Set-Cookie` header?

The RFC says that a server `can include multiple Set-Cookie header fields`, not that it must. I think this would be a pretty heavy lift without a compelling use case.

[2019-01-22 03:12] Vkt0r commented on #351
Closing this. Please feel free to open it in case the solution proposed above doesn't solve it.

[2019-01-22 03:12] #351 closed, assigned to nobody

[2019-01-22 03:12] #350 closed, assigned to nobody

[2019-01-22 12:33] LironGiniApps commented on #360
Hi Adam,

I've tested my website on Chrome and Safari on my iMac and you are right, the memory does jump by around 1.5 GB, but the page is not reloaded and I believe it's because my iMac has way more RAM than my iPhone does, so WebKit process does not crash.

I guess Swifter can get off the blame train :)
Thank you very much for your response.
Cheers.

[2019-01-22 15:41] Vkt0r commented on #349
@glock45 @julien-c @adamkaplan I emailed the CircleCI team to add the repository in the free OSS plans for macOS in order to add CI for the project. They need the repository to be registered in CircleCI so an admin of the organization or the repository needs to add there and then I can contact them to enable the plan for us.

I'm going to add a new PR to CircleCI support as soon as we have the pro

[2019-01-22 16:19] Vkt0r commented on #306
@shiva28U This is something that can work if you have paralleling testing for example.

[code]

The above code is something I been testing for paralleling testing and I only set ports between `8081..<10000` that's something can be extended to any other range. Note if you have any other error you need to handle it properly.

[2019-01-22 16:20] julien-c commented on #349
Sure @Vkt0r, I'll do it right now. Thanks for your help!

[2019-01-22 16:33] julien-c commented on #349
@Vkt0r Should be good

[2019-01-22 16:56] Vkt0r commented on #349
@julien-c Thanks, I'll let him know to the CircleCI team.

[2019-01-22 17:45] Vkt0r commented on #349
@julien-c Is enabled now the plan for the organization thanks again. I'll be creating a PR soon with CI support for the repository.

[2019-01-28 21:22] Macarse opened #363 "Feature Request: Delay"
I am using swifter for iOS UI testing. My tests setup swifter and with the help of JSON mocked responses I test the UI.

Swifter has been working great but I am missing some kind of delay setup for responses.
The use case is: I want to test that a loading screen is shown while we wait for the response.

Right now I am using:

[code]

What do you think?

[2019-01-29 03:10] Vkt0r commented on #349
@julien-c Can you verify please that the project is added to CircleCI and running? I created a new PR with support for it but CircleCI is not being trigged for some reason.

[2019-01-29 03:11] Vkt0r commented on #349
I checked and the organization is in CircleCI but we need to add the project in CircleCI

[2019-01-31 10:20] #360 closed, assigned to nobody

[2019-02-11 17:26] rishFilet commented on #346
Here is an example i have done for using graphql and can be extended to query parameters as well. Simply match the body request or query parameters to the strings in the actual query params

[code]

[2019-02-12 03:08] Vkt0r opened #365 "Inconsistent semantic version tag discovered in Carthage"
Recently I ran `carthage outdated` in one of my projects and I was very surprised with the output of Carthage:

[code]

Our latest release is `1.4.5` but for some reason, we have a discrepancy with the semantic version of the releases, we have `3.0.0`. One easy solution would remove the tag release as it was released in 2016. Change the version of the tag it wouldn't work as Github would be treate

[2019-02-14 06:00] adamkaplan commented on #365
Delete them if nobody should be using them. There are also tags for 2.0.0, 2.0.1 and 2.0.2 as well...

[2019-02-14 15:39] Vkt0r commented on #365
Agree, let's fix it.

[2019-02-14 15:42] #365 closed, assigned to julien-c, damian-kolakowski, adamkaplan, Vkt0r

[2019-02-14 15:52] Vkt0r opened #366 "Failing test for Linux"
During our integration with CircleCI and support for Linux, we found a test causing problems as it was passing in macOS, tvOS, iOS and failing in Linux. The test includes threading and the use of GCD and Semaphores in Linux.

The name of the test is `IOSafetyTests.testStopWithActiveConnections`. For the moment the test was removed from the `XCTestsManifest.swift` and can be added once we found a p

[2019-02-25 21:09] andynovak12 commented on #346
@Vkt0r I have a question related to this thread. Is it possible to have the same URL return different stubs based on the query's body parameter?

I have the same url that I expect to return two different JSON files based on what is passed into the body query. I tried to do something similar to the suggestions in this thread, but it seems like the second url overrides the first when I setup both.

[2019-02-25 21:13] andynovak12 commented on #285
@AndrewSad were you able to add 2 of the same urls that return different reponses based on the request parameters? I tried the above, and the second stub I setup overrides the previous one, and results in `return HttpResponse.notFound` when executing the first stub.

[2019-02-25 21:15] AndrewSad commented on #285
@andynovak12, actually I rewrote that piece since the time of my previous answer, will post solution in a bit

[2019-02-25 21:20] andynovak12 commented on #285
Thank you @AndrewSad ! I am looking forward to seeing it.

[2019-02-26 04:42] AndrewSad commented on #285
So, method now goes like this:
[code]
New 'magic' inside this function:
[code]
New typealias:
[code]

And usage:
[code]
Notice: `someValues` is the name for our array of `DynamicStubParameter` values.

[2019-02-26 16:00] Vkt0r commented on #346
@andynovak12 I'm seeing that in #285 you have an answer for it. Let me know if you need more help with that but the solution provided is an easy way to prepare the stub based in the `URL`, method, etc

[2019-02-27 18:12] andynovak12 commented on #285
Thanks so much for sharing @AndrewSad !
This works for a request's body parameters as well, by replacing `request.queryParams` with `String(bytes: request.body, encoding: .utf8)!`, and handling if that String contains your required parameters.

[2019-02-27 18:31] AndrewSad commented on #285
You are welcome ;) Got through a lot of pain back in the day to solve this.

[2019-03-01 05:15] josh83abc opened #368 "WKWebView freezes when I start the Swifter http server"
Hi guys!

I'm an experienced developer but a beginner with Swift and iOS, so your help will be very valuable.
My iOS app is based on a WKWebView loading some HTML (hybrid app).

Since the WKWebView cant access to local files, I wanted to run a HTTP server on the iOS device and then use it from inside the WKWebView.

However, when I start the Swifter server like in your example, my WKWebView become

[2019-03-01 09:07] platonsi opened #369 "Xcode 10.2beta compilation issue"
Hello,

There seems to be an issue when compiling Swifter on Xcode 10.2beta. The Errno.swift file produces a compilation error on [line](https://github.com/httpswift/swifter/blob/stable/Sources/Errno.swift#L13):

`return String(cString: UnsafePointer(strerror(errno)))`

The recommendation to fix this issue is to remove the call to the UnsafePointer.

`return String(cString: strerror(errno))`

You

[2019-03-01 14:46] Vkt0r commented on #369
Thank you for reporting this @platonsi. There is a PR with a discussion about it you can see in #367.

[2019-03-06 10:27] sonic555gr commented on #320
Any update on this?

[2019-03-07 09:54] inigo333 commented on #353
Any updates on this?
Shouldn't the type for the response header be `[(String, String)]?` instead of  `[String : String]?` ?

[2019-03-12 13:00] pcoltau commented on #355
Thank you for fixing this issue!

When will it be included in a release?

[2019-03-12 14:19] Vkt0r commented on #355
I'll try to make a release this week.

[2019-03-12 14:32] Vkt0r commented on #368
Hey, @josh83abc 👋. It would be very helpful if you could create a sample project with your issue.

[2019-03-13 09:28] MrSkwiggs commented on #350
@Vkt0r Well the thing is I have no idea how to even use this so writing docs for it would be near to impossible for me at the moment...

[2019-03-14 04:47] #349 closed, assigned to Vkt0r

[2019-03-20 06:20] theRealGupta opened #371 "How to load Html File in WKWebView or SFSafariVC ?"
**How to load HTML by string?**
[code]

This code is mention in your Doc file.

Que 1: What is server[path] ?  Means Path = ??? in place of path what path i will provide?
Que 2: After loading Html file in using `HttpHandlers.directory(NSBundle.mainBundle().resourcePath! + "/www") `
how i will display in our WKWebView or SFSafariVC ? what will be url for that?

[2019-03-20 11:46] theRealGupta commented on #206
Hi,

[code]

this is my code I am a getting

[code]

[2019-03-25 15:24] VitalKz commented on #368
Hi, I think you need to use dispatch to main thread, like this "DispatchQueue.main.async" so you won't block main thread and your app won't freeze.
But as was said above, if you have some example help could be more efficient.

[2019-03-26 12:11] theRealGupta opened #372 "can we use this with Objective C?"
@glock45   my project is completely in objective C. So In project [CocoaHTTPServer ](https://github.com/robbiehanson/CocoaHTTPServer) was used but that is not working properly. so can I use this with Objective C?

[2019-03-26 17:54] #369 closed, assigned to nobody

[2019-03-27 03:22] Vkt0r commented on #371
Uhmm 🤔 I think we need to add more docs to the repository to explain the different uses of the library. I'm going to create a new issue to keep track of missing docs.

For now @anupgupta-arg I'm going to explain to you each one of your cases in the best I can for now 😀:

In the example of the `README` is where you define your routes for example:

[code]

By default, the server is going to run in `

[2019-03-27 03:26] Vkt0r opened #374 "Add more documentation"
I've seen people struggling to understand how the library works for several cases like loading files, serving responses, etc. (#371, #354, #350). We have some examples in the `DemoServer.swift` and brief docs about how everything works but we can create a more robust documentation with examples and explanations in the best way that everybody can contribute it.

This ticket would track the progress

[2019-03-27 03:30] Vkt0r commented on #355
@pcoltau A new release [`1.4.6`](https://github.com/httpswift/swifter/releases/tag/1.4.6) is up.

[2019-03-27 15:07] zeusmedina opened #375 "Does Swifter persist any data/cache outside of its POD?"
Running into a strange problem that I believe is related to Swifter.
I was on a dev branch writing some unit tests (around our networking code, in theory not interacting with Swifter in any way). These unit tests suddenly broke all of our Swifter tests.
The issue persists across branches (master). I also re-cloned the project into a different directory and am observing the same problem.

TLDR: Is

[2019-03-27 17:49] #375 closed, assigned to nobody

[2019-03-27 17:50] zeusmedina commented on #375
Running this fixed my issue
https://gist.github.com/maciekish/66b6deaa7bc979d0a16c50784e16d697

[2019-03-27 19:40] jalavosus opened #376 "server.start() doesn't actually do anything"
When trying to run the following code (more or less copied from the readme)

[code]

The HTTP server doesn't actually start. Like, I can run `swift build` just fine, but actually executing the compiled binary just starts and exits normally. I would assume this isn't supposed to happen, but I can't find anything in the documentation about how one should actually start the server (the documentation

[2019-03-28 09:18] pcoltau commented on #355
I've tested the new version, and unfortunately, there is still an issue.

If I change the route registation in my test to the following, then the test will fail:

[code]

[2019-03-28 13:13] megakode opened #377 "Broken pipe error"
Symptom:
On some iOS devices i get a HTTP 200 as if everything is ok when sharing a directory, but an empty response is returned.

Digging deeper i found that `sendFileImpl(...)` (in Socket+File.swift) returns -1 after calling `write(...)` and the posix `ERRNO` is set to "Broken Pipe".

When trying to read the same file directly from Swift using the FileManager everything is ok, so no missing file

[2019-03-28 14:43] Vkt0r commented on #355
Uhmm interesting I'll reopen this and I'll take a look as soon as I can. Thanks for reporting it @pcoltau.

[2019-03-28 21:56] scottiedog45 opened #378 "router urls with "?""
First and foremost thanks for the fun library! Makes my integration tests pretty painless =)

Perhaps I've missed something in the docs, but:

Going from version 1.4.5 -> 1.4.6, it seems Swifter is unable to correctly parse the following url when my app requests it:

`/invoices/?page=1`

The package IS able to find the file with the json in it, but when my app makes a request to this url in `1.4.6

[2019-03-30 19:32] Vkt0r commented on #355
@pcoltau The issue has been addressed in #379.

[2019-03-31 00:12] Vkt0r commented on #378
Hey, @scottiedog45 👋 Thanks for reporting this and for your kind words! Unfortunately, we're not supporting query parameters yet in the library, by default there are stripped when the route is registered or the route is received.

So this means that `/invoices/?page=1` it should be equal to `/invoices/?page=2` and equal to `/invoices` by default. There is an open discussion in #346 and that's some

[2019-03-31 01:09] Vkt0r commented on #377
Hey, @megakode Thanks for reporting this. Can you please run the `SwifterSampleiOS` in your iPad Mini x @ iOS x.x to see the result there when the route`/files/:path` is requested? Unfortunately, I don't have that specific device to run it myself.

[2019-04-02 14:26] #355 closed, assigned to Vkt0r

[2019-04-02 23:57] Guru-Work commented on #376
yes, I am facing this issue current with the latest `1.4.6` version.
But when I make the Podfile to use the `1.4.5` specific version, I am able to see that the server starts up and works as expected.
[code]

Not sure what changed between `1.4.5` and `1.4.6` but I am guessing should be relatively easily to fix.

[2019-04-03 03:14] Vkt0r commented on #376
Hey @Guru-Work @jalavosus, thanks for reporting this. I tried the latest release myself in a new iOS project and everything is working fine. Can you please give me more context about the issue? Where are you testing the latest version?

I can see in the above example that a strong reference to the server is not retained. Is this being tested in a `Playground`?

Also, I want to point you guys to th

[2019-04-04 09:01] nichbar opened #380 "Should swifter return content-length when using shareFilesFromDirectory to share files?"
Lately, I've been using swifter on an iOS app to create a local http server for installing apps that is signed with enterprise certificate within app. (Here's the [demo](https://github.com/nichbar/Ipa-Install))

[code]

Everything's fine by using the code pasted above, until i try to install an app which size is over 1 gigabyte.

In this circumstance, iOS will stuck like 40 sec before it starts to

[2019-04-04 21:03] Guru-Work commented on #376
Thanks for the documentation @Vkt0r but unfortunately I still see this issue. I am trying to start the server from the UI Tests module but I guess the context is not important.

I use Xcode 10.1 and Swift 4.2 which is the same as my dev environment for my bigger project as well.

[code]

With the above code when I use `Swifter, 1.4.5` everything works fine but unfortunately not with `Swifter 1.4.6

[2019-04-04 21:31] jalavosus commented on #376
@Vkt0r,

The only context I can give is that I'm trying to build a command line -- non-iOS, non-macOS -- http server. So the iOS examples don't actually help me any, because I'm not starting the server in an app's init function. I'm trying to make it the main process of a command line binary.

[2019-04-05 02:44] Vkt0r commented on #376
@Guru-Work @jalavosus Thanks again for taking the time to explain more about the issue. @Guru-Work you made me think when you mentioning the word `UI-Test` and I decided to test the latest version in a big suite and _voila_, I was able to find the bug.

You're completely right the bug was introduced in the latest version regarding some refactoring I made myself in the `HttpRouter` and unfortunatel

[2019-04-05 18:29] Guru-Work commented on #376
Thank you for looking into this @Vkt0r . Do you know if Swifter could also be used as a proxy server and if so, could you please point me towards some sample code?

[2019-04-05 22:35] DrBeak1 commented on #378
@scottiedog45 if you're just trying to differentiate between requests based on params you can use the same route, just check the `queryParams` variable on the request object.

However, I actually do **not** believe that's what you're asking. If I understand correctly you're saying that you have the `/invoces` route set up and when you call `/invoces/?page=1` you're seeing a 404 response. Is that c

[2019-04-05 23:53] DrBeak1 opened #381 "Registered routes returning 404"
Having issues potentially related to overlapping routes:
`/user/v1/orders/rating/pending`
`/user/:id/order/active`
I thought it may be addressed by https://github.com/httpswift/swifter/pull/379 but even after modifying the files with these changes still seeing 404s returned for `/user/v1/orders/rating/pending`.

[2019-04-07 03:22] Vkt0r commented on #381
@DrBeak1 Thanks for reporting this. I'm afraid this is a duplicate of #376 and after reading more of #378 too!. Your test case was very useful. I'm working on a fix for the issue that would fix the current issues with the routes overlapping.

[2019-04-07 03:42] Vkt0r commented on #376
@Guru-Work @jalavosus Can you please point your `Podfile` or `Cartfile` to #382 and give a try with your current repository and let me know if the issue was fixed?

[2019-04-07 03:42] Vkt0r commented on #381
@DrBeak1 Can you please point your `Podfile` or `Cartfile` to #382 and give it a try with your current repository and let me know if the issue was fixed?

[2019-04-07 03:43] Vkt0r commented on #378
@scottiedog45  Can you please point your `Podfile` or `Cartfile` to #382 and give a try with your current repository and let me know if the issue was fixed?

[2019-04-08 18:17] DrBeak1 commented on #381
@Vkt0r yes this does fix the issue. Thank you very much and sorry for the duplicate.

[2019-04-08 18:17] #381 closed, assigned to nobody

[2019-04-08 18:18] DrBeak1 commented on #381
fixed by https://github.com/httpswift/swifter/pull/382

[2019-04-08 18:49] Vkt0r commented on #381
Hey, @DrBeak1 No problem with the duplicate, your case was very helpful to fix the issue, so thanks for it. Glad to know your issue was fixed 😀.

[2019-04-08 18:54] Vkt0r commented on #380
Hey, @nichbar Thanks for reporting this issue! It makes sense, did you want to create a PR with it? I'll be happy to review it

[2019-04-09 05:16] theRealGupta commented on #95
Hi @glock45
Thank you for the solution its help a lot to me. but your solution is outdated because of the swift update.
so I did some Changes in your solution. **_Please verify that._**

[code]
 Thank you,
Anup Gupta

[2019-04-09 05:56] theRealGupta opened #383 "how to delete files ?"

[2019-04-09 06:32] theRealGupta commented on #95
**How to Upload Folder ???**

I am able to upload a single file successfully.
selection of the folder and and in **`server.post["/upload"]`**  I am geeting all files of folder.
but unable to upload folder.

[2019-04-09 10:20] nichbar commented on #380
Sure, i will create a PR asap.

[2019-04-09 22:26] DrBeak1 opened #384 "SocketIO support"
Not an issue. A help request.

This may be a long shot - but has anyone successfully got this working with SocketIO? I know SocketIO is finicky about server engines, so I'm guessing this is not possible; but hoping others have bumped into this. When trying to connect to the swifter websocket, the SocketIO client just throws "Invalid HTTP upgrade".

[2019-04-09 22:43] Guru-Work commented on #376
Works fine on the forked branch you created PR with. I checked by deleting the pod and then adding the below code on my UI test target
[code]

Thanks works as expected.

Just wondering If there a place to ask questions about Swifter in general.
I have a question regarding the https implementation for Swifter and I think it would be a very good use case. I also see that the SSL implementation was u

[2019-04-10 02:59] Vkt0r commented on #376
@Guru-Work Thanks for reporting your feedback. Regarding your question:

You can always open an issue and tag it as a question in the repository and you'll receive an answer for someone with knowledge about it.

About your other question:

I never tried actually so I cannot give you an exact answer but I encourage to open an issue and we can investigate if someone is using it in this way or there

[2019-04-10 15:30] #378 closed, assigned to nobody

[2019-04-10 15:31] Vkt0r commented on #376
Closing this. @Guru-Work Please feel free to create more issues regarding your questions above.

[2019-04-10 15:31] #376 closed, assigned to Vkt0r

[2019-04-12 08:19] kimaldis opened #386 "Broken shareFilesFromDirectory() ?"
I was having trouble serving files from a location using shareFilesFromDirectory and tracked it down to a couple of lines in Socket+File.swift. This may be completely the wrong solution and it seems odd that no-one's picked up on it  but it's working for me now so if it helps anyone ...

line 10:
`      #if os(iOS) || os(tvOS) || os (Linux) || os (macOS)  // ka added macOS`

and line 44:
`    #if

[2019-04-12 23:04] dvhdr commented on #206
Note that you'll need to add:

[code]

...to you Info.plist, to get the app to allow you to load from your local server! You can (should) probably be more secure, eg. restrict it to localhost.

[2019-04-13 06:40] YiYiZheng opened #388 "How to return sandbox files instead of from network?"
What I want to do is to create a local server, and create a WKWebview, load a request. The local server could return resources like js, css, png, mp4 and so on.

How can I achieve this in this repository? It is just not so clear. Could you help me please.

I just need example like [https://github.com/robbiehanson/CocoaHTTPServer](CocoaHTTPServer).

Thanks!!!

[2019-04-13 07:31] YiYiZheng commented on #388
[code]

Why is always 404?

[2019-04-13 08:22] YiYiZheng commented on #206
[code]

status code is 404 in existing project, but works in new project. why??

[2019-04-13 10:44] YiYiZheng opened #389 "Could not load image in html?"
[code]

status code is 404 in existing project, but works in new project. why??

_Originally posted by @YiYiZheng in https://github.com/httpswift/swifter/issues/206#issuecomment-482788530_

[2019-04-13 10:44] #388 closed, assigned to nobody

[2019-04-13 12:09] YiYiZheng commented on #389
Solved by replace
[code]
with
[code]

[2019-04-15 06:15] Joebayld commented on #386
This broke for me as well on the latest version... 1.4.6.

However, I tried your fix and it didn't work.

[2019-04-15 06:22] Joebayld commented on #386
Turns out the bug was introduced in this commit... perhaps we need better testing on here. https://github.com/httpswift/swifter/commit/18d34f2451230eb7b7603d11c1de58c8a045dfb3

[2019-04-15 14:46] Vkt0r commented on #386
Hey, @Joebayld @kimaldis Thanks for reporting this. I would need more details about the issue, can you provide with a sample project with the reproduced bug?

[2019-04-15 15:50] kimaldis commented on #386
I've dropped a stripped down version of the project into my dropbox [here](https://www.dropbox.com/s/8zywvkpyxboiy9g/EarwigServer.zip?dl=0) . sorry about any junk left in there.

built out of the box it fails when you browse to http://localhost:8082/root/<foo.html. Editing the two lines I've marked in Socket+File.swift to include (macOS) should fix it. I found I had to clean the build folder to ge